<script lang="ts">
import '../item.css'

import type { ContextMenuCheckboxItemProps, ContextMenuCheckboxItemEmits, CheckboxCheckedState } from 'radix-vue'

export interface ContextMenuCheckboxProps extends Omit<ContextMenuCheckboxItemProps, 'checked'> {}

export type ContextMenuCheckboxEmits = Omit<ContextMenuCheckboxItemEmits, 'update:checked'>
</script>

<script setup lang="ts">
import { ContextMenuCheckboxItem, ContextMenuItemIndicator } from 'radix-vue'
import { useForwardPropsEmitsSkip } from '@/composables/uikit/useForwardPropsEmitsSkip'

import CheckIcon from '~mingcute/system/check_circle_line.svg'
import MinusIcon from '~mingcute/system/minus_circle_line.svg'

const model = defineModel<CheckboxCheckedState>({ required: true })
const props = defineProps<ContextMenuCheckboxProps>()
const emits = defineEmits<ContextMenuCheckboxEmits>()
const forwarded = useForwardPropsEmitsSkip(props, emits)
</script>

<template>
  <ContextMenuCheckboxItem v-bind="forwarded" v-model:checked="model" class="flopui-menu-item">
    <ContextMenuItemIndicator class="flopui-menu-item-indicator">
      <MinusIcon v-if="model === 'indeterminate'" />
      <CheckIcon v-else />
    </ContextMenuItemIndicator>
    <div class="flopui-menu-item-contents">
      <slot />
    </div>
    <div class="flopui-menu-item-right">
      <slot name="right" />
    </div>
  </ContextMenuCheckboxItem>
</template>
