<script setup lang="ts">
import '../item.css'

import { ContextMenuLabel as RadixContextMenuLabel } from 'radix-vue'
</script>

<template>
  <RadixContextMenuLabel class="flopui-menu-item-label">
    <slot />
  </RadixContextMenuLabel>
</template>
