<script lang="ts">
import '../item.css'

import type { ContextMenuRadioItemProps, ContextMenuRadioItemEmits } from 'radix-vue'

export interface ContextMenuRadioProps extends ContextMenuRadioItemProps {}

export type ContextMenuRadioEmits = ContextMenuRadioItemEmits
</script>

<script setup lang="ts">
import { ContextMenuRadioItem, ContextMenuItemIndicator, useForwardPropsEmits } from 'radix-vue'

const props = defineProps<ContextMenuRadioProps>()
const emits = defineEmits<ContextMenuRadioEmits>()
const forwarded = useForwardPropsEmits(props, emits)
</script>

<template>
  <ContextMenuRadioItem v-bind="forwarded" :value="value" class="flopui-menu-item">
    <ContextMenuItemIndicator class="flopui-menu-item-indicator">
      <div class="flopui-menu-radio-dot" />
    </ContextMenuItemIndicator>
    <div class="flopui-menu-item-contents">
      <slot />
    </div>
    <div class="flopui-menu-item-right">
      <slot name="right" />
    </div>
  </ContextMenuRadioItem>
</template>
