<script lang="ts">
import '../menu.css'
import '../item.css'

import type { ContextMenuSubContentEmits, ContextMenuSubContentProps } from 'radix-vue'

export interface ContextSubmenuProps extends ContextMenuSubContentProps {}

export type ContextSubmenuEmits = ContextMenuSubContentEmits
</script>

<script setup lang="ts">
import { ContextMenuPortal, ContextMenuSub, ContextMenuSubContent, ContextMenuSubTrigger } from 'radix-vue'
import { useForwardPropsEmitsSkip } from '@/composables/uikit/useForwardPropsEmitsSkip'

import ChevronRight from '~mingcute/arrow/right_line.svg'

const open = defineModel<boolean>('open')
const props = defineProps<ContextSubmenuProps>()
const emits = defineEmits<ContextSubmenuEmits>()
const forwarded = useForwardPropsEmitsSkip(props, emits, [], ['open'])
</script>

<template>
  <ContextMenuSub v-model:open="open">
    <ContextMenuSubTrigger class="flopui-menu-item">
      <div v-if="$slots.icon" class="flopui-menu-item-icon" aria-hidden="true">
        <slot name="icon" />
      </div>
      <div class="flopui-menu-item-contents">
        <slot />
      </div>
      <div class="flopui-menu-item-right">
        <slot name="right" />
        <ChevronRight aria-hidden="true" class="flopui-menu-item-more" />
      </div>
    </ContextMenuSubTrigger>
    <ContextMenuPortal>
      <ContextMenuSubContent
        v-bind="forwarded"
        class="flopui-menu-submenu flopui-menu-content"
        :side-offset="2"
        :align-offset="-5"
        :collision-padding="8"
      >
        <div class="flopui-menu-viewport">
          <slot name="items" />
        </div>
      </ContextMenuSubContent>
    </ContextMenuPortal>
  </ContextMenuSub>
</template>
