<script setup lang="ts">
import { ContextMenuRadioGroup as RadixContextMenuRadioGroup } from 'radix-vue'
</script>

<template>
  <RadixContextMenuRadioGroup>
    <slot />
  </RadixContextMenuRadioGroup>
</template>
