<script lang="ts">
import '../item.css'

import type {
  ContextMenuItemProps as RadixContextMenuItemProps,
  ContextMenuItemEmits as RadixContextMenuItemEmits,
} from 'radix-vue'

export interface ContextMenuItemProps extends RadixContextMenuItemProps {
  danger?: boolean
}

export type ContextMenuItemEmits = RadixContextMenuItemEmits
</script>

<script setup lang="ts">
import { ContextMenuItem as RadixContextMenuItem } from 'radix-vue'
import { useForwardPropsEmitsSkip } from '@/composables/uikit/useForwardPropsEmitsSkip'

const props = defineProps<ContextMenuItemProps>()
const emits = defineEmits<ContextMenuItemEmits>()
const forwarded = useForwardPropsEmitsSkip(props, emits, ['danger'])
</script>

<template>
  <RadixContextMenuItem v-bind="forwarded" class="flopui-menu-item" :class="{ danger }">
    <div v-if="$slots.icon" class="flopui-menu-item-icon" aria-hidden="true">
      <slot name="icon" />
    </div>
    <div class="flopui-menu-item-contents">
      <slot />
    </div>
    <div class="flopui-menu-item-right">
      <slot name="right" />
    </div>
  </RadixContextMenuItem>
</template>
