<script setup lang="ts">
import '../item.css'

import { ContextMenuSeparator as RadixContextMenuSeparator } from 'radix-vue'
</script>

<template>
  <RadixContextMenuSeparator class="flopui-menu-item-separator" />
</template>
