<script setup lang="ts">
import type { FilterEntity, FilterType } from '@/composables/filterCourses'
import type { FilteredCourseColumns } from './CoursesWrapper.vue'

import { deselectCourses, shiftCourseBlock } from '@/ts/courseSelection'
import FilterIcon from '@/components/management/filters/FilterIcon.vue'
import { computed, Ref } from 'vue'

interface Props {
  filter: FilterType
  entity: FilterEntity | null
  courses: FilteredCourseColumns
}

const props = defineProps<Props>()

const time: Ref<{ hours: number; minutes: number }> = computed(() => {
  if (props.courses.leaf) return { hours: props.courses.totalTime.hours, minutes: props.courses.totalTime.minutes }

  let totalHours = 0
  let totalMinutes = 0

  // get total time for nodes in left column
  for (const node of props.courses.left) {
    totalHours += node.totalTime.hours
    totalMinutes += node.totalTime.minutes
  }

  // add total time for nodes in right column
  for (const node of props.courses.right) {
    totalHours += node.totalTime.hours
    totalMinutes += node.totalTime.minutes
  }

  // calculate total hours from minute overflow
  if (totalMinutes >= 60) {
    totalHours += Math.floor(totalMinutes / 60)
    totalMinutes %= 60
  }

  return { hours: totalHours, minutes: totalMinutes }
})

const formattedTime = computed(() => {
  const { hours, minutes } = time.value

  if (minutes === 0) {
    return `${hours}h`
  }

  const paddedMinutes = String(minutes).padStart(2, '0')

  return `${hours}h${paddedMinutes}`
})
</script>

<template>
  <div class="course-block">
    <div class="course-block-background" />
    <div class="course-block-heading" @click.shift.self="shiftCourseBlock(courses)" @click.exact="deselectCourses">
      <FilterIcon :filter="filter" />
      <span v-if="entity" class="entity-name" :title="entity.name"> {{ entity.name }} - {{ formattedTime }} </span>
      <i v-else class="entity-name" :title="$t('management.courses.undefined')">
        {{ $t('management.courses.undefined') }} - {{ formattedTime }}
      </i>
    </div>
    <div class="course-block-contents">
      <slot />
    </div>
  </div>
</template>

<style scoped>
/***************************************************************************************
                                   !!! WARNING !!!
     Changing anything here may affect the calculations of the lazy scroller!!!!!!!!
  MAKE SURE TO DO THE APPROPRIATE CHANGES IF THE LAYOUT CHANGES, EVEN BY A FEW PIXELS!!
 ***************************************************************************************/

.course-block {
  border-radius: 6px;
  padding: 0.25rem 0.5rem;
  background-color: var(--color-background-block);
}

.course-block-heading {
  display: flex;
  gap: 1rem;
  font-weight: 600;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  /* Prevent text selection when shift + click */
  user-select: none;
}

.entity-name {
  overflow: hidden;
  white-space: nowrap;
  word-break: manual;
  text-overflow: ellipsis;
  width: 100%;
}

.course-block-heading :deep(svg) {
  width: 1.25rem;
  height: 1.25rem;
  flex-shrink: 0;
}
</style>
