<script lang="ts">
export enum ColorMode {
  COURSE_TYPE = 'Course Type',
  MODULE = 'Module',
}
</script>

<script setup lang="ts">
import type { Course } from '@/ts/type'
import type { DisplayInformation, FilteredCourseLeafLayout } from './CoursesWrapper.vue'

import { computed, watch } from 'vue'
import { storeToRefs } from 'pinia'

import { useSelectedCourseStore } from '@/stores/timetable/selectedCourse'
import { useCourseTypeStore } from '@/stores/timetable/courseType'
import { addCourse, emitCourse, shiftCourse } from '@/ts/courseSelection'
import { generateColors } from '@/ts/color'

type Props = {
  displayed: DisplayInformation
  courses: FilteredCourseLeafLayout
  colorMode: ColorMode
}

const props = defineProps<Props>()
const coursesInView = computed(() =>
  props.courses.children.slice(props.courses.skipped, props.courses.skipped + props.courses.rendered)
)

const selectedCourseStore = useSelectedCourseStore()
const { selectedCourses } = storeToRefs(selectedCourseStore)

// Function to check if a course is selected among the courses selected with ctrl
const areSelectedCourses = (course: Course) => {
  return selectedCourses.value.find((c) => c.id === course.id)
}

const courseTypesStore = useCourseTypeStore()
generateColors()
watch(
  () => courseTypesStore.courseTypes,
  () => generateColors()
)

function getCourseStyle(course: Course) {
  switch (props.colorMode) {
    case ColorMode.COURSE_TYPE:
      return { backgroundColor: `var(--color-${course.type.name})` }
    case ColorMode.MODULE:
      return {
        backgroundColor: course.module.display.color_bg,
        color: course.module.display.color_txt,
      }
    default:
      return {}
  }
}
</script>

<template>
  <div
    class="courses-item-wrapper"
    :class="{
      'all-hidden': !displayed.type && !displayed.module && !displayed.teacher && !displayed.group && !displayed.period,
    }"
    :style="{ height: `${courses.height}px`, '--item-width': `${courses.itemWidth}px` }"
  >
    <div class="filler" :style="{ height: `${courses.topFiller}px` }" />

    <div class="courses-item-container">
      <div
        v-for="course in coursesInView"
        :key="course.id"
        class="course"
        :style="getCourseStyle(course)"
        :class="{ 'selected-course': areSelectedCourses(course) }"
        @click.exact="emitCourse(course, $event)"
        @click.ctrl="addCourse(course)"
        @click.shift="shiftCourse(course, courses.children)"
      >
        <span
          v-if="colorMode != ColorMode.COURSE_TYPE && displayed.type"
          :title="$t('management.courses.courseType.tooltip', { courseType: course.type.name })"
        >
          {{ course.type.name }}
        </span>

        <span
          v-if="colorMode != ColorMode.MODULE && displayed.module"
          :title="$t('management.courses.module.tooltip', { module: course.module.abbrev })"
        >
          {{ course.module.abbrev }}
        </span>

        <template v-if="displayed.teacher">
          <span v-if="course.tutor" :title="$t('management.courses.tutor.tooltip', { tutor: course.tutor.username })">
            {{ course.tutor.username }}
          </span>
          <span v-else class="unset" :title="$t('management.courses.tutor.undefined')">
            {{ $t('management.courses.undefinedShort') }}
          </span>
        </template>

        <template v-if="displayed.group">
          <span v-if="!course.groups.length" class="not-applicable">N/A</span>
          <span
            v-else
            :title="
              $t(
                'management.courses.group.tooltip',
                {
                  groups:
                    course.groups.length > 1
                      ? course.groups[0].train_prog.abbrev +
                        '-' +
                        course.groups[0].name +
                        ' + ' +
                        (course.groups.length - 1)
                      : course.groups[0].train_prog.abbrev + '-' + course.groups[0].name,
                },
                course.groups.length
              )
            "
          >
            {{ course.groups[0].train_prog.abbrev + '-' + course.groups[0].name }}
            <span v-if="course.groups.length > 1" class="additional"> +{{ course.groups.length - 1 }}</span>
          </span>
        </template>

        <template v-if="displayed.period">
          <span v-if="course.period" :title="$t('management.courses.period.tooltip', { period: course.period.name })">
            {{ course.period.name }}
          </span>
          <span v-else class="unset" :title="$t('management.courses.period.undefined')">
            {{ $t('management.courses.undefinedShort') }}
          </span>
        </template>
      </div>
    </div>

    <div class="filler" :style="{ height: `${courses.bottomFiller}px` }" />
  </div>
</template>

<style scoped>
/***************************************************************************************
                                   !!! WARNING !!!
     Changing anything here may affect the calculations of the lazy scroller!!!!!!!!
  MAKE SURE TO DO THE APPROPRIATE CHANGES IF THE LAYOUT CHANGES, EVEN BY A FEW PIXELS!!
 ***************************************************************************************/

.courses-item-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;

  /* flexbox wizardry - prevent some unfortunate properties of flexbox to show up uninvited */
  min-width: 0;
}

.course {
  /* noinspection CssUnresolvedCustomProperty */
  width: var(--item-width);
  display: flex;
  flex-direction: column;
  padding: 0.2rem 0.25rem;
  font-size: 0.8rem;
  font-weight: 600;
  border: 1px var(--color-text-primary) solid;
  cursor: pointer;
  /* Prevent text selection when shift + click */
  user-select: none;
  /* flexbox wizardry - prevent some unfortunate properties of flexbox to show up uninvited */
  min-width: 0;
}

.selected-course {
  outline: 4px currentColor solid;
  outline-offset: -3px;
  filter: brightness(0.85);
}

.course:empty {
  height: 1rem;
  width: 1rem;
}

.course span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.unset {
  font-style: italic;
  font-weight: bold;
}

.not-applicable {
  font-style: italic;
}

.additional {
  font-style: italic;
  font-size: 0.8em;
}
</style>
