<script setup lang="ts">
import './select.css'

import { SelectSeparator } from 'radix-vue'
</script>

<template>
  <SelectSeparator class="flopui-select-separator">
    <slot />
  </SelectSeparator>
</template>
