<script lang="ts">
import './select.css'

import type { SelectItemProps as RadixSelectItemProps } from 'radix-vue'

export interface SelectItemProps extends RadixSelectItemProps {}
</script>

<script setup lang="ts">
import { SelectItem, SelectItemIndicator, SelectItemText, useForwardProps } from 'radix-vue'
import CheckIcon from '~mingcute/system/check_circle_fill.svg'

const props = defineProps<SelectItemProps>()
const forwarded = useForwardProps(props)
</script>

<template>
  <SelectItem v-bind="forwarded" class="flopui-select-item">
    <SelectItemText>
      <slot>
        {{ value }}
      </slot>
    </SelectItemText>
    <SelectItemIndicator class="flopui-select-item-indicator">
      <CheckIcon />
    </SelectItemIndicator>
  </SelectItem>
</template>
