.flopui-select-item {
  font-size: 0.875rem;
  line-height: 1rem;
  border-radius: var(--border-radius-small);
  display: flex;
  align-items: center;
  height: 1.625rem;
  padding: 0 0.5rem;
  position: relative;
  user-select: none;
  white-space: nowrap;
}

.flopui-select-item span {
  overflow: hidden;
  text-overflow: ellipsis;
}

.flopui-select-item[data-disabled] {
  color: var(--color-text-muted);
  pointer-events: none;
}

.flopui-select-item[data-state='checked'] {
  background-color: var(--color-background-accent-light);
  color: var(--color-text-accent);
}

.flopui-select-item[data-highlighted] {
  outline: none;
  background-color: var(--color-background-accent);
  color: var(--color-text-accent-contrast);
}

.flopui-select-label {
  padding: 0 0.5rem;
  font-size: 0.75rem;
  line-height: 1.5rem;
  color: var(--color-text-muted);
}

.flopui-select-separator {
  height: 1px;
  margin: 0.35rem -0.25rem;
  background-color: var(--color-separator);
}

.flopui-select-item-indicator {
  width: 1.5rem;
  height: 1.5rem;
  fill: currentColor;
  position: absolute;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem;
}

[dir='ltr'] .flopui-select-item-indicator {
  right: 0;
}

[dir='ltr'] .flopui-select-item,
[dir='ltr'] .flopui-select-label {
  padding-right: 1.5rem;
}

[dir='rtl'] .flopui-select-item-indicator {
  left: 0;
}

[dir='rtl'] .flopui-select-item,
[dir='rtl'] .flopui-select-label {
  padding-left: 1.5rem;
}
