@keyframes flopui-rotate {
  to { transform: rotate(360deg); }
}

@keyframes flopui-fade-in {
  from { opacity: 0; }
}

@keyframes flopui-fade-out {
  to { opacity: 0; }
}

@keyframes flopui-slide-up-and-fade-in {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
}

@keyframes flopui-slide-right-and-fade-in {
  from {
    opacity: 0;
    transform: translateX(-2px);
  }
}

@keyframes flopui-slide-down-and-fade-in {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }
}

@keyframes flopui-slide-left-and-fade-in {
  from {
    opacity: 0;
    transform: translateX(2px);
  }
}
