@import '@/assets/fonts/fontface.css';
@import './animations.css';

@import './themes/default.css';
@import './themes/dark.css';

html,
body,
#app {
  width: 100%;
  height: 100%;
  min-height: 100vh;
}
