@import './globals.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.__histoire-render-story:not(.__histoire-render-custom-controls) > [data-v-app] {
  display: flex;
  height: 100%;
  width: 100%;
}

.__histoire-render-story:not(.__histoire-render-custom-controls) > [data-v-app] > div {
  height: 100%;
  width: 100%;
}

.__histoire-render-story:not(.__histoire-render-custom-controls), .within-iframe {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  font-synthesis: none;

  color: var(--color-text-primary);
}

.__histoire-render-story:not(.__histoire-render-custom-controls) {
  min-height: 100vh;
  padding: 0.5rem;

  /* Sometimes you got to trick the browser into doing what you want :') */
  height: 0;
}

.histoire-story-variant-grid-item .__histoire-render-story:not(.__histoire-render-custom-controls) {
  min-height: auto;
  height: auto;
}

hr {
  background-color: rgb(var(--_histoire-color-gray-500) / 0.05);
  height: 1px;
  width: 100%;
}

[data-v-app] > .histoire-button {
  margin-left: 0.5rem;
}
