@import 'modern-normalize/modern-normalize.css';
@import './globals.css';

body {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;

  text-rendering: optimizeLegibility;
  font-synthesis: none;

  background: var(--color-background-secondary) fixed;
  color: var(--color-text-primary);
}

/* If you're changing the style of links, don't forget to also change SimpleButton.vue __look-link */
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: underline;
}

a:hover {
  color: #535bf2;
}

#app {
  display: flex;
  flex-direction: column;
}

#app header {
  flex: 0 1 auto;
}

#app main {
  flex: 1 1 auto;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
