<script setup lang="ts">
import { ref } from 'vue'
import SimpleButton from '../button/SimpleButton.vue'
import AlertDialog, { AlertDialogType, AlertDialogColor } from './AlertDialog.vue'

const dialogRef = ref<InstanceType<typeof AlertDialog>>()
const processing = ref(false)

const TYPES = [
  AlertDialogType.QUESTION,
  AlertDialogType.WARNING,
  AlertDialogType.DANGER,
  AlertDialogType.SUCCESS,
  AlertDialogType.PLAIN,
]
const COLORS = [
  AlertDialogColor.ACCENT,
  AlertDialogColor.WARNING,
  AlertDialogColor.DANGER,
  AlertDialogColor.SUCCESS,
  undefined,
]

function wait(time: number) {
  return new Promise((r) => setTimeout(r, time))
}

function performAction() {
  alert('Removed System32 from the puter! :3')
}
</script>

<template>
  <Story title="dialog/AlertDialog">
    <Variant title="Triggered by a button">
      <template #default>
        <div class="dialog-button-grid">
          <template v-for="type in TYPES" :key="type">
            <div class="dialog-button-grid-type">{{ type[0].toUpperCase() + type.slice(1) }} dialogs</div>
            <template v-for="color in COLORS" :key="color">
              <AlertDialog :type="type" :color="color" @action="performAction">
                <template #trigger>Color {{ color || 'default' }}</template>
                <template #title>This is what an alert dialog looks like</template>
                <template #content>
                  This is the body of the alert dialog, explaining the user what's happening and asking for their input.
                </template>
                <template #cancel>Cancel</template>
                <template #action>Continue</template>
              </AlertDialog>
            </template>
          </template>
        </div>
      </template>

      <template #controls />
    </Variant>
    <Variant title="Triggered by imperative API">
      <template #default>
        <SimpleButton @click="dialogRef?.openDialog()">Open dialog</SimpleButton>

        <AlertDialog ref="dialogRef">
          <template #title>It works!</template>
          <template #content>This alert dialog was opened using an imperative API. Cool!</template>
          <template #cancel>Not that cool</template>
          <template #action>Alright</template>
        </AlertDialog>
      </template>
      <template #controls />
    </Variant>
    <Variant title="Asynchronous processing">
      <template #default>
        <AlertDialog
          :type="AlertDialogType.QUESTION"
          :color="AlertDialogColor.ACCENT"
          :processing="processing"
          @action="
            (e) => {
              e.preventDefault()
              processing = true
              wait(2500).then(() => {
                processing = false
                e.dialog.closeDialog()
              })
            }
          "
        >
          <template #trigger>Confirm changes</template>
          <template #title>Are you sure?</template>
          <template #content>This will override any existing data. Make sure you got everything right!</template>
          <template #cancel>Cancel</template>
          <template #action>Confirm</template>
        </AlertDialog>
      </template>
      <template #controls />
    </Variant>
  </Story>
</template>

<style scoped>
.dialog-button-grid {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(5, 1fr);
}

.dialog-button-grid-type {
  grid-column: 1 / -1;
  margin-top: 1rem;
}
</style>

<docs lang="md">
A modal dialog that interrupts the user with important content and expects a response.

The dialog presents the user with two buttons: one referred to as "cancel", and one referred to as the "action" button.
By default, the focus is set to the cancel button. It is not possible to close the dialog by clicking elsewhere, or via
a close button. The user must make a choice.

It is possible to change the appearance of the dialog by changing its type. Note that this is purely aesthetic and
does not convey any extra information. The icon is always hidden to screen readers.
</docs>
