<script lang="ts">
import './dialog.css'

import { type DialogInstance, DialogEvent } from './Dialog.vue'
import { ButtonColor, ButtonLook } from '@/components/uikit/button/SimpleButton.vue'

export type AlertDialogInstance = DialogInstance

export class AlertDialogEvent extends DialogEvent {
  constructor(type: string, dialog: AlertDialogInstance) {
    super(type, dialog)
  }
}

export enum AlertDialogColor {
  ACCENT = 'accent',
  WARNING = 'warning',
  DANGER = 'danger',
  SUCCESS = 'success',
}

export enum AlertDialogType {
  QUESTION = 'question',
  WARNING = 'warning',
  DANGER = 'danger',
  SUCCESS = 'success',
  PLAIN = 'plain',
}

export interface AlertDialogProps {
  triggerAsChild?: boolean
  type?: AlertDialogType
  color?: AlertDialogColor
  class?: string
  overlayClass?: string

  /** Turns the trigger button into an icon button. No effect if `as-child` is `true`. */
  iconButton?: boolean
  /** Color of the trigger button. No effect if `as-child` is `true`. */
  buttonColor?: ButtonColor
  /** Look of the trigger button. No effect if `as-child` is `true`. */
  buttonLook?: ButtonLook
  /** ARIA label passed to the trigger button. No effect if `as-child` is `true`. */
  buttonAriaLabel?: string

  /** Whether to show a loading indicator on the button and disable interactions. */
  processing?: boolean
}

export type AlertDialogEmits = {
  action: [AlertDialogEvent]
  cancel: [AlertDialogEvent]
}
</script>

<script setup lang="ts">
import { computed, getCurrentInstance } from 'vue'
import {
  AlertDialogAction,
  AlertDialogCancel,
  AlertDialogContent,
  AlertDialogDescription,
  AlertDialogOverlay,
  AlertDialogPortal,
  AlertDialogRoot,
  AlertDialogTitle,
  AlertDialogTrigger,
} from 'radix-vue'

import SimpleButton from '@/components/uikit/button/SimpleButton.vue'
import Loader from '@/components/uikit/Loader.vue'

import QuestionIcon from '~mingcute/system/question_fill.svg'
import WarningIcon from '~mingcute/system/alert_fill.svg'
import AlertIcon from '~mingcute/system/warning_fill.svg'
// ^ these are not typos, the alert triangle is used as warning
import SuccessIcon from '~mingcute/system/check_circle_fill.svg'

// Nasty cast but getting the current public interface is a PAIN.
const ctx = getCurrentInstance()! as unknown as { exposed: AlertDialogInstance }
if (!ctx) throw new Error('No instance?!')

const open = defineModel<boolean>('open')
const props = defineProps<AlertDialogProps>()
const emits = defineEmits<AlertDialogEmits>()

const triggerColor = computed(() => {
  switch (props.color) {
    case AlertDialogColor.ACCENT:
      return ButtonColor.ACCENT
    case AlertDialogColor.WARNING:
      return ButtonColor.WARNING
    case AlertDialogColor.DANGER:
      return ButtonColor.DANGER
    case AlertDialogColor.SUCCESS:
      return ButtonColor.SUCCESS
    default:
      return ButtonColor.PRIMARY
  }
})

function openDialog() {
  open.value = true
}

function closeDialog() {
  open.value = false
}

function forwardAndClose(evt: keyof AlertDialogEmits) {
  const event = new AlertDialogEvent(evt, ctx.exposed)

  // TS is kinda dumb sometimes...
  emits(evt as Parameters<typeof emits>[0], event)
  open.value = event.defaultPrevented
}

defineExpose({
  openDialog,
  closeDialog,
})

if (import.meta.env.DEV) {
  if (props.triggerAsChild && props.buttonAriaLabel) {
    console.warn('[AlertDialog] a11y: Specifying an aria-label has no effect when using trigger-as-child!')
  }
}
</script>

<template>
  <AlertDialogRoot :open="open">
    <AlertDialogTrigger v-if="$slots.trigger" as-child @click="open = true">
      <SimpleButton
        v-if="!triggerAsChild"
        :color="buttonColor"
        :look="buttonLook"
        :icon-button="iconButton"
        :aria-label="buttonAriaLabel"
      >
        <slot name="trigger" />
      </SimpleButton>
      <slot v-else name="trigger" />
    </AlertDialogTrigger>

    <AlertDialogPortal>
      <AlertDialogOverlay class="flopui-dialog-overlay" :class="overlayClass">
        <AlertDialogContent class="flopui-dialog-content" :class="$props.class">
          <AlertDialogTitle class="flopui-dialog-title">
            <div
              v-if="(type && type !== AlertDialogType.PLAIN) || $slots.icon"
              :class="color"
              class="icon"
              aria-hidden="true"
            >
              <slot name="icon">
                <WarningIcon v-if="type === AlertDialogType.WARNING" />
                <AlertIcon v-else-if="type === AlertDialogType.DANGER" />
                <QuestionIcon v-else-if="type === AlertDialogType.QUESTION" />
                <SuccessIcon v-else-if="type === AlertDialogType.SUCCESS" />
              </slot>
            </div>
            <span>
              <slot name="title" />
            </span>
          </AlertDialogTitle>

          <AlertDialogDescription class="flopui-dialog-body">
            <slot name="content" />
          </AlertDialogDescription>

          <div class="flopui-dialog-footer">
            <AlertDialogCancel as-child>
              <SimpleButton :disabled="processing" @click="forwardAndClose('cancel')">
                <slot name="cancel" />
              </SimpleButton>
            </AlertDialogCancel>
            <AlertDialogAction as-child>
              <SimpleButton :color="triggerColor" :disabled="processing" @click="forwardAndClose('action')">
                <Loader v-if="processing" />
                <slot name="action" />
              </SimpleButton>
            </AlertDialogAction>
          </div>
        </AlertDialogContent>
      </AlertDialogOverlay>
    </AlertDialogPortal>
  </AlertDialogRoot>
</template>
