<script setup lang="ts">
import { ref } from 'vue'
import Dialog, { DialogInstance } from './Dialog.vue'
import DialogButton from './DialogButton.vue'
import SimpleButton, { ButtonColor } from '../button/SimpleButton.vue'

const dialogRef = ref<DialogInstance>()
const dialogRef2 = ref<DialogInstance>()
</script>

<template>
  <Story title="dialog/Dialog">
    <Variant title="Triggered by a button">
      <Dialog>
        <template #trigger>Test</template>
        <template #title>Dialog Title</template>
        <template #description>This is the description text that will be announced to screen-readers</template>
        <template #body>And then, the body can be pretty much anything you'd like.</template>
        <template #footer>
          <DialogButton>Button that does nothing</DialogButton>
          <DialogButton close :color="ButtonColor.ACCENT">Button that closes the dialog</DialogButton>
        </template>
      </Dialog>
    </Variant>
    <Variant title="Triggered by imperative API">
      <SimpleButton @click="dialogRef?.openDialog()">Open the dialog</SimpleButton>

      <Dialog ref="dialogRef">
        <template #title>Test Dialog</template>
        <template #description>I have been opened using an imperative API! Pretty cool, right?</template>
        <template #body>
          <div style="margin-bottom: 0.5rem">
            <label for="demo-input">Type "flop" below to close the dialog</label>
          </div>
          <input
            id="demo-input"
            type="text"
            @input="($event.target as any).value === 'flop' && dialogRef?.closeDialog()"
          />
        </template>
        <template #footer>
          <DialogButton close class="dialog-close">Alright, cool</DialogButton>
        </template>
      </Dialog>
    </Variant>
    <Variant title="Stacked dialogs">
      <Dialog>
        <template #trigger>Open first dialog</template>
        <template #title>First dialog</template>
        <template #body>
          <Dialog>
            <template #trigger>Open second dialog</template>
            <template #title>Second dialog</template>
            <template #body>And you could keep going!</template>
          </Dialog>
        </template>
      </Dialog>
    </Variant>

    <Variant title="Stacked dialogs (imperative)">
      <SimpleButton @click="dialogRef?.openDialog()">Open first dialog</SimpleButton>

      <Dialog ref="dialogRef">
        <template #title>First dialog</template>
        <template #body>
          <SimpleButton @click="dialogRef2?.openDialog()">Open second dialog</SimpleButton>
        </template>
      </Dialog>

      <Dialog ref="dialogRef2">
        <template #title>Second dialog</template>
        <template #body>And you could keep going!</template>
      </Dialog>
    </Variant>
  </Story>
</template>

<docs lang="md">
A window overlaid on either the primary window or another dialog window. Makes the content underneath inert.

The component comes quite barebones and only provides the skeleton of a dialog and lets you build anything on top.
The footer is expected to only contain buttons. The header can be *hidden* using `hide-title`, but **must** still be
provided for accessibility purposes!

If you want the user to be required to make an input, consider an [AlertDialog](./AlertDialog.story.vue).
</docs>
