.flopui-dialog-overlay {
  position: fixed;
  inset: 0;

  background-color: rgba(0 0 0 / 0.5);

  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.flopui-dialog-content {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;

  border-radius: var(--border-radius);
  background-color: var(--color-background-primary);
  box-shadow: var(--shadow-strong);

  width: 90vw;
  max-width: 450px;
  max-height: 85vh;
}

.flopui-dialog-content::before {
  content: '';
  position: absolute;
  inset: 0;

  background-color: #000;
  transition: opacity 0.2s;
  opacity: 0;
}

.flopui-dialog-overlay[data-state="open"] {
  animation: flopui-fade-in 0.2s cubic-bezier(0.16, 1, 0.3, 1);
}

.flopui-dialog-overlay[data-state="closed"] {
  animation: flopui-fade-out 0.2s cubic-bezier(0.16, 1, 0.3, 1);
}

@media (prefers-reduced-motion: no-preference) {
  .flopui-dialog-content[data-state="open"] {
    animation: flopui-dialog-content-show 0.2s cubic-bezier(0.16, 1, 0.3, 1);
  }

  .flopui-dialog-content[data-state="closed"] {
    animation: flopui-dialog-content-hide 0.2s cubic-bezier(0.16, 1, 0.3, 1);
  }

  @keyframes flopui-dialog-content-show {
    from {
      transform: translate(0, 8px) perspective(1px) scale(0.95);
    }
  }

  @keyframes flopui-dialog-content-hide {
    to {
      transform: translate(0, 8px) perspective(1px) scale(0.95);
    }
  }
}

.flopui-dialog-content:focus {
  outline: none;
}

.flopui-dialog-title {
  display: flex;
  align-items: center;
  line-height: 1;

  gap: 0.5rem;
  padding: 1.25rem 3rem 1.25rem 1.5rem;
  margin: 0;

  font-weight: 500;
  color: var(--color-text-primary);
  font-size: 1.125rem;
}

[dir='rtl'] .flopui-dialog-title {
  padding-right: 1.5rem;
  padding-left: 3rem;
}

.flopui-dialog-container[role="alertdialog"] .flopui-dialog-title {
  padding-right: 1.5rem;
}

.flopui-dialog-title .icon {
  height: 1.5rem;
  width: 1.5rem;
  fill: currentColor;
}

.flopui-dialog-title .icon.accent {
  color: var(--color-text-accent);
}

.flopui-dialog-title .icon.warning {
  color: var(--color-text-warning);
}

.flopui-dialog-title .icon.danger {
  color: var(--color-text-danger);
}

.flopui-dialog-title .icon.success {
  color: var(--color-text-success);
}

.flopui-dialog-close {
  all: unset;
  box-sizing: border-box;

  position: absolute;
  top: 1rem;
  right: 1rem;

  display: flex;
  height: 1.5rem;
  width: 1.5rem;
  padding: 0.25rem;

  color: var(--color-text-muted);
  border-radius: 50%;
  cursor: pointer;
}

[dir='rtl'] .flopui-dialog-close {
  right: unset;
  left: 1rem;
}

@media (prefers-reduced-motion: no-preference) {
  .flopui-dialog-close {
    transition:
      background-color 0.2s,
      color 0.2s;
  }
}

.flopui-dialog-close:hover {
  color: var(--color-text-primary);
  background-color: var(--color-background-danger-light);
}

.flopui-dialog-close:focus {
  outline: 2px var(--color-background-danger) solid;
}

.flopui-dialog-body {
  position: relative;
  padding: 2px 1.5rem 1.75rem;
  margin: 0;

  color: var(--color-text-secondary);
  overflow-y: auto;
}

.flopui-dialog-description {
  margin: 0 0 1.25rem;
}

.flopui-dialog-footer {
  display: flex;
  justify-content: flex-end;
  border-top: 1px var(--color-separator) solid;
  margin-top: 1px; /* Compensate for the border; we need even height to ensure there's no subpixel alignment problems */
  padding: 0.75rem;
  gap: 0.5rem;
}
