<script lang="ts">
import type { ButtonProps } from '../button/SimpleButton.vue'
import { DialogEvent } from './Dialog.vue'

type DialogExposedThatDoesNotTriggerWeirdLintErrors = {
  // How did you tell I was annoyed at the linter?!
  openDialog: () => void
  closeDialog: () => void
}

export interface DialogButtonProps extends ButtonProps {
  close?: boolean
}

export type DialogButtonEmits = {
  click: [DialogEvent]
}
</script>

<script setup lang="ts">
import { inject } from 'vue'
import { useForwardPropsEmitsSkip } from '@/composables/uikit/useForwardPropsEmitsSkip'

import SimpleButton from '../button/SimpleButton.vue'

const props = defineProps<DialogButtonProps>()
const emits = defineEmits<DialogButtonEmits>()
const forwarded = useForwardPropsEmitsSkip(props, null, ['close'])

const ctx = inject('flopui-dialog-context')! satisfies DialogExposedThatDoesNotTriggerWeirdLintErrors
if (!ctx) throw new Error('No dialog context?!')

function onClick() {
  const evt = new DialogEvent('click', ctx)
  emits('click', evt)

  if (props.close && !evt.defaultPrevented) {
    ctx.closeDialog()
  }
}
</script>

<template>
  <SimpleButton v-bind="forwarded" @click="onClick">
    <slot />
  </SimpleButton>
</template>
