<script lang="ts">
export interface FieldSkeletonProps {
  required?: boolean

  error?: string

  class?: string
  labelClass?: string
  helptextClass?: string
  errorClass?: string
}
</script>

<script setup lang="ts">
import { useId } from 'radix-vue'
import InputLabel from '@/components/uikit/form/base/InputLabel.vue'
import Tooltip from '@/components/uikit/Tooltip.vue'

import WarningIcon from '~mingcute/system/warning_fill.svg'

defineProps<FieldSkeletonProps>()

const id = useId()
</script>

<template>
  <div class="flopui-form-field" :class="[$props.class, { error }]">
    <div class="flopui-form-field-input">
      <InputLabel v-if="$slots.label" :for="id" :class="labelClass">
        <slot name="label" />
        <Tooltip :content="$t('uikit.form.required-field')">
          <span v-if="required" aria-hidden="true" class="flopui-label-required">*</span>
        </Tooltip>
      </InputLabel>

      <slot :id="id" name="field" />
    </div>

    <div v-if="error" class="flopui-form-error" :class="errorClass">
      <WarningIcon title="Error" class="flopui-form-error-icon" />
      <span>{{ error }}</span>
    </div>

    <div v-if="$slots.helptext" class="flopui-form-helptext" :class="helptextClass">
      <slot name="helptext" />
    </div>
  </div>
</template>

<style>
.flopui-form-field,
.flopui-form-field-input {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.flopui-form-field.error .flopui-input {
  border-color: var(--color-text-danger);
}

.flopui-label-required {
  color: var(--color-text-danger);
  font-size: 1rem;
  line-height: 1;
  font-weight: bold;
  margin-left: 0.25rem;
  user-select: none;
}

.flopui-form-helptext,
.flopui-form-error {
  font-size: 0.75rem;
  color: var(--color-text-secondary);
}

.flopui-form-error {
  color: var(--color-text-danger);
  font-size: 0.875rem;
}

.flopui-form-error-icon {
  display: inline-block;
  vertical-align: bottom;
  margin-top: -1px;
  width: 1.25em;
  height: 1.25em;
  margin-right: 0.25em;
}
</style>
