<script lang="ts">
import './form-label.css'

import type { LabelProps } from 'radix-vue'

export interface InputLabelProps extends LabelProps {}
</script>

<script setup lang="ts">
import { Label, useForwardProps } from 'radix-vue'

const props = defineProps<InputLabelProps>()
const forwarded = useForwardProps(props)
</script>

<template>
  <Label v-bind="forwarded" class="flopui-label">
    <slot />
  </Label>
</template>
