<!-- This file is part of the FlOpEDT/FlOpScheduler project.               -->
<!-- Copyright (c) 2017                                                    -->
<!-- Authors: Iulian Ober, Paul Renaud-Goud, Pablo Seban, et al.           -->
<!--                                                                       -->
<!-- This program is free software: you can redistribute it and/or modify  -->
<!-- it under the terms of the GNU Affero General Public License as        -->
<!-- published by the Free Software Foundation, either version 3 of the    -->
<!-- License, or (at your option) any later version.                       -->
<!--                                                                       -->
<!-- This program is distributed in the hope that it will be useful, but   -->
<!-- WITHOUT ANY WARRANTY; without even the implied warranty of            -->
<!-- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU      -->
<!-- Affero General Public License for more details.                       -->
<!--                                                                       -->
<!-- You should have received a copy of the GNU Affero General Public      -->
<!-- License along with this program. If not, see                          -->
<!-- <http://www.gnu.org/licenses/>.                                       -->
<!--                                                                       -->
<!-- You can be released from the requirements of the license by purchasing -->
<!-- a commercial license. Buying such a license is mandatory as soon as   -->
<!-- you develop activities involving the FlOpEDT/FlOpScheduler software   -->
<!-- without disclosing the source code of your own applications.          -->

{% extends "base.html" %}
{% load i18n %}

{% block title %} EDT {% endblock %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static "base/better.css" %}"/>

<div id="tools-main" style="padding:10px;">

    <h2>{% trans "iCal Subscription" %}</h2>
    <p>{% trans "Copy the corresponding link of the calendar you would like to add to your calendar manager." %}</p>
    
    <h2>{% trans "Groups" %}</h2>
        <ul>
            <h3>{% trans "Structural" %}</h3>
            <table>
              <th>{% trans "Training program" %}</th><th>{% trans "Group name" %}</th>
              {% for g in structural_groups %}
                  <tr>
                     <td>{{ g.train_prog.abbrev }}</td>
                     <td>{{ g.name }}</td>
                     <td><a href="{% url "flop_ics:structural_group" department g.id %}">{% trans "Copy this link" %} - {{ g.name }}</a></td>
                  </tr>
              {% endfor %}
            </table>
            {% if transversal_groups %}
                <h3>{% trans "Transversal" %}</h3>
                <table>
                    <th>{% trans "Training program" %}</th><th>{% trans "Group name" %}</th>
                    {% for g in transversal_groups %}
                        <tr>
                        <td>{{ g.train_prog.abbrev }}</td>
                        <td>{{ g.name }}</td>
                        <td><a href="{% url "flop_ics:transversal_group" department g.id %}">{% trans "Copy this link" %} - {{ g.name }}</a></td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        </ul>

    <h2>{% trans "Tutors" %}</h2>
    <ul>
      <table>
        <tr><th>{% trans "Pseudo" %}</th><th>{% trans "First name" %}</th><th>{%  trans "Last lame" %}</th><th>{% trans "Department(s)" %}</th><th>{% trans "Address" %}</th></tr>
	{% for e in tutors %}
	<tr>
          <td>{{ e.username }}</td>
          <td>{{ e.first_name }}</td>
          <td>{{ e.last_name }}</td>
          <td>{{ e.departments.all | join:", " }}</td>
          <td><a href="{% url "flop_ics:tutor" department e.id %}">{% trans "Copy this link" %} - {{ e.username }}</a></td>
        </tr>
	{% endfor %}
      </table>
    </ul>
	
    <h2>{% trans "Rooms" %}</h2>
    <ul>
      <table>
        <tr><th>{% trans "Name" %}</th><th>{% trans "Address" %}</th></tr>
        {% for s in rooms %}
        <tr>
          <td>{{ s.name }}</td>
          <td><a href="{% url "flop_ics:room" department s.id %}">{% trans "Copy this link" %} - {{ s.name }}</a></td>
        </tr>
        {% endfor %}
      </table>
    </ul>

    <h2>{% trans "Planned generations" %}</h2>
    <ul>
      <table>
        <tr><th>{% trans "Department" %}</th><th>{% trans "Address" %}</th></tr>
        {% for d in deps %}
        <tr>
          <td>{{ d.abbrev }}</td>
          <td><a href="{% url "flop_ics:regen" department d.id%}">{% trans "Copy this link" %} - {{ d.abbrev }}</a></td>
        </tr>
        {% endfor %}
      </table>
    </ul>

</div>
{% endblock %}
