<script lang="ts">
import type { SliderRootProps, SliderRootEmits } from 'radix-vue'

export interface SliderBaseProps extends Omit<SliderRootProps, 'modelValue'> {
  thumbCount?: number
}

export type SliderBaseEmits = Omit<SliderRootEmits, 'update:modelValue'>
</script>

<script setup lang="ts">
import { ref } from 'vue'
import { SliderRange, SliderRoot, SliderThumb, SliderTrack } from 'radix-vue'
import { useForwardPropsEmitsSkip } from '@/composables/uikit/useForwardPropsEmitsSkip'

const model = defineModel<number[]>({ required: true })
const props = defineProps<SliderBaseProps>()
const emits = defineEmits<SliderBaseEmits>()
const forwarded = useForwardPropsEmitsSkip(props, emits, ['thumbCount'])

let timeoutMouse: NodeJS.Timeout | null = null
const isPointerDown = ref(false)
const isHovering = ref(false)

function onMouseEnter() {
  timeoutMouse = setTimeout(() => {
    timeoutMouse = null
    isHovering.value = true
  }, 700)
}

function onMouseLeave() {
  if (timeoutMouse) clearTimeout(timeoutMouse)
  isHovering.value = false
}
</script>

<template>
  <SliderRoot v-bind="forwarded" v-model="model" class="flopui-slider" @step-key-down="isHovering = true">
    <SliderTrack class="flopui-slider-track">
      <SliderRange class="flopui-slider-range" />
    </SliderTrack>

    <template v-for="thumb in thumbCount" :key="thumb">
      <SliderThumb
        class="flopui-slider-thumb"
        @pointerdown="isPointerDown = true"
        @pointerup="isPointerDown = false"
        @mouseenter="onMouseEnter"
        @mouseleave="onMouseLeave"
        @focusin="isHovering = true"
        @focusout="isHovering = false"
      >
        <div class="flopui-slider-thumb-indicator" :style="{ opacity: +(isPointerDown || isHovering) }">
          <span>{{ model[thumb - 1] }}</span>

          <svg viewBox="0 0 30 10" class="flopui-slider-thumb-indicator-arrow">
            <polygon points="0,0 30,0 15,10" />
          </svg>
        </div>
      </SliderThumb>
    </template>
  </SliderRoot>
</template>

<style>
.flopui-slider {
  position: relative;
  display: flex;
  align-items: center;
  user-select: none;
  touch-action: none;
}

.flopui-slider[data-disabled] {
  opacity: 0.7;
}

.flopui-slider[data-orientation='horizontal'] {
  height: 1.25rem;
  width: 100%;
}

.flopui-slider[data-orientation='vertical'] {
  flex-direction: column;
  width: 1.25rem;
  height: 100%;
}

.flopui-slider-track {
  position: relative;
  background-color: var(--color-background-tertiary);
  border-radius: 0.125rem;
  overflow: hidden;
  flex-grow: 1;
}

.flopui-slider-track[data-disabled] {
  cursor: not-allowed;
}

.flopui-slider-track[data-orientation='horizontal'] {
  height: 0.25rem;
}

.flopui-slider-track[data-orientation='vertical'] {
  width: 0.25rem;
}

.flopui-slider-range {
  position: absolute;
  background-color: var(--color-background-accent);
}

.flopui-slider-range[data-orientation='horizontal'] {
  height: 100%;
}

.flopui-slider-range[data-orientation='vertical'] {
  width: 100%;
}

.flopui-slider-thumb {
  position: relative;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  background-color: var(--color-background-accent-light);
  border: 1px var(--color-border-accent) solid;
}

.flopui-slider-thumb[data-orientation='horizontal'] {
  cursor: ew-resize;
}

.flopui-slider-thumb[data-orientation='vertical'] {
  cursor: ns-resize;
}

.flopui-slider-thumb[data-disabled] {
  cursor: not-allowed;
}

.flopui-slider-thumb:focus {
  outline: var(--color-outline) solid 2px;
}

.flopui-slider-thumb-indicator {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.75rem;
  min-width: 1.5rem;
  height: 1.5rem;

  font-size: 0.75rem;
  font-weight: 500;
  color: var(--color-text-accent-contrast);
  background-color: var(--color-background-accent);
  pointer-events: none;

  transition: opacity 0.2s;
}

.flopui-slider-thumb-indicator-arrow {
  position: absolute;
  width: 0.75rem;
  height: 0.5rem;
  fill: var(--color-background-accent);
}

[dir='ltr'] .flopui-slider[data-orientation='horizontal'] .flopui-slider-thumb-indicator {
  top: -0.25rem;
  left: 50%;
  transform: translate(-50%, -100%);
}

[dir='rtl'] .flopui-slider[data-orientation='horizontal'] .flopui-slider-thumb-indicator {
  top: -0.25rem;
  right: 50%;
  transform: translate(50%, -100%);
}

.flopui-slider[data-orientation='horizontal'] .flopui-slider-thumb-indicator-arrow {
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}

[dir='ltr'] .flopui-slider[data-orientation='vertical'] .flopui-slider-thumb-indicator {
  top: 50%;
  right: 0;
  transform: translate(100%, -50%);
}

[dir='ltr'] .flopui-slider[data-orientation='vertical'] .flopui-slider-thumb-indicator-arrow {
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%) rotate(90deg);
}

[dir='rtl'] .flopui-slider[data-orientation='vertical'] .flopui-slider-thumb-indicator {
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
}

[dir='rtl'] .flopui-slider[data-orientation='vertical'] .flopui-slider-thumb-indicator-arrow {
  top: 50%;
  right: 0;
  transform: translate(50%, -50%) rotate(-90deg);
}
</style>
