<template>
  <section class="contact-form">
    <ContactForm></ContactForm>
  </section>
</template>

<script setup lang="ts">
import ContactForm from '@/components/forms/ContactForm.vue'
</script>

<style scoped></style>
