<script setup lang="ts">
import DepartmentSelection from '@/components/DepartmentSelection.vue'
</script>

<template>
  <section>
    <h1>{{ $t('home.welcome') }}</h1>
    <DepartmentSelection />
  </section>
</template>

<style scoped>
section {
  text-align: center;
}
</style>
