{% extends "flopeditor/base.html" %}
{% load static %}
{% load i18n %}

{% block nav-classes-import %} active {% endblock %}

{% block content-flopeditor %}
    <script>
        let department = "{{ department|safe }}";
        let list_departments = {{ list_departments|safe }};
        let training_periods = {{ training_periods|safe }};
        let scheduling_periods = {{ scheduling_periods|safe }};
        let current_year = {{ current_year }};
        let next_year = {{current_year|add:"1"}};
        $(() => {
            $("form:not([id])").submit(function() {
                const submitBtn = $('[type=submit]', this).attr('disabled', 'true')
                $.get($(this).attr('action'), $(this).serialize(), () => submitBtn.removeAttr('disabled'), 'text')
                return true
            })
        })
    </script>
    <script type="text/javascript" src="{% static 'flopeditor/js/configuration_vars.js' %}"></script>
    <h3>{% trans "Step 1 - Database configuration" %}</h3>
    <div class="step">
        <h4>{% trans "Configuration file canvas" %}</h4>
        <p>{% trans "Download and then complete the file below." %}</p>
            {% trans "Click to download the empty configuration file" %}
            <a href="{% url "flopeditor:dl_config" department.abbrev %}"><button id="btn_config_1">{% trans "Download"%}</button></a>
        <br/>
        <br/>
        {% trans "Click to make and download a new fullfilled database file" %}
        <a href="{% url "flopeditor:mk_and_dl_fullfilled_database_file" department.abbrev %}"><button id="btn_dl_database_file">{% trans "Make_and_download"%}</button></a>
    </div>

    <div class="step">
        <h3>{% trans "Configuration file completed" %}</h3>
        <p>{% trans "Upload the completed configuration file." %} ({% trans "Only xlsx format is accepted."%})</p>
        <form action="{% url "flopeditor:ul_config" department.abbrev %}" method="post" enctype="multipart/form-data" id="config">
                {% csrf_token %}
            <fieldset>
                <div id="depart_choice"></div>
                {{ form_config }}
                <input type="submit" value={% trans "Import" %}>
            </fieldset>
        </form>

        <div id="error_config">
          <h4>{% trans "Verdict :"%}</h4>
          <p></p>
        </div>
    </div>

        <br/>
        <br/>
        <br/>

    <h3>{% trans "Step 2 - Plan the lessons " %}</h3>
    <div class="step">
    <h4>{% trans "Template for the planning file" %}</h4>
        {% trans "Click to download the current planning file outline" %}
        <a href="{% url "flopeditor:dl_planif" department.abbrev %}"><button id="btn_dl_current_planif">{% trans "Download"%}</button></a>

        <br/>
        {% trans "Click to make and download a new blank planning file outline" %}
        {% trans " (it may last several minuts)." %}
        <a href="{% url "flopeditor:mk_and_dl_blank_planif" department.abbrev %}"><button id="btn_dl_new_planif">{% trans "Make_and_download" %}</button></a>

        <br/>
        {% trans "Click to make and download a new fullfilled planning file outline" %}
        {% trans " (it may last several minuts)." %}
        <a href="{% url "flopeditor:mk_and_dl_fullfilled_planif" department.abbrev %}"><button id="btn_fullfilled_planif">{% trans "Make_and_download" %}</button></a>

    </div>
    <br/>
    <br/>

    <div class="step">
        <fieldset>
            <legend> <h4>{% trans "Completed planning file" %}</h4> </legend>
            <p>{% trans "Upload the completed planning file." %} ({% trans "Only xlsx format is accepted." %})</p>
            <form action="{% url "flopeditor:ul_planif" department.abbrev %}"
                  method="post"
                  enctype="multipart/form-data"
                  id="planif">
                {% csrf_token %}
                {{ form_planif }}
                </br>
                </br>
                    <div id="choose_training_periods">
                        <input type="checkbox" id="choose_training_periods" name="choose_training_periods"/>
                            <label for="choose_training_periods">{% trans "Only for training periods " %}
                                <select multiple name="training_periods" id="dropdown_training_periods"> </select>
                            </label>
                    </div>
                </br>
                </br>
                <div id="choose_scheduling_periods">
                    <input type="checkbox" id="choose_scheduling_periods" name="choose_scheduling_periods"/>
                        <label for="choose_scheduling_periods">{% trans "Only for scheduling periods " %}
                            <select multiple name="scheduling_periods" id="dropdown_scheduling_periods"> </select>
                        </label>
                </div>
                </br>
                <input type="checkbox" id="stabilize" name="stabilize"/>
                <label for="stabilize">{% trans "Stabilization ?" %}</label>
                </br></br>
                <input type="checkbox" id="assign_colors" name="assign_colors"/>
                <label for="assign_colors">{% trans "(Re)assign colors ?" %}</label>
                </br></br>
                <input type="submit"
                       id="submitImport"
                       onclick="return confirm(
                           confirm_text.intro + '\n\n' +
                           translated_department + '{{ department.abbrev }}' + '\n' +
                           translated_training_periods + confirm_text.training_periods + '\n' +
                           translated_scheduling_periods + confirm_text.scheduling_periods)"
                       value={% trans "Import" %}>
            </form>
        </fieldset>
        <div id="error_planif">
          <h4>{% trans "Verdict :" %}</h4>
          <p></p>
        </div>
    </div>

<script type="text/javascript" src="{% static 'flopeditor/js/configuration.js' %}"></script>

{% endblock %}
