<!-- This file is part of the FlOpEDT/FlOpScheduler project.               -->
<!-- Copyright (c) 2017                                                    -->
<!-- Authors: Iulian Ober, Paul Renaud-Goud, Pablo Seban, et al.           -->
<!--                                                                       -->
<!-- This program is free software: you can redistribute it and/or modify  -->
<!-- it under the terms of the GNU Affero General Public License as        -->
<!-- published by the Free Software Foundation, either version 3 of the    -->
<!-- License, or (at your option) any later version.                       -->
<!--                                                                       -->
<!-- This program is distributed in the hope that it will be useful, but   -->
<!-- WITHOUT ANY WARRANTY; without even the implied warranty of            -->
<!-- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU      -->
<!-- Affero General Public License for more details.                       -->
<!--                                                                       -->
<!-- You should have received a copy of the GNU Affero General Public      -->
<!-- License along with this program. If not, see                          -->
<!-- <http://www.gnu.org/licenses/>.                                       -->
<!--                                                                       -->
<!-- You can be released from the requirements of the license by purchasing -->
<!-- a commercial license. Buying such a license is mandatory as soon as   -->
<!-- you develop activities involving the FlOpEDT/FlOpScheduler software   -->
<!-- without disclosing the source code of your own applications.          -->

{% extends "flopeditor/base_crud.html" %}
{% load static %}
{% block nav-classes-course %} active {% endblock %}

{% block card_header %}
<li class="nav-item">
  <a
    class="nav-link {% block card-nav-classes-modules %}active{% endblock %}"
    href="{% url 'flopeditor:flopeditor-department-course-types' department_abbrev=department.abbrev %}"
  >
    Types de cours
  </a>
</li>
<li class="nav-item">
  <a
    class="nav-link {% block card-nav-classes-periods %}{% endblock %}"
    href="{% url 'flopeditor:flopeditor-department-course-start-times-constraints' department_abbrev=department.abbrev %}"
  >
    Contraintes de début
  </a>
</li>
{% endblock %} 

{% block crud_js_url %}{% url 'flopeditor:flopeditor-crud-start-times-constraints' department_abbrev=department.abbrev %}{% endblock %}
