<script setup lang="ts">
import { watchEffect } from 'vue'

import { useI18n } from 'vue-i18n'
import { useRoute } from 'vue-router'
import { useAppDataStore } from '@/stores/appdata.ts'
import { useDepartmentsStore } from '@/stores/departments.ts'

import AppWrapper from './AppWrapper.vue'
import Header from '@/components/header/Header.vue'

const appdata = useAppDataStore()
const departmentStore = useDepartmentsStore()

void appdata.fetchAppData()
void departmentStore.fetchAll()

const route = useRoute()
const i18n = useI18n()
watchEffect(() => {
  const titleStringKey = typeof route.name === 'string' ? `title.${route.name}` : 'title.base'
  document.title = i18n.t(titleStringKey, i18n.t('title.base'), { missingWarn: false })
})
</script>

<template>
  <AppWrapper>
    <Header />
    <main>
      <div v-if="!appdata.loaded">
        <!-- TODO: Some loading state, maybe a big flop logo with clock spinning and changing colors? -->
      </div>
      <RouterView v-else />
    </main>
  </AppWrapper>
</template>
