<script setup lang="ts">
import { ConfigProvider, ToastProvider, ToastViewport, TooltipProvider } from 'radix-vue'
defineOptions({ inheritAttrs: false })
</script>

<template>
  <ConfigProvider :dir="$t('_meta.dir', 'ltr') as ('ltr' | 'rtl')">
    <ToastProvider :duration="6500">
      <TooltipProvider>
        <slot />

        <ToastViewport
          class="flopui-toast-container"
          data-toast-viewport
          :label="(hotkey) => $t('uikit.toast.viewport-label', { hotkey })"
        />
      </TooltipProvider>
    </ToastProvider>
  </ConfigProvider>
</template>

<style>
.flopui-toast-container {
  --viewport-padding: 25px;
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  padding: var(--viewport-padding);
  gap: 10px;
  width: 25rem;
  max-width: 100vw;
  margin: 0;
  list-style: none;
  z-index: 2147483647;
  outline: none;
}

[dir='rtl'] .flopui-toast-container {
  right: unset;
  left: 0;
}
</style>
