<script setup lang="ts">
import { ref } from 'vue'

//region Color conversion utils
function toFixedWithoutZeroes(number: number) {
  return parseFloat(number.toFixed(2))
}

function rgbToHsl(r: number, g: number, b: number) {
  r /= 255
  g /= 255
  b /= 255

  let min = Math.min(r, g, b)
  let max = Math.max(r, g, b)
  let delta = max - min

  let h = 0,
    s,
    l

  // Compute hue
  if (delta) {
    // If delta is 0, hue = 0.
    switch (max) {
      case r: // Red is the most present component
        h = ((g - b) / delta) % 6
        break
      case g: // Green is the most present component
        h = (b - r) / delta + 2
        break
      case b: // Blue is the most present component
        h = (r - g) / delta + 4
        break
    }
  }

  h = Math.round(h * 60)
  if (h < 0) h += 360 // Make a 360deg rotation if h is negative

  // Compute lightness
  l = (max + min) / 2

  // Compute saturation
  s = delta ? delta / (1 - Math.abs(2 * l - 1)) : 0

  return [h, s * 100, l * 100]
}

function getColorOf(variable: string) {
  const el = document.createElement('div')
  document.body.appendChild(el)
  el.style.color = `var(${variable})`
  const style = getComputedStyle(el)
  const rgb = style.color
  el.remove()

  if (!rgb) return '#NDEF!!'

  const [r, g, b, _a] = rgb
    .split('(')[1]
    .split(',')
    .map((n) => parseFloat(n))
  const a = _a ?? 1

  const [h, s, l] = rgbToHsl(r, g, b)
  const hex =
    r.toString(16).padStart(2, '0') +
    g.toString(16).padStart(2, '0') +
    b.toString(16).padStart(2, '0') +
    (a < 1
      ? Math.round(a * 256)
          .toString(16)
          .padStart(2, '0')
      : '')

  if (colorCodes.value === 'rgb') return rgb
  if (colorCodes.value === 'hex') return `#${hex}`
  if (colorCodes.value === 'hsl') {
    const hsl = `${h}, ${toFixedWithoutZeroes(s)}%, ${toFixedWithoutZeroes(l)}%`
    if (a < 1) return `hsla(${hsl}, ${a})`
    return `hsl(${hsl})`
  }

  return '???'
}

//endregion

//region Colors
const errorBackground = 'repeating-linear-gradient(-45deg, #f00, #f00 4px, #fff 4px, #fff 12px)'

const COLORS = [
  // TEXT
  {
    name: 'Text',
    prefix: '--color-text',
    colors: [
      { var: 'primary', name: 'Primary' },
      { var: 'secondary', name: 'Secondary' },
      { var: 'muted', name: 'Muted' },
      { var: 'inverted', name: 'Inverted' },
      { var: 'accent', name: 'Accent' },
      { var: 'accent-contrast', name: 'Accent Ctr.' },
      { var: 'warning', name: 'Warning' },
      { var: 'warning-contrast', name: 'Warn. Ctr.' },
      { var: 'danger', name: 'Danger' },
      { var: 'danger-contrast', name: 'Danger Ctr.' },
      { var: 'success', name: 'Success' },
      { var: 'success-contrast', name: 'Success Ctr.' },
    ],
  },
  // BACKGROUND
  {
    name: 'Background',
    prefix: '--color-background',
    colors: [
      { var: 'primary', name: 'Primary' },
      { var: 'secondary', name: 'Secondary' },
      { var: 'tertiary', name: 'Tertiary' },
      { var: 'accent', name: 'Accent' },
      { var: 'accent-light', name: 'Accent Lw.' },
      null,
      { var: 'warning', name: 'Warning' },
      { var: 'warning-light', name: 'Warn. Lw.' },
      { var: 'danger', name: 'Danger' },
      { var: 'danger-light', name: 'Danger Lw.' },
      { var: 'success', name: 'Success' },
      { var: 'success-light', name: 'Success Lw.' },
    ],
  },
  // BORDER
  {
    name: 'Border',
    prefix: '--color-border',
    colors: [
      { var: 'primary', name: 'Border' },
      null,
      null,
      { var: 'accent', name: 'Accent' },
      null,
      null,
      { var: 'warning', name: 'Warning' },
      null,
      { var: 'danger', name: 'Danger' },
      null,
      { var: 'success', name: 'Success' },
      null,
    ],
  },
  // MISC
  {
    name: 'Miscellaneous',
    prefix: '--color',
    colors: [
      { var: 'separator', name: 'Separator' },
      { var: 'outline', name: 'Outline' },
      null,
      null,
      null,
      null,
      null,
      null,
      null,
      null,
      null,
      null,
    ],
  },
]
//endregion

const compact = ref(false)
const colorCodes = ref('none')
const zoom = ref(1)
</script>

<template>
  <Story id="uikit-colors" title="Colors" icon="carbon:color-palette">
    <Variant title="Color palette" icon="carbon:color-palette" responsive-disabled>
      <template #default>
        <div class="container" :class="{ compact }" :style="{ fontSize: `${zoom}rem` }">
          <section>
            <h2 class="section-title">Courses</h2>
            <p class="prefix">
              <span class="mono">--color-courses-##</span>
            </p>

            <div class="colors">
              <div v-for="i in 12" :key="i" class="color">
                <div
                  class="color-preview"
                  :style="{ backgroundColor: `var(--color-courses-${i}, ${errorBackground})` }"
                />
                <div v-if="colorCodes !== 'none'" class="color-codes">
                  {{ getColorOf(`--color-courses-${i}`) }}
                </div>
              </div>
            </div>
          </section>

          <section v-for="colors in COLORS" :key="colors.name">
            <h2 class="section-title">{{ colors.name }}</h2>
            <p class="prefix">
              <span class="mono">{{ colors.prefix }}-##</span>
            </p>

            <div class="colors">
              <div v-for="(color, i) in colors.colors" :key="color?.var ?? i" class="color">
                <template v-if="color">
                  <div class="color-name">{{ color.name }}</div>
                  <div class="color-var">{{ color.var }}</div>
                  <div
                    class="color-preview"
                    :style="{ background: `var(${colors.prefix}-${color.var}, ${errorBackground})` }"
                  />
                  <div v-if="colorCodes !== 'none'" class="color-codes">
                    {{ getColorOf(`${colors.prefix}-${color.var}`) }}
                  </div>
                </template>
              </div>
            </div>
          </section>
        </div>
      </template>

      <template #controls>
        <HstCheckbox v-model="compact" title="Compact?" />
        <HstSlider v-model="zoom" :min="0.5" :max="5" :step="0.125" title="Zoom" />
        <HstSelect
          v-model="colorCodes"
          title="Color codes"
          :class="{ disabled: compact }"
          :options="[
            { value: 'none', label: 'None' },
            { value: 'hex', label: 'Hex' },
            { value: 'rgb', label: 'RGB' },
            { value: 'hsl', label: 'HSL' },
          ]"
        />
      </template>
    </Variant>
  </Story>
</template>

<style scoped>
.mono {
  font-family: 'JetBrains Mono', monospace;
}

.within-iframe .container {
  padding: 0 1rem 0 0;
}

.container {
  box-sizing: border-box;
  padding: 1rem;
  margin: -0.5rem;
  max-height: 100vh;
  overflow: auto;
}

.section-title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1em;
  margin: 0;
}

.prefix {
  font-size: 0.85em;
  margin: 0.5em 0;
}

.colors {
  display: grid;
  column-gap: 1.5em;
  row-gap: 0.5em;
  grid-template-columns: repeat(12, minmax(4em, 1fr));
  margin-bottom: 2.5em;
}

.color:not(:empty) {
  display: contents;
}

.color:empty {
  grid-row: 1 / span 4;
}

.color-name {
  font-size: 0.75em;
  grid-row: 1;
}

.color-var {
  font-family: 'JetBrains Mono', monospace;
  font-size: 0.625em;
  grid-row: 3;
}

.color-codes {
  font-family: 'JetBrains Mono', monospace;
  font-size: 0.625em;
  grid-row: 4;
}

.color-preview {
  height: 5rem;
  border-radius: 0.25em;
  grid-row: 2;
}

.compact .colors {
  grid-template-columns: repeat(12, minmax(3em, 1fr));
}

.compact .color-name {
  font-size: 0.75em;
}

.compact .color-var,
.compact .color-codes {
  display: none;
}

:global(.histoire-select.disabled) {
  opacity: 0.7;
  cursor: not-allowed;
}

:global(.histoire-select.disabled *) {
  pointer-events: none;
}
</style>
