<script setup lang="ts">
import InfoBox, { InfoBoxType } from './InfoBox.vue'
</script>

<template>
  <Story :layout="{ type: 'grid', width: '850px' }">
    <Variant
      v-for="type in [InfoBoxType.INFORMATION, InfoBoxType.WARNING, InfoBoxType.DANGER, InfoBoxType.SUCCESS]"
      :key="type"
      :title="`${type[0].toUpperCase()}${type.slice(1)}`"
    >
      <template #default>
        <InfoBox :type="type">
          This is a test message, that should give the user information about what's happening.
        </InfoBox>
      </template>
    </Variant>
  </Story>
</template>
