<script lang="ts">
export enum InfoBoxType {
  INFORMATION = 'information',
  WARNING = 'warning',
  DANGER = 'danger',
  SUCCESS = 'success',
}

export interface InfoBoxProps {
  type: InfoBoxType
}
</script>

<script setup lang="ts">
import InformationIcon from '~mingcute/system/information_fill.svg'
import WarningIcon from '~mingcute/system/alert_fill.svg'
import AlertIcon from '~mingcute/system/warning_fill.svg'
// ^ these are not typos, the alert triangle is used as warning
import CheckIcon from '~mingcute/system/check_circle_fill.svg'

defineProps<InfoBoxProps>()
defineSlots<{ default: () => unknown }>()
</script>

<template>
  <div class="flopui-infobox" :class="type">
    <div class="flopui-infobox-icon">
      <InformationIcon v-if="type === InfoBoxType.INFORMATION" :aria-label="$t('uikit.infobox.information')" />
      <WarningIcon v-else-if="type === InfoBoxType.WARNING" :aria-label="$t('uikit.infobox.warning')" />
      <AlertIcon v-else-if="type === InfoBoxType.DANGER" :aria-label="$t('uikit.infobox.danger')" />
      <CheckIcon v-else-if="type === InfoBoxType.SUCCESS" :aria-label="$t('uikit.infobox.success')" />
    </div>
    <slot />
  </div>
</template>

<!--suppress CssUnusedSymbol -->
<style>
.flopui-infobox {
  display: flex;
  font-size: 0.875rem;
  align-items: center;
  border-radius: var(--border-radius);
  padding: 0.75rem 1rem;
  gap: 0.75em;
}

.flopui-infobox.information {
  background-color: var(--color-background-accent-light);
  border: 1px var(--color-border-accent) solid;
  color: 1px var(--color-text-accent-contrast) solid;
}

.flopui-infobox.information .flopui-infobox-icon {
  color: var(--color-text-accent);
}

.flopui-infobox.warning {
  background-color: var(--color-background-warning-light);
  border: 1px var(--color-border-warning) solid;
  color: 1px var(--color-text-warning-contrast) solid;
}

.flopui-infobox.warning .flopui-infobox-icon {
  color: var(--color-text-warning);
}

.flopui-infobox.danger {
  background-color: var(--color-background-danger-light);
  border: 1px var(--color-border-danger) solid;
  color: 1px var(--color-text-danger-contrast) solid;
}

.flopui-infobox.danger .flopui-infobox-icon {
  color: var(--color-text-danger);
}

.flopui-infobox.success {
  background-color: var(--color-background-success-light);
  border: 1px var(--color-border-success) solid;
  color: 1px var(--color-text-success-contrast) solid;
}

.flopui-infobox.success .flopui-infobox-icon {
  color: var(--color-text-success);
}

.flopui-infobox-icon {
  width: 1.25rem;
  height: 1.25rem;
  flex-shrink: 0;
}
</style>
