<template>
  <span class="flopui-loader" />
</template>

<style>
.flopui-loader {
  width: 1rem;
  height: 1rem;
  border: 0.125rem solid currentColor;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  animation: flopui-rotate 1s linear infinite;
}
</style>
