<script setup lang="ts">
import Loader from './Loader.vue'
</script>

<template>
  <Story responsive-disabled>
    <Variant title="Basic usage">
      <Loader />
    </Variant>
  </Story>
</template>
