<script setup lang="ts">
import { ref } from 'vue'
import Popover from './Popover.vue'
import SimpleButton from './button/SimpleButton.vue'

import Home from '~mingcute/building/home_5_fill.svg'

const popoverRef = ref()
</script>

<template>
  <Story>
    <Variant title="Standard usage">
      <div class="demo-container">
        <Popover>
          <template #button>Test</template>
          <template #header>Dimensions</template>

          <div :style="{ display: 'flex', flexDirection: 'column', gap: '10px' }">
            <fieldset class="Fieldset">
              <label class="Label" for="width"> Width </label>
              <input id="width" class="Input" defaultValue="100%" />
            </fieldset>
            <fieldset class="Fieldset">
              <label class="Label" for="maxWidth"> Max. width </label>
              <input id="maxWidth" class="Input" defaultValue="300px" />
            </fieldset>
            <fieldset class="Fieldset">
              <label class="Label" for="height"> Height </label>
              <input id="height" class="Input" defaultValue="25px" />
            </fieldset>
            <fieldset class="Fieldset">
              <label class="Label" for="maxHeight"> Max. height </label>
              <input id="maxHeight" class="Input" defaultValue="none" />
            </fieldset>
          </div>
        </Popover>
        <Popover side="right">
          <template #trigger>On the right</template>
          <template #header>Dimensions</template>

          <div :style="{ display: 'flex', flexDirection: 'column', gap: '10px' }">
            <fieldset class="Fieldset">
              <label class="Label" for="width"> Width </label>
              <input id="width" class="Input" defaultValue="100%" />
            </fieldset>
            <fieldset class="Fieldset">
              <label class="Label" for="maxWidth"> Max. width </label>
              <input id="maxWidth" class="Input" defaultValue="300px" />
            </fieldset>
            <fieldset class="Fieldset">
              <label class="Label" for="height"> Height </label>
              <input id="height" class="Input" defaultValue="25px" />
            </fieldset>
            <fieldset class="Fieldset">
              <label class="Label" for="maxHeight"> Max. height </label>
              <input id="maxHeight" class="Input" defaultValue="none" />
            </fieldset>
          </div>
        </Popover>
      </div>
    </Variant>
    <Variant title="Open programmatically">
      <div class="demo-container">
        <Popover ref="popoverRef" label="Test popover">
          <template #trigger><Home /></template>
          <template #header>Dimensions</template>

          <div :style="{ display: 'flex', flexDirection: 'column', gap: '10px' }">
            <fieldset class="Fieldset">
              <label class="Label" for="width"> Width </label>
              <input id="width" class="Input" defaultValue="100%" />
            </fieldset>
            <fieldset class="Fieldset">
              <label class="Label" for="maxWidth"> Max. width </label>
              <input id="maxWidth" class="Input" defaultValue="300px" />
            </fieldset>
            <fieldset class="Fieldset">
              <label class="Label" for="height"> Height </label>
              <input id="height" class="Input" defaultValue="25px" />
            </fieldset>
            <fieldset class="Fieldset">
              <label class="Label" for="maxHeight"> Max. height </label>
              <input id="maxHeight" class="Input" defaultValue="none" />
            </fieldset>
          </div>
        </Popover>
        <hr />
        <SimpleButton @click="popoverRef?.openPopover()">Open popover above</SimpleButton>
      </div>
    </Variant>
  </Story>
</template>

<style scoped>
.demo-container {
  display: flex;
  padding-top: 2rem;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

/** Copied from radix-vue's demo */
fieldset,
input {
  all: unset;
  box-sizing: border-box;
}

.Fieldset {
  display: flex;
  gap: 20px;
  align-items: center;
}

.Label {
  font-size: 13px;
  width: 75px;
}

.Input {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  border-radius: 4px;
  padding: 0 10px;
  font-size: 13px;
  line-height: 1;
  height: 25px;
  box-shadow: 0 0 0 1px hsl(146, 38.5%, 69%);
}
.Input:focus {
  box-shadow: 0 0 0 2px hsl(151, 40.2%, 54.1%);
}
</style>

<docs lang="md">
Displays rich content in a portal, triggered by a button.

The positioning is gracefully handled if the popover doesn't fit, with the appropriate adjustments to the placement
of the arrow etc.
</docs>
