<script lang="ts">
import type { ToastProps, ToastEmits } from './Toast.vue'

export interface PublishableToastProps extends ToastProps {}

export type PublishableToastEmits = ToastEmits

export type PublishableToastInstance = {
  publish: () => void
}

type PublishableToastSlots = {
  title: () => unknown
  description: () => unknown
  action?: () => unknown
}
</script>

<script setup lang="ts">
import { ref } from 'vue'
import { useForwardPropsEmits } from 'radix-vue'
import Toast from './Toast.vue'

const props = defineProps<PublishableToastProps>()
const emits = defineEmits<PublishableToastEmits>()
const forwarded = useForwardPropsEmits(props, emits)

const published = ref(0)
const completed = ref(0)

// Register on animation end, so it doesn't interfere with the `open` prop - otherwise it breaks the end animation
function onAnimationEnd(e: AnimationEvent) {
  if (e.target instanceof Element && e.target.getAttribute('data-state') === 'closed') {
    completed.value++
  }
}

function publish() {
  published.value++
}

defineSlots<PublishableToastSlots>()
defineExpose<PublishableToastInstance>({ publish })
</script>

<template>
  <Toast
    v-for="k in published - completed"
    :key="completed + k"
    v-bind="forwarded"
    :open="undefined"
    :default-open="true"
    @animationend="onAnimationEnd"
  >
    <template #title>
      <slot name="title" />
    </template>
    <template #description>
      <slot name="description" />
    </template>
    <template v-if="$slots.action" #action>
      <slot name="action" />
    </template>
  </Toast>
</template>
