<script setup lang="ts">
import Tooltip from './Tooltip.vue'
import SimpleButton from './button/SimpleButton.vue'

import GhostIcon from '~mingcute/system/ghost_fill.svg'
</script>

<template>
  <Story>
    <Variant title="Basic usage">
      <div class="demo-container">
        <span>Hover the buttons below</span>

        <Tooltip content="Boooo!">
          <SimpleButton icon-button>
            <GhostIcon />
          </SimpleButton>
        </Tooltip>

        <Tooltip content="Boooo!" side="right">
          <SimpleButton icon-button>
            <GhostIcon />
          </SimpleButton>
        </Tooltip>

        <Tooltip content="Boooo!" side="left">
          <SimpleButton icon-button>
            <GhostIcon />
          </SimpleButton>
        </Tooltip>

        <Tooltip content="Boooo!" side="bottom">
          <SimpleButton icon-button>
            <GhostIcon />
          </SimpleButton>
        </Tooltip>
      </div>
    </Variant>
    <Variant title="With complex contents">
      <div class="demo-container">
        <span>Hover the button below</span>

        <Tooltip side="right">
          <SimpleButton icon-button>
            <GhostIcon />
          </SimpleButton>

          <template #tooltip>
            <div class="tooltip-big">Look, this tooltip has styles!</div>
            <div class="tooltip-small">But be careful, it shouldn't get <i>too</i> crazy</div>
          </template>
        </Tooltip>
      </div>
    </Variant>
  </Story>
</template>

<style scoped>
.demo-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;

  height: calc(100vh - 1rem);
  padding: 1.5rem;
}

.tooltip-big {
  font-size: 1.25em;
  font-weight: 500;
  margin-bottom: 0.25rem;
}

.tooltip-small {
  font-size: 0.875em;
  color: var(--color-text-secondary);
}
</style>

<docs lang="md">
A popup that displays information related to an element when the element receives keyboard focus or the mouse
hovers over it.
</docs>
