<script lang="ts">
import type { TooltipContentProps, TooltipRootProps } from 'radix-vue'

interface TooltipProps {
  disabled?: boolean
  class?: string
  content?: string
  ariaLabel?: TooltipContentProps['ariaLabel']

  side?: TooltipContentProps['side']
  align?: TooltipContentProps['align']
  alignOffset?: TooltipContentProps['alignOffset']
  sideOffset?: TooltipContentProps['sideOffset']

  delayDuration?: TooltipRootProps['delayDuration']
}

export type TooltipSlots = {
  default: () => unknown
  tooltip?: () => unknown
}
</script>

<script setup lang="ts">
import { TooltipArrow, TooltipContent, TooltipPortal, TooltipRoot, TooltipTrigger } from 'radix-vue'

const open = defineModel<boolean>('open')
const props = defineProps<TooltipProps>()
const slots = defineSlots<TooltipSlots>()

if (!props.content && !slots.tooltip) {
  throw new Error('Must specify tooltip contents, either via props or slot!')
}

if (import.meta.env.DEV) {
  if (props.content && slots.tooltip) {
    console.warn('[Tooltip] Both prop and slot are defined for tooltip content! Slot will take over the prop')
  }
}
</script>

<template>
  <TooltipRoot v-model:open="open">
    <TooltipTrigger as-child>
      <slot />
    </TooltipTrigger>

    <TooltipPortal>
      <TooltipContent
        class="flopui-tooltip"
        :class="$props.class"
        :align="align"
        :side="side"
        :align-offset="alignOffset"
        :side-offset="sideOffset"
        :collision-padding="8"
        avoid-collisions
        :aria-label="ariaLabel"
      >
        <slot name="tooltip">
          {{ content }}
        </slot>

        <TooltipArrow class="flopui-tooltip-arrow" />
      </TooltipContent>
    </TooltipPortal>
  </TooltipRoot>
</template>

<style>
.flopui-tooltip {
  display: flex;
  padding: 0.5rem 0.75rem;
  flex-direction: column;
  align-items: center;
  text-align: center;
  line-height: 1;

  font-size: 0.875rem;
  border-radius: var(--border-radius-small);
  background-color: var(--color-background-primary);
  box-shadow: var(--shadow-strong);
  color: var(--color-text-primary);

  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  transform-origin: var(--radix-tooltip-content-transform-origin);
  user-select: none;
  max-width: 300px;
}

.flopui-tooltip-arrow {
  fill: var(--color-background-primary);
  filter: drop-shadow(var(--shadow-strong));
}

@media (prefers-reduced-motion: no-preference) {
  .flopui-tooltip {
    will-change: opacity, transform;
  }

  .flopui-tooltip[data-side='top'] {
    animation-name: flopui-slide-down-and-fade-in;
  }

  .flopui-tooltip[data-side='right'] {
    animation-name: flopui-slide-left-and-fade-in;
  }

  .flopui-tooltip[data-side='bottom'] {
    animation-name: flopui-slide-up-and-fade-in;
  }

  .flopui-tooltip[data-side='left'] {
    animation-name: flopui-slide-right-and-fade-in;
  }

  .flopui-tooltip[data-state='closed'] {
    animation-name: flopui-fade-out;
  }
}
</style>

<docs lang="md">
Adds a little popup that displays information related to the element currently hovered (or focused).

Can use basic plaintext content using the `content` prop, or some more creative components by using the `tooltip` slot.

---
See also: https://www.radix-vue.com/components/tooltip.html
</docs>
