<script setup lang="ts">
import { Handle, NodeProps, Position } from '@vue-flow/core'
import { CustomNodeData } from '@/composables/useDependencies'
import { computed, inject, nextTick, onMounted, ref, Ref } from 'vue'
import { useDependencies } from '@/composables/useDependencies'
import { ColorMode } from '@/components/management/courses/CourseItems.vue'
import SimpleButton from '@/components/uikit/button/SimpleButton.vue'
import { useSelectedCourseStore } from '@/stores/timetable/selectedCourse'
import { Course } from '@/ts/type'
import LockIcon from '~mingcute/system/lock_fill.svg'
import UnlockIcon from '~mingcute/system/unlock_line.svg'
import { PseudoGlobalDependency } from '@/components/management/dependencies/tempGlobalDependencies'

const { reload } = useDependencies()

const globalDependencies = inject('globalDependencies') as Ref<PseudoGlobalDependency[]>

interface CoursePropsData extends CustomNodeData {
  course: Course
  selected: boolean
  inGroups: boolean
}

const props = defineProps<NodeProps<CoursePropsData>>()

const locked = ref<boolean>(true)

const style = computed(() => {
  const course = props.data.course

  return {
    border: props.data.selected ? '4px solid currentColor' : '0px',
    filter: props.data.selected ? 'brightness(0.85)' : 'brightness(1)',
    opacity: props.data.inGroups ? '75%' : '100%',
    backgroundColor:
      props.data.colorMode === ColorMode.COURSE_TYPE
        ? `var(--color-${course.type.name})`
        : props.data.colorMode === ColorMode.MODULE
          ? course.module.display.color_bg
          : 'var(--color-background-secondary)',
    color: props.data.colorMode === ColorMode.MODULE ? course.module.display.color_txt : 'currentColor',
  }
})

function changeNodeSelection() {
  const selectedCourseStore = useSelectedCourseStore()

  const courseId = selectedCourseStore.selectedCourses.findIndex((course) => course.id === props.data.course.id)

  if (courseId === -1) selectedCourseStore.selectedCourses.push(props.data.course)
  else selectedCourseStore.selectedCourses.splice(courseId, 1)
}

function lockCourse(): void {
  for (const globalDependency of globalDependencies.value) {
    if (globalDependency.is_active) {
      const exceptedCourses = globalDependency.parameters.find((param) => param.name === 'excepted_courses')?.id_list
      if (exceptedCourses) {
        const index = exceptedCourses.indexOf(props.data.course.id)
        // if the course was found in excepted courses, it's removed
        if (index !== -1) {
          exceptedCourses.splice(index, 1)
        }
      }
    }
  }
}

function unlockCourse(): void {
  for (const globalDependency of globalDependencies.value) {
    if (globalDependency.is_active) {
      const exceptedCoursesParam = globalDependency.parameters.find((param) => param.name === 'excepted_courses')!

      if (!exceptedCoursesParam.id_list.includes(props.data.course.id)) {
        exceptedCoursesParam.id_list.push(props.data.course.id)
      }
    }
  }
}

async function handleLockClick(): Promise<void> {
  if (locked.value) {
    locked.value = false
    unlockCourse()
    return
  }

  locked.value = true
  lockCourse()

  await nextTick()
  reload()
}

onMounted(() => {
  let isCourseExcepted = false

  for (const globalDependency of globalDependencies.value) {
    if (globalDependency.is_active) {
      const exceptedCoursesParam = globalDependency.parameters.find((param) => param.name === 'excepted_courses')!

      if (exceptedCoursesParam.id_list.includes(props.data.course.id)) {
        isCourseExcepted = true
        unlockCourse()
        break
      }
    }
  }

  if (!isCourseExcepted) {
    lockCourse()
  }

  locked.value = !isCourseExcepted
})
</script>

<template>
  <div class="node-container" :style="style" @click="changeNodeSelection()">
    <SimpleButton label="Locked" icon-button class="lock-button" @click.stop="handleLockClick">
      <LockIcon v-if="locked" />
      <UnlockIcon v-else />
    </SimpleButton>
    <div v-if="data.colorMode !== ColorMode.COURSE_TYPE" class="field">
      {{ data.course.type.name }}
    </div>
    <div class="field">
      {{ data.course.module.abbrev }}
    </div>
    <div v-if="data.course.groups.length > 0" class="field">
      {{ data.course.groups[0]?.name }}
    </div>
    <div v-else class="field" style="color: var(--color-text-danger)">N-DEF</div>
    <div v-if="data.course.tutor" class="field">
      {{ data.course.tutor.username }}
    </div>
    <div v-else class="field" style="color: var(--color-text-danger)">N-DEF</div>
    <div v-if="data.course.period" class="field">
      {{ data.course.period.name }}
    </div>
    <div v-else class="field" style="color: var(--color-text-danger)">N-DEF</div>
    <Handle type="target" :connectable-start="false" :connectable-end="true" :position="Position.Left" />
    <Handle type="source" :connectable-start="true" :connectable-end="false" :position="Position.Right" />
  </div>
</template>

<style scoped>
.node-container {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--color-background-primary);
  border: 4px solid var(--color-border-primary);
  width: 240px;
  height: 140px;
  border-radius: 32px;
  padding: 12px;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  z-index: -2;
}

.lock-button {
  position: absolute;
  border-radius: 50%;
  right: 0.75rem;
  top: 0.625rem;
}
</style>
