<script setup lang="ts">
import { Handle, NodeProps, Position } from '@vue-flow/core'
import { CustomNodeData } from '@/composables/useDependencies'
import { ColorMode } from '@/components/management/courses/CourseItems.vue'
import { computed } from 'vue'
import CutIcon from '~mingcute/design/scissors_fill.svg'
import SimpleButton, { ButtonColor } from '@/components/uikit/button/SimpleButton.vue'
import { Course } from '@/ts/type'

interface CourseGroupPropsData extends CustomNodeData {
  courses: Course[]
}

const props = defineProps<NodeProps<CourseGroupPropsData>>()

const courseColors = computed(() => {
  return props.data.courses.map((course) => {
    switch (props.data.colorMode) {
      case ColorMode.COURSE_TYPE:
        return `var(--color-${course.type.name})`
      case ColorMode.MODULE:
        return course.module.display.color_bg
      default:
        return 'var(--color-text-primary)'
    }
  })
})

const emit = defineEmits(['removeCourseGroup'])

const removeCourseGroup = () => {
  emit('removeCourseGroup')
}

function uniqueModule(): boolean {
  const baseCourse = props.data.courses[0]
  return props.data.courses?.every((course: Course) => course.module.id === baseCourse.module.id)
}

function uniqueCourseType(): boolean {
  const baseCourse = props.data.courses[0]
  return props.data.courses?.every((course: Course) => course.type.id === baseCourse.type.id)
}

function uniquePeriod(): boolean {
  const baseCourse = props.data.courses[0]
  return props.data.courses?.every((course: Course) => course.period?.id === baseCourse.period?.id)
}

const nodeLabel = computed(() => {
  const baseCourse: Course = props.data.courses[0]
  const labelParts: string[] = []

  if (uniqueModule()) labelParts.push(baseCourse.module.abbrev)
  if (uniqueCourseType()) labelParts.push(baseCourse.type.name)
  if (baseCourse.period && uniquePeriod()) labelParts.push(baseCourse.period.name)

  let label = labelParts.join(', ')
  if (label) {
    return label
  }

  return 'Mixed'
})
</script>

<template>
  <div class="node-container">
    <SimpleButton
      class="delete"
      :icon-button="true"
      :color="ButtonColor.DANGER"
      aria-label="Delete"
      @click="removeCourseGroup"
    >
      <CutIcon />
    </SimpleButton>
    <div class="label">{{ nodeLabel + ' : ' + data.courses.length }}</div>
    <div class="course-items">
      <div
        v-for="(course, arrayId) of props.data.courses"
        :key="course.id"
        class="course-item-block"
        :style="{ 'background-color': courseColors[arrayId] }"
      />
    </div>
    <Handle
      type="target"
      class="course-group-handle"
      :connectable-start="false"
      :connectable-end="true"
      :position="Position.Left"
    />
    <Handle
      type="source"
      class="course-group-handle"
      :connectable-start="true"
      :connectable-end="false"
      :position="Position.Right"
    />
  </div>
</template>

<style scoped>
.node-container {
  display: flex;
  flex-direction: column;
  background-color: var(--color-background-secondary);
  border: 4px solid currentColor;
  width: 35rem;
  min-height: 6.25rem;
  border-radius: 3rem;
  padding: 2rem;
  font-size: 2rem;
  font-weight: bold;
  cursor: default;
}

.label {
  margin-left: 0.75rem;
}

.course-items {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 1rem;
  margin-top: 1.5rem;
}

.course-item-block {
  width: 2rem;
  height: 2rem;
  border: 4px solid currentColor;
  border-radius: 4px;
}

.course-group-handle {
  height: 1.5rem;
  width: 1.5rem;
  border: 4px solid currentColor;
}

.delete {
  position: absolute;
  top: 2rem;
  right: 2rem;
  transform: translate(35%, -35%);
  background-color: var(--color-background-danger);
  width: 2.5rem;
  height: 2.5rem;
  transition: opacity 0.2s;
  border-radius: 50%;
  color: var(--color-text-danger-contrast);

  pointer-events: none;
  opacity: 0;
}

.node-container:hover .delete {
  pointer-events: auto;
  opacity: 1;
}
</style>
