<script setup lang="ts">
import '@vue-flow/core/dist/style.css'
import '@vue-flow/core/dist/theme-default.css'
import '@vue-flow/controls/dist/style.css'
import '@vue-flow/minimap/dist/style.css'
import './dependencies.css'

import { GraphStatus, DependencyGraph, CustomEdge } from '@/composables/useDependencies'

import { Connection, Edge, EdgeMouseEvent, PanelPosition, VueFlow, useVueFlow } from '@vue-flow/core'
import { Background } from '@vue-flow/background'
import { ControlButton, Controls } from '@vue-flow/controls'
import { MiniMap } from '@vue-flow/minimap'
import { onMounted, ref, watch } from 'vue'
import { useDependencies } from '@/composables/useDependencies'
import { layoutGlobalNodes } from '@/components/management/dependencies/useLayout'
import { useSelectedCourseStore } from '@/stores/timetable/selectedCourse'
import JoinIcon from '~mingcute/design/combine_fill.svg'
import CutIcon from '~mingcute/design/scissors_fill.svg'
import RefreshIcon from '~mingcute/system/refresh_1_line.svg'
import PencilIcon from '~mingcute/editor/pencil_fill.svg'
import ViewIcon from '~mingcute/system/eye_line.svg'
import CourseNode from '@/components/management/dependencies/CourseNode.vue'
import CourseGroupNode from '@/components/management/dependencies/CourseGroupNode.vue'
import GlobalNode from '@/components/management/dependencies/GlobalNode.vue'
import DependencyEdge from '@/components/management/dependencies/DependencyEdge.vue'
import { ColorMode } from '@/components/management/courses/CourseItems.vue'
import TempDependencyEdge, { CreationMode } from '@/components/management/dependencies/TempDependencyEdge.vue'
import SimpleConnectionLine from '@/components/management/dependencies/SimpleConnectionLine.vue'
import Popover from '@/components/uikit/Popover.vue'
import SimpleButton from '@/components/uikit/button/SimpleButton.vue'
import ToggleButton from '@/components/uikit/button/ToggleButton.vue'
import {
  PseudoGlobalDependency,
  baseGlobalDependencies,
} from '@/components/management/dependencies/tempGlobalDependencies'
import { CourseType } from '@/ts/type'
import { useCourseTypeStore } from '@/stores/timetable/courseType'
import { useTutorStore } from '@/stores/timetable/tutor'
import { User } from '@/stores/declarations'
import GlobalDependencyEdge from '@/components/management/dependencies/GlobalDependencyEdge.vue'
import { useDepartmentsStore } from '@/stores/departments'

const { onPaneReady, onConnect, nodesDraggable, setViewport, fitView } = useVueFlow()

const {
  createGroup,
  removeCourseGroup,
  inGroups,
  createTempDependency,
  removeTempDependency,
  handleConnection,
  cutEdge,
  addDependencyFromTemp,
  reload,
  logicColorMode,
  graphs,
  courseGroupNodes,
  edgeMountKey,
  edges,
  nodes,
  erroredGraphs,
} = useDependencies()

type Props = {
  colorMode: ColorMode
}

const props = defineProps<Props>()

const selectedCourseStore = useSelectedCourseStore()
const departmentsStore = useDepartmentsStore()

async function focusView(graph: DependencyGraph) {
  const zoomValue = 0.25
  const xPositions = graph.nodes.map((node) => node.position.x)
  const yPositions = graph.nodes.map((node) => node.position.y)

  const minXPosition: number = Math.min(...xPositions) - 500
  const maxYPosition: number = Math.max(...yPositions) + 250

  await setViewport({ x: -minXPosition * zoomValue, y: maxYPosition * zoomValue, zoom: zoomValue })
}

onPaneReady(({ fitView }) => {
  Promise.resolve()
    .then(() => fitView())
    .catch((error) => {
      console.error('Error during fitView:', error)
    })
})

onConnect((connection) => {
  void handleConnection(connection)
})

watch(
  () => props.colorMode,
  (colorMode) => {
    logicColorMode.value = colorMode

    courseGroupNodes.value.forEach((groupNode) => {
      groupNode.data.colorMode = colorMode
    })

    graphs.value.forEach((graph) =>
      graph.nodes.forEach((node) => {
        node.data.colorMode = colorMode
      })
    )
  }
)

watch(
  () => selectedCourseStore.selectedCourses,
  () => {
    // TODO : Reload only if needed (new graphs are single node), if not needed then only modify selected values
    // There's a problem with how selected courses are detected, making it a bit impossible, tried a lot i swear
    reload()
    return
  },
  { deep: true }
)

watch(graphs, () => {
  graphs.value.forEach((graph) =>
    graph.nodes.forEach((node) => {
      if (node.data.inGroups && node.data.course) node.data.inGroups = inGroups(node.data.course.id)
    })
  )
})

const cuttingAllowed = ref<boolean>(false)
const modifyingAllowed = ref<boolean>(false)

async function handleEdgeClick(event: EdgeMouseEvent): Promise<void> {
  if (cuttingAllowed.value) {
    await cutEdge(parseInt((event.edge as CustomEdge).id))
  } else if (modifyingAllowed.value) {
    const modifiedEdge: CustomEdge = event.edge as CustomEdge

    if (!modifiedEdge.data?.global) {
      createTempDependency(modifiedEdge.source, modifiedEdge.target, false)
    }
  }
}

//GLOBAL DEPENDENCIES START HERE

export interface GlobalNodeData {
  type: CourseType
  tutor?: User
}

export interface GlobalNodeI {
  id: string
  label: string
  type: string
  position: { x: number; y: number }
  class: string
  data: GlobalNodeData
}

export interface GlobalDependencyEdgeData {
  globalDependencies: PseudoGlobalDependency[]
}

export interface GlobalDependencyEdgeI {
  id: string
  source: string
  target: string
  type: string
  data: GlobalDependencyEdgeData
  markerEnd: string
}

const courseTypeStore = useCourseTypeStore()
const tutorStore = useTutorStore()

const globalDependencies = ref<PseudoGlobalDependency[]>([])

function getParameterIdList(globalDependency: PseudoGlobalDependency, parameterName: string): number[] {
  return globalDependency.parameters.find((parameter) => parameter.name === parameterName)!.id_list
}

const currentGlobalNodeId = ref<number>(0)
const currentGlobalDependencyEdgeId = ref<number>(0)

const globalNodes = ref<GlobalNodeI[]>([])
const globalEdges = ref<GlobalDependencyEdgeI[]>([])

function createGlobalNode(globalNodeData: GlobalNodeData): GlobalNodeI {
  return {
    id: 'global-node-' + ++currentGlobalNodeId.value,
    label: 'global-node-' + currentGlobalNodeId.value,
    type: 'global',
    position: { x: 0, y: 0 },
    class: 'light',
    data: globalNodeData,
  }
}

function sameGlobalNodeData(data1: GlobalNodeData, data2: GlobalNodeData): boolean {
  // Check if types are the same
  if (data1.type.id !== data2.type.id) return false

  // If types are the same, check if there is no tutor for both
  if (!data1.tutor && !data2.tutor) return true

  // Check if one of them has no tutor
  if (!data1.tutor || !data2.tutor) return false

  // Check if the tutors are the same
  return data1.tutor.id === data2.tutor.id
}

function createGlobalDependencyEdge(
  source: string,
  target: string,
  globalDependency: PseudoGlobalDependency
): GlobalDependencyEdgeI {
  return {
    id: 'global-dependency-' + ++currentGlobalDependencyEdgeId.value,
    source: source,
    target: target,
    type: 'global-dependency',
    data: {
      globalDependencies: [globalDependency],
    },
    markerEnd: 'dependency-arrow-closed',
  }
}

function globalCourseToNodeData(globalDependency: PseudoGlobalDependency, course1: boolean): GlobalNodeData {
  const typeParamName = course1 ? 'course1_type' : 'course2_type'
  const courseTypeId: number = getParameterIdList(globalDependency, typeParamName)[0]
  const nodeData: GlobalNodeData = {
    type: courseTypeStore.courseTypes.find((courseType) => courseType.id === courseTypeId)!,
  }

  const tutorParamName = course1 ? 'course1_tutor' : 'course2_tutor'
  const tutorId: number | undefined = getParameterIdList(globalDependency, tutorParamName)[0]
  if (tutorId) nodeData.tutor = tutorStore.tutors.find((tutor) => tutor.id === tutorId)!

  return nodeData
}

function treatGlobalDependency(globalDependency: PseudoGlobalDependency) {
  const sourceNodeData = globalCourseToNodeData(globalDependency, true)
  const targetNodeData = globalCourseToNodeData(globalDependency, false)

  let sourceGlobalNode = globalNodes.value.find((globalNode) => sameGlobalNodeData(globalNode.data, sourceNodeData))
  let targetGlobalNode = globalNodes.value.find((globalNode) => sameGlobalNodeData(globalNode.data, targetNodeData))

  if (!sourceGlobalNode) {
    sourceGlobalNode = createGlobalNode(sourceNodeData)
    globalNodes.value.push(sourceGlobalNode)
  }

  if (!targetGlobalNode) {
    targetGlobalNode = createGlobalNode(targetNodeData)
    globalNodes.value.push(targetGlobalNode)
  }

  const assignedGlobalEdge = globalEdges.value.find(
    (globalEdge) =>
      globalEdge.source === sourceGlobalNode.id.toString() && globalEdge.target === targetGlobalNode.id.toString()
  )

  if (assignedGlobalEdge) {
    assignedGlobalEdge.data.globalDependencies.push(globalDependency)
  } else {
    globalEdges.value.push(
      createGlobalDependencyEdge(sourceGlobalNode.id.toString(), targetGlobalNode.id.toString(), globalDependency)
    )
  }
}

function generateGlobalObjects(): void {
  globalNodes.value = []
  globalEdges.value = []

  for (const globalDependency of globalDependencies.value) {
    if (getParameterIdList(globalDependency, 'department')[0] === departmentsStore.current.id.valueOf()) {
      treatGlobalDependency(globalDependency)
    }
  }

  globalNodes.value = layoutGlobalNodes(globalNodes.value, globalEdges.value)
}

const globalDependencyMode = ref<boolean>(false)

// Reset view when switching back to normal mode
watch(globalDependencyMode, async () => {
  if (!globalDependencyMode.value) await fitView()
  nodesDraggable.value = !globalDependencyMode.value
})

// GLOBAL DEPENDENCIES END HERE

onMounted(() => {
  globalDependencies.value = baseGlobalDependencies
  globalDependencyMode.value = false

  logicColorMode.value = props.colorMode

  generateGlobalObjects()
  reload()
})
</script>

<template>
  <svg style="position: absolute; width: 0; height: 0">
    <defs>
      <marker id="dependency-arrow-closed" viewBox="0 0 10 10" refX="8" refY="5" markerWidth="6" markerHeight="6">
        <path d="M 0 0 L 10 5 L 0 10 z" fill="currentColor" />
      </marker>
    </defs>
  </svg>
  <VueFlow
    v-if="globalDependencyMode"
    :nodes="globalNodes"
    :edges="globalEdges"
    class="uniqueflow"
    :default-viewport="{ zoom: 1 }"
    :min-zoom="0.1"
    :max-zoom="2"
    fit-view-on-init
  >
    <template #node-global="globalNodeProps">
      <GlobalNode v-bind="globalNodeProps" />
    </template>

    <template #edge-global-dependency="globalDependencyEdgeProps">
      <GlobalDependencyEdge v-bind="globalDependencyEdgeProps" />
    </template>

    <Background pattern-color="var(--color-separator)" :gap="16" />

    <div style="position: absolute; z-index: 4; left: 1rem; bottom: 1rem">
      <ToggleButton v-model="globalDependencyMode">
        <span>MODE GLOBAL</span>
      </ToggleButton>
    </div>

    <Controls :position="PanelPosition.TopRight" />
  </VueFlow>
  <VueFlow
    v-else
    :nodes="nodes"
    :edges="edges as Edge[]"
    class="uniqueflow"
    :default-viewport="{ zoom: 1 }"
    :min-zoom="0.1"
    :max-zoom="2"
    :is-valid-connection="(connection : Connection) => connection.source !== connection.target"
    fit-view-on-init
    @edge-click="(edgeMouseEvent) => handleEdgeClick(edgeMouseEvent)"
  >
    <template #node-course="courseNodeProps">
      <CourseNode v-bind="courseNodeProps" />
    </template>

    <template #node-course-group="courseGroupNodeProps">
      <CourseGroupNode
        v-bind="courseGroupNodeProps"
        @remove-course-group="removeCourseGroup(courseGroupNodeProps.id)"
      />
    </template>

    <template #edge-dependency="edgeProps">
      <DependencyEdge :key="edgeMountKey" v-bind="edgeProps" />
    </template>

    <template #edge-temp-dependency="edgeProps">
      <TempDependencyEdge
        v-bind="edgeProps"
        @add-dependency="(successive : boolean, days : number, mode? : CreationMode ) => (mode) ? addDependencyFromTemp(edgeProps.id, successive, days, mode) : addDependencyFromTemp(edgeProps.id, successive, days)"
        @remove-temp-dependency="removeTempDependency(edgeProps.id)"
      />
    </template>

    <template #connection-line="{ sourceX, sourceY, targetX, targetY }">
      <SimpleConnectionLine :source-x="sourceX" :source-y="sourceY" :target-x="targetX" :target-y="targetY" />
    </template>

    <Background pattern-color="var(--color-separator)" :gap="16" />

    <MiniMap />

    <div style="position: absolute; z-index: 4; margin: 16px">
      <Popover>
        <template #trigger>
          {{ erroredGraphs.length + ' ' + $t('management.dependencies.error.simple', erroredGraphs.length) }}
        </template>
        <template #header>
          {{ $t('management.dependencies.error.plural') }}
        </template>
        <div style="font-size: 14px; width: 400px">
          <div v-if="!erroredGraphs.length">
            <i>{{ $t('management.dependencies.no-error') }}</i>
          </div>
          <div
            v-for="erroredGraph of erroredGraphs"
            v-else
            :key="erroredGraph.id"
            style="display: flex; align-items: center; margin-top: 12px"
          >
            <SimpleButton class="focus-btn" icon-button aria-label="Focus view" @click="focusView(erroredGraph)">
              <ViewIcon />
            </SimpleButton>
            <b>{{ $t('management.dependencies.numbered-graph', [erroredGraph.graphNumber!]) }}</b>
            <div v-if="erroredGraph.status === GraphStatus.CYCLIC">
              {{ $t('management.dependencies.cyclic-error') }}
            </div>
            <div
              v-else-if="erroredGraph.status === GraphStatus.DAYS_ISSUE && erroredGraph.max_days"
              style="display: flex"
            >
              <div v-if="erroredGraph.max_days === -1">{{ $t('management.dependencies.edge-error') }}</div>
              <div v-else>&nbsp;{{ $t('management.dependencies.days-gap-error', [erroredGraph.max_days]) }}</div>
            </div>
            <div v-else>&nbsp;$t('management.dependencies.no-info') }}</div>
          </div>
        </div>
      </Popover>
    </div>

    <div style="position: absolute; z-index: 4; left: 1rem; bottom: 1rem">
      <ToggleButton v-model="globalDependencyMode">
        <span>MODE GLOBAL</span>
      </ToggleButton>
    </div>

    <Controls :position="PanelPosition.TopRight">
      <ControlButton title="Create Course Group" @click="createGroup">
        <JoinIcon />
      </ControlButton>
      <ControlButton
        title="Toggle modify mode"
        @click="
          () => {
            modifyingAllowed = !modifyingAllowed
            cuttingAllowed = false
          }
        "
      >
        <PencilIcon :style="modifyingAllowed ? { border: '1px solid currentColor' } : {}" />
      </ControlButton>
      <ControlButton
        title="Toggle cut mode"
        @click="
          () => {
            cuttingAllowed = !cuttingAllowed
            modifyingAllowed = false
          }
        "
      >
        <CutIcon :style="cuttingAllowed ? { border: '1px solid currentColor' } : {}" />
      </ControlButton>
      <ControlButton title="Reload nodes" @click="reload">
        <RefreshIcon />
      </ControlButton>
    </Controls>
  </VueFlow>
</template>

<style scoped>
.focus-btn {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 8px;
}
</style>
