<script setup lang="ts">
import { BaseEdge, EdgeProps, getBezierPath } from '@vue-flow/core'
import { computed, ref, watch } from 'vue'
import { CustomEdgeData, GraphStatus } from '@/composables/useDependencies'

const props = defineProps<EdgeProps<CustomEdgeData>>()

const path = computed(() => getBezierPath(props))

const edgeColor = ref<string>('currentColor')

watch(
  () => props.data.graphStatus,
  (graphStatus) => {
    switch (graphStatus) {
      case GraphStatus.CYCLIC:
        edgeColor.value = 'var(--color-text-danger)'
        break
      case GraphStatus.DAYS_ISSUE:
        edgeColor.value = 'var(--color-text-danger)'
        break
      case GraphStatus.VALID:
        edgeColor.value = 'currentColor'
        break
    }
  },
  { immediate: true }
)

const markerId = `dependency-arrow-closed-${props.id}`

const labelText = computed(() => {
  return props.data.text === '0' ? null : props.data.text
})
</script>

<template>
  <defs>
    <marker :id="markerId" viewBox="0 0 10 10" refX="8" refY="5" markerWidth="6" markerHeight="6">
      <path d="M 0 0 L 10 5 L 0 10 z" :fill="edgeColor" />
    </marker>
  </defs>

  <BaseEdge
    :id="id"
    :style="{ ...style, stroke: edgeColor, strokeDasharray: data.global ? '8 10' : 'none' }"
    :path="path[0]"
    :marker-end="`url(#${markerId})`"
    :label="labelText"
    :label-x="path[1]"
    :label-y="path[2]"
    :label-style="{ fill: 'currentColor', fontSize: '20px' }"
    :label-show-bg="true"
    :label-bg-padding="[3, 6]"
    :label-bg-border-radius="4"
  />
</template>
