.vue-flow__minimap {
  transform: scale(75%);
  transform-origin: bottom right;
}

.vue-flow__node {
  visibility: visible !important;
}

.vue-flow__handle {
  background-color: var(--color-text-primary);
  border: 3px solid var(--color-text-secondary);
  width: 16px;
  height: 16px;
  z-index: 10;
}

.vue-flow__handle-left {
  background-color: var(--color-text-secondary);
  opacity: 0.7;
}

.vue-flow__handle-connecting {
  background-color: var(--color-border-danger)
}

.vue-flow__handle-valid {
  background-color: var(--color-border-success)
}

.vue-flow__controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.vue-flow__controls .vue-flow__controls-button {
  border: none;
  border-right: 1px solid #eee;
}

.vue-flow__minimap {
  transform: scale(75%);
  transform-origin: bottom right;
}
