<script setup lang="ts">
import { Handle, NodeProps, Position } from '@vue-flow/core'
import { GlobalNodeData } from '@/components/management/dependencies/DependenciesInterface.vue'

defineProps<NodeProps<GlobalNodeData>>()
</script>

<template>
  <div
    class="node-container"
    :style="{ backgroundColor: data.type ? `var(--color-${data.type.name})` : 'var(--color-background-primary' }"
  >
    <div v-if="data.type" class="field">
      {{ data.type.name }}
    </div>
    <div v-if="data.tutor" class="field">
      {{ data.tutor.username }}
    </div>
    <Handle type="target" :connectable="false" :position="Position.Left" />
    <Handle type="source" :connectable="false" :position="Position.Right" />
  </div>
</template>

<style scoped>
.node-container {
  display: flex;
  flex-direction: column;
  background-color: var(--color-background-primary);
  border: 4px solid var(--color-border-primary);
  gap: 0.25rem;
  width: 240px;
  height: 140px;
  border-radius: 32px;
  padding: 12px;
  align-items: center;
  justify-content: center;
  font-size: 1.75rem;
  font-weight: 700;
  cursor: pointer;
  z-index: -2;
}
</style>
