<script setup lang="ts">
import { BaseEdge, EdgeLabelRenderer, EdgeProps, getBezierPath } from '@vue-flow/core'
import { computed, Ref, ref } from 'vue'

import { GlobalDependencyEdgeData } from '@/components/management/dependencies/DependenciesInterface.vue'
import SimpleButton from '@/components/uikit/button/SimpleButton.vue'
import Popover from '@/components/uikit/Popover.vue'
import AddIcon from '~mingcute/system/add_fill.svg'
import RemoveIcon from '~mingcute/system/minimize_fill.svg'
import { PseudoGlobalDependency } from '@/components/management/dependencies/tempGlobalDependencies'
import { useCourseModuleStore } from '@/stores/timetable/courseModule'
import { useDepartmentsStore } from '@/stores/departments'
import { useTrainingProgramsStore } from '@/stores/departments/trainingPrograms'
import { useGroupsStore } from '@/stores/departments/groups'

const props = defineProps<EdgeProps<GlobalDependencyEdgeData>>()

const deptsStore = useDepartmentsStore()
const moduleStore = useCourseModuleStore()
const trainProgsStore = useTrainingProgramsStore()
const groupsStore = useGroupsStore()

const displayedDepId = ref<number>(0)

const path = computed(() => getBezierPath(props))

const currentDependency: Ref<PseudoGlobalDependency> = computed(() => {
  return props.data.globalDependencies[displayedDepId.value]
})

const dayGap: Ref<number> = computed(() => {
  return getParameter('day_gap').id_list[0]
})

const baseModuleDisplay: Ref<string | undefined> = computed(() => {
  const moduleIds = getParameter('modules').id_list

  if (!moduleIds || moduleIds.length <= 0) return undefined

  let baseModuleDisplay = moduleStore.courseModules.find((module) => module.id === moduleIds[0])?.abbrev

  if (moduleIds.length > 1) baseModuleDisplay += ` +${moduleIds.length - 1}`

  return baseModuleDisplay
})

const moduleNames: Ref<string | undefined> = computed(() => {
  const moduleIds = getParameter('modules').id_list

  if (!moduleIds || moduleIds.length <= 0) {
    return undefined
  }

  const names = moduleIds.map((id) => {
    const module = moduleStore.courseModules.find((module) => module.id === id)
    return module ? module.abbrev : ''
  })

  return names.join(', ')
})

const groupNames: Ref<string | undefined> = computed(() => {
  const groupIds = getParameter('groups').id_list

  if (!groupIds || groupIds.length <= 0) {
    return undefined
  }

  return groupsStore
    .getGroupsByIds(groupIds)
    .value.map((g) => g.name)
    .join(', ')
})

const trainProgNames: Ref<string | undefined> = computed(() => {
  const trainProgIds = getParameter('train_progs').id_list

  if (!trainProgIds || trainProgIds.length <= 0) {
    return undefined
  }

  return trainProgsStore.entities
    .filter((tp) => trainProgIds.includes(tp.id.valueOf()))
    .map((tp) => tp.name)
    .join(', ')
})

function getParameter(parameterName: string) {
  return currentDependency.value.parameters.find((parameter) => parameter.name === parameterName)!
}
</script>

<template>
  <BaseEdge
    :id="id"
    :path="path[0]"
    :marker-end="markerEnd"
    :label-x="path[1]"
    :label-y="path[2]"
    :label-style="{ fill: 'currentcolor', fontSize: '20px' }"
    :label-show-bg="true"
    :label-bg-padding="[3, 6]"
    :label-bg-border-radius="4"
  />
  <EdgeLabelRenderer>
    <div
      :style="{
        pointerEvents: 'all',
        position: 'absolute',
        transform: `translate(-50%, -50%) translate(${path[1]}px,${path[2]}px)`,
        gap: '8px',
        justifyContent: 'center',
      }"
      class="global-container nodrag nopan"
    >
      <div class="menu">
        <div class="infos">
          <div class="main-info">
            <div v-if="baseModuleDisplay">
              {{ baseModuleDisplay }}
            </div>
            <div v-else>Tous</div>
          </div>
          <Popover>
            <template #trigger> details </template>
            <template #header> Dépendance "{{ currentDependency.title }}": </template>
            <div class="popover-infos">
              <div class="info-section">
                <div class="info-title">Département :</div>
                <div class="info-data">
                  <div>
                    {{ deptsStore.current.name }}
                  </div>
                </div>
              </div>
              <div class="info-section">
                <div class="info-title">Jours d'écart :</div>
                <div class="info-data">
                  <div v-if="dayGap === 0">Flexible</div>
                  <div v-else>
                    {{ dayGap }}
                  </div>
                </div>
              </div>
              <div class="info-section">
                <div class="info-title">Modules :</div>
                <div class="info-data">
                  <div v-if="moduleNames">
                    {{ moduleNames }}
                  </div>
                  <div v-else>Tous</div>
                </div>
              </div>
              <div class="info-section">
                <div class="info-title">Groupes :</div>
                <div class="info-data">
                  <div v-if="groupNames">
                    {{ groupNames }}
                  </div>
                  <div v-else>Tous</div>
                </div>
              </div>
              <div class="info-section">
                <div class="info-title">Programmes :</div>
                <div class="info-data">
                  <div v-if="trainProgNames">
                    {{ trainProgNames }}
                  </div>
                  <div v-else>Tous</div>
                </div>
              </div>
            </div>
          </Popover>
        </div>
        <div v-if="data.globalDependencies.length > 1" class="displayed-dependency-modifier">
          <SimpleButton :disabled="displayedDepId === 0" label="Decrease" icon-button @click="displayedDepId -= 1">
            <RemoveIcon />
          </SimpleButton>
          {{ displayedDepId + 1 + '/' + data.globalDependencies.length }}
          <SimpleButton
            :disabled="displayedDepId >= data.globalDependencies.length - 1"
            label="Increase"
            icon-button
            @click="displayedDepId += 1"
          >
            <AddIcon />
          </SimpleButton>
        </div>
      </div>
    </div>
  </EdgeLabelRenderer>
</template>

<style scoped>
.global-container {
  z-index: 1;
}

.menu {
  background-color: var(--color-background-secondary);
  border: 2px solid currentColor;
  padding: 8px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

.main-info {
  font-size: 1.25rem;
  font-weight: 600;
}

.infos {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

.popover-infos {
  display: flex;
  font-size: 0.9rem;
  flex-direction: column;
  gap: 0.25rem;
}

.info-section {
  display: flex;
  gap: 0.25rem;
}

.info-title {
  font-weight: 600;
}

.displayed-dependency-modifier {
  display: flex;
  gap: 8px;
  align-items: center;
}
</style>
