<script setup lang="ts">
type Props = {
  sourceX: number
  sourceY: number
  targetX: number
  targetY: number
}

defineProps<Props>()
</script>

<template>
  <svg style="position: absolute; width: 0; height: 0">
    <defs>
      <marker id="right-arrowhead" viewBox="0 0 10 10" refX="8" refY="5" markerWidth="4" markerHeight="4">
        <path d="M 0 0 L 10 5 L 0 10 z" fill="currentColor" />
      </marker>
    </defs>
  </svg>
  <svg style="position: absolute; width: 0; height: 0">
    <defs>
      <marker
        id="left-arrowhead"
        viewBox="0 0 10 10"
        refX="8"
        refY="5"
        markerWidth="4"
        markerHeight="4"
        orient="auto-start-reverse"
      >
        <path d="M 0 0 L 10 5 L 0 10 z" fill="currentColor" />
      </marker>
    </defs>
  </svg>
  <g>
    <path
      class="vue-flow__connection animated"
      fill="none"
      stroke="currentColor"
      :stroke-width="4"
      :d="`M${sourceX},${sourceY} C ${sourceX} ${targetY} ${sourceX} ${targetY} ${targetX},${targetY}`"
      :marker-end="sourceX < targetY ? 'url(#right-arrowhead)' : 'url(#left-arrowhead)'"
    />
  </g>
</template>
