<script lang="ts">
export enum CreationMode {
  SMART = 'smart',
  DIRECT = 'direct',
}
</script>

<script setup lang="ts">
import { BaseEdge, EdgeLabelRenderer, EdgeProps, getBezierPath } from '@vue-flow/core'
import { computed, ref } from 'vue'

import AddIcon from '~mingcute/system/add_fill.svg'
import RemoveIcon from '~mingcute/system/minimize_fill.svg'
import SimpleButton, { ButtonColor } from '@/components/uikit/button/SimpleButton.vue'
import { CustomEdgeData } from '@/composables/useDependencies'

const emit = defineEmits(['addDependency', 'removeTempDependency'])

const addDependency = (successive: boolean, days: number) => {
  if (props.data.complex) emit('addDependency', successive, days, mode.value)
  else emit('addDependency', successive, days)
}

const removeTempDependency = () => {
  emit('removeTempDependency')
}

const props = defineProps<EdgeProps<CustomEdgeData>>()

const days = ref<number>(0)

const mode = ref<CreationMode>(CreationMode.SMART)

const path = computed(() => getBezierPath(props))
</script>

<template>
  <BaseEdge
    :id="id"
    :style="style"
    :path="path[0]"
    :marker-end="markerEnd"
    :label-x="path[1]"
    :label-y="path[2]"
    :label-style="{ fill: 'currentcolor', fontSize: '20px' }"
    :label-show-bg="true"
    :label-bg-padding="[3, 6]"
    :label-bg-border-radius="4"
  />
  <EdgeLabelRenderer>
    <div
      :style="{
        pointerEvents: 'all',
        position: 'absolute',
        transform: `translate(-50%, -50%) translate(${path[1]}px,${path[2]}px)`,
        gap: '8px',
        justifyContent: 'center',
      }"
      class="global-container nodrag nopan"
    >
      <div class="menu">
        <SimpleButton
          class="delete"
          :color="ButtonColor.DANGER"
          label="Delete"
          icon-button
          @click="removeTempDependency"
        >
          <Remove />
        </SimpleButton>
        <div v-if="data.complex" class="creation-mode-choice">
          <div class="radio-btn">
            <label>
              <i>{{ $t('management.dependencies.smart') }}</i>
              <input v-model="mode" type="radio" name="creation-mode" :value="CreationMode.SMART" />
            </label>
          </div>
          <div class="radio-btn">
            <label>
              <i>{{ $t('management.dependencies.direct') }}</i>
              <input v-model="mode" type="radio" name="creation-mode" :value="CreationMode.DIRECT" />
            </label>
          </div>
        </div>

        <div class="days-container">
          <SimpleButton v-if="days == 0" class="normal" label="One" @click="addDependency(false, 0)">
            Flexible
          </SimpleButton>
          <SimpleButton v-else class="normal" label="One" @click="addDependency(false, days)">
            {{ days }} jours
          </SimpleButton>
          <div class="days-modifiers">
            <SimpleButton class="icon-btn" label="Add" icon-button @click="days += 1">
              <AddIcon />
            </SimpleButton>
            <SimpleButton class="icon-btn" label="Remove" icon-button @click="days > 0 ? (days -= 1) : null">
              <RemoveIcon />
            </SimpleButton>
          </div>
        </div>
        {{ $t('management.dependencies.or') }}
        <SimpleButton class="normal" label="Successive" @click="addDependency(true, 0)">
          {{ $t('management.dependencies.successive') }}
        </SimpleButton>
      </div>
    </div>
  </EdgeLabelRenderer>
</template>

<style scoped>
.global-container {
  z-index: 1;
}

.menu {
  background-color: var(--color-background-secondary);
  border: 2px solid currentColor;
  padding: 8px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.creation-mode-choice {
  display: flex;
  gap: 16px;
}

.radio-btn label {
  display: flex;
  align-items: center;
  height: 2rem;
  gap: 0.5rem;
}

.delete {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(35%, -35%);
  background-color: var(--color-background-danger);
  width: 1.125rem;
  height: 1.125rem;
  transition: opacity 0.2s;
  border-radius: 50%;
  color: white;

  pointer-events: none;
  opacity: 0;
  z-index: 10;
}

.menu:hover .delete {
  pointer-events: auto;
  opacity: 1;
}

.days-container {
  display: flex;
  gap: 8px;
  align-items: center;
}

.days-modifiers {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.icon-btn {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 20%;
}
</style>
