<script setup lang="ts">
import { FilterType } from '@/composables/filterCourses.js'

import Book from '~mingcute/education/book_2_line.svg'
import TextArea from '~mingcute/editor/text_area_line.svg'
import Calendar from '~mingcute/business/calendar_line.svg'
import Mortarboard from '~mingcute/education/mortarboard_line.svg'
import DoorOpen from '~mingcute/system/open_door_line.svg'
import Groups from '~mingcute/user/group_3_line.svg'
import Home from '~mingcute/building/home_5_fill.svg'

defineProps<{ filter: FilterType }>()
</script>

<template>
  <Book v-if="filter === FilterType.MODULE" />
  <Groups v-else-if="filter === FilterType.GROUP" />
  <Calendar v-else-if="filter === FilterType.PERIOD" />
  <Mortarboard v-else-if="filter === FilterType.TEACHER" />
  <TextArea v-else-if="filter === FilterType.COURSE_TYPE" />
  <DoorOpen v-else-if="filter === FilterType.ROOM_TYPE" />
  <Home v-else />
</template>

<style scoped>
svg {
  width: 100%;
  height: 100%;
  fill: currentColor;
}
</style>
