<script setup lang="ts">
import { computed, nextTick, ref, watch } from 'vue'

import DropdownMenu from '@/components/uikit/menu/DropdownMenu.vue'
import DropdownMenuItem from '@/components/uikit/menu/dropdown/DropdownMenuItem.vue'
import FilterElement from '@/components/management/filters/FilterElement.vue'

import { FilterEntity, FilterType, SelectedFilter } from '@/composables/filterCourses.js'

import Add from '~mingcute/system/add_line.svg'
import FilterIcon from '@/components/management/filters/FilterIcon.vue'

type FilterInfo = { entities: FilterEntity[]; used: boolean }

interface Props {
  availableModules: FilterEntity[]
  availableGroups: FilterEntity[]
  availableTeachers: FilterEntity[]
  availablePeriods: FilterEntity[]
  availableRoomTypes: FilterEntity[]
  availableCourseTypes: FilterEntity[]
}

const FILTER_TYPES = [
  FilterType.MODULE,
  FilterType.GROUP,
  FilterType.TEACHER,
  FilterType.PERIOD,
  FilterType.ROOM_TYPE,
  FilterType.COURSE_TYPE,
]

const props = defineProps<Props>()

const selected = defineModel<SelectedFilter[]>({ required: true })

// Copied for the drag & drop
const displayedSelection = ref([...selected.value])
watch(selected, () => (displayedSelection.value = [...selected.value]), { deep: true })

const filters = computed<Record<FilterType, FilterInfo>>(() => {
  const filters = {
    [FilterType.MODULE]: { entities: props.availableModules, used: false },
    [FilterType.GROUP]: { entities: props.availableGroups, used: false },
    [FilterType.TEACHER]: { entities: props.availableTeachers, used: false },
    [FilterType.PERIOD]: { entities: props.availablePeriods, used: false },
    [FilterType.ROOM_TYPE]: { entities: props.availableRoomTypes, used: false },
    [FilterType.COURSE_TYPE]: { entities: props.availableCourseTypes, used: false },
  }

  for (const s of selected.value) {
    filters[s.filter].used = true
  }

  return filters
})

/* Drag & Drop */
const filterListRef = ref<HTMLElement>()

const elementRefs = ref<HTMLElement[]>([])

const dragging = ref<SelectedFilter | null>(null)

const elementPosition = ref({ mouse: 0, element: 0, elementReal: 0 })

const dragSizeData = ref({ height: 0, width: 0, minY: 0, maxY: 0 })

const cachedSwapY = { pending: false as MouseEvent | boolean, before: 0, after: 0 }

function computeSwapValues() {
  if (!dragging.value) return // Stopped dragging already

  const idx = displayedSelection.value.findIndex((e) => e.filter === dragging.value?.filter)
  if (idx === -1) throw new Error('Illegal state: dragged filter is not present in the selection!')

  if (idx === 0) {
    cachedSwapY.before = -Infinity
  } else {
    const el = elementRefs.value[idx - 1]
    const { y, height } = el.getBoundingClientRect()
    cachedSwapY.before = y + height * 0.8
  }

  if (idx === displayedSelection.value.length - 1) {
    cachedSwapY.after = Infinity
  } else {
    const el = elementRefs.value[idx + 1]
    const { y, height } = el.getBoundingClientRect()
    cachedSwapY.after = y + height * 0.2
  }

  const maybeEvt = cachedSwapY.pending
  cachedSwapY.pending = false

  // Re-dispatch last mouse move event
  if (typeof maybeEvt !== 'boolean') onMouseMove(maybeEvt)
}

function swapDisplayed(idx1: number, idx2: number) {
  const tmp1 = displayedSelection.value[idx1]
  displayedSelection.value[idx1] = displayedSelection.value[idx2]
  displayedSelection.value[idx2] = tmp1

  // Also do the swap in the refs, so we can re-compute swap boundaries immediately after DOM update
  const tmp2 = elementRefs.value[idx1]
  elementRefs.value[idx1] = elementRefs.value[idx2]
  elementRefs.value[idx2] = tmp2
}

function onDragStart(event: MouseEvent, filter: SelectedFilter) {
  const handle = event.target as HTMLElement
  const el = elementRefs.value.find((el) => el.contains(handle))
  if (!el || !filterListRef.value) return // ???

  const box = el.getBoundingClientRect()
  const wrapperBox = filterListRef.value.getBoundingClientRect()

  dragging.value = filter
  elementPosition.value = { mouse: event.clientY, element: box.y, elementReal: box.y }
  dragSizeData.value = {
    height: box.height,
    width: box.width,
    minY: wrapperBox.y,
    maxY: wrapperBox.y + wrapperBox.height - box.height,
  }

  computeSwapValues()
  window.addEventListener('mouseup', (e) => void onCommit(e), { once: true })
  window.addEventListener('mousemove', onMouseMove)
  document.documentElement.style.cursor = 'move'
  document.body.style.pointerEvents = 'none'
}

function onMouseMove(event: MouseEvent) {
  event.preventDefault()

  const delta = elementPosition.value.mouse - event.clientY
  const element = elementPosition.value.element - delta
  const elementReal = Math.max(Math.min(element, dragSizeData.value.maxY), dragSizeData.value.minY)

  elementPosition.value = {
    mouse: event.clientY,
    element,
    elementReal,
  }

  // Positions are being updated
  if (cachedSwapY.pending) {
    cachedSwapY.pending = event
    return false
  }

  if (event.clientY <= cachedSwapY.before) {
    const idx = displayedSelection.value.findIndex((e) => e.filter === dragging.value?.filter)
    swapDisplayed(idx, idx - 1)

    // 250ms wait (after DOM update) for the animation to complete
    // It's a bit hacky but fast enough it should go unnoticed :shrug:
    void nextTick(() => setTimeout(() => computeSwapValues(), 200))
    cachedSwapY.pending = true
    return true
  }

  if (event.clientY >= cachedSwapY.after) {
    const idx = displayedSelection.value.findIndex((e) => e.filter === dragging.value?.filter)
    swapDisplayed(idx, idx + 1)

    // 250ms wait (after DOM update) for the animation to complete
    // It's a bit hacky but fast enough it should go unnoticed :shrug:
    void nextTick(() => setTimeout(() => computeSwapValues(), 200))
    cachedSwapY.pending = true
    return true
  }

  return false
}

async function onCommit(e: MouseEvent) {
  document.body.style.pointerEvents = ''
  document.documentElement.style.cursor = ''
  window.removeEventListener('mousemove', onMouseMove)

  document.body.classList.add('committing')

  await nextTick() // Wait for transitions to be cancelled
  cachedSwapY.pending = false // Clear any pending event
  computeSwapValues()

  // Swap until the element is in its final place
  while (onMouseMove(e)) {
    await nextTick() // Wait to sync with the DOM recalculation
    computeSwapValues()
  }

  document.body.classList.remove('committing')

  selected.value = displayedSelection.value
  dragging.value = null
}
</script>

<template>
  <div class="filter-selector-container">
    <div ref="filterListRef" class="filter-list">
      <TransitionGroup>
        <template v-for="(s, i) in displayedSelection" :key="s.filter">
          <div ref="elementRefs" class="filter-list-element">
            <FilterElement
              v-if="dragging?.filter !== s.filter"
              v-model:selected="s.entities"
              v-model:exclude="s.exclude"
              :filter="s.filter"
              :entities="filters[s.filter].entities"
              :data-test="`filter-element-${s.filter}`"
              @dragstart="(e) => onDragStart(e, s)"
              @delete="selected.splice(i, 1)"
            />
            <div v-else class="ghost" :style="{ height: `${dragSizeData.height}px` }" />
          </div>
        </template>
      </TransitionGroup>

      <!-- Fake element outside of the transition group to not mess with animations -->
      <div
        v-if="dragging"
        class="dragged-wrapper"
        :style="{
          top: `${elementPosition.elementReal}px`,
          width: `${dragSizeData.width}px`,
        }"
      >
        <FilterElement
          v-model:selected="dragging.entities"
          v-model:exclude="dragging.exclude"
          :filter="dragging.filter"
          :entities="filters[dragging.filter].entities"
        />
      </div>
    </div>

    <DropdownMenu v-if="selected.length < FILTER_TYPES.length" no-icon>
      <template #trigger>
        <Add />
        <span>{{ $t('management.courses.filters.add') }}</span>
      </template>

      <template #items>
        <!-- @click here is bad but tests break w/o it :/ -- should be @select -->
        <DropdownMenuItem
          v-for="filter in FILTER_TYPES"
          :key="filter"
          :disabled="filters[filter].used"
          :data-test="`dropdown-item-${filter}`"
          @click="selected.push({ filter: filter, entities: [], exclude: false })"
        >
          <FilterIcon :filter="filter" class="filter-icon" />
          <span>{{ $t(`management.courses.filters.types.${filter}`) }}</span>
        </DropdownMenuItem>
      </template>
    </DropdownMenu>
  </div>
</template>

<style scoped>
.filter-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.filter-selector-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.filter-list-element {
  transition: all 0.2s;
}

.dragged-wrapper {
  z-index: 999;
  position: absolute;
  transition: none;
}

.ghost {
  border-radius: 6px;
  border: 2px currentColor dashed;
}

.committing .filter-list-element {
  transition: none;
}

.filter-icon {
  width: 1rem;
  height: 1rem;

  /* Visually align the icons (visually aligned != geometrically aligned) */
  /* My (Cynthia's) autistic brain could NOT cope with the fact they looked misaligned due to the text next to it */
  margin-top: -0.15rem;
}
</style>
