<script setup lang="ts">
import FilterSelector from './FilterSelector.vue'
import { SelectedFilter } from '@/composables/filterCourses.js'
import { ref } from 'vue'

const DEMO_MODULES = [
  {
    id: 1,
    name: 'UE1',
  },
  {
    id: 2,
    name: 'UE2',
  },
  {
    id: 3,
    name: 'UE3',
  },
  {
    id: 4,
    name: 'UE4',
  },
  {
    id: 5,
    name: 'UE5',
  },
]

const DEMO_GROUPS = [
  {
    id: 1,
    name: 'GR1',
  },
  {
    id: 2,
    name: 'GR2',
  },
  {
    id: 3,
    name: 'GR3',
  },
  {
    id: 4,
    name: 'GR4',
  },
  {
    id: 5,
    name: 'GR5',
  },
]

const DEMO_TEACHERS = [
  {
    id: 1,
    name: 'PRC',
  },
  {
    id: 2,
    name: 'PR1',
  },
  {
    id: 3,
    name: 'PR2',
  },
  {
    id: 4,
    name: 'PR3',
  },
  {
    id: 5,
    name: 'PR4',
  },
]

const DEMO_PERIODS = [
  {
    id: 1,
    name: 'S1',
  },
  {
    id: 2,
    name: 'S2',
  },
  {
    id: 3,
    name: 'S3',
  },
  {
    id: 4,
    name: 'S4',
  },
  {
    id: 5,
    name: 'S5',
  },
]

const DEMO_ROOM_TYPES = [
  {
    id: 1,
    name: 'Amphithéatre',
  },
  {
    id: 2,
    name: 'Multimedia',
  },
  {
    id: 3,
    name: 'Cours',
  },
  {
    id: 4,
    name: 'Laboratoire',
  },
]

const DEMO_COURSE_TYPES = [
  {
    id: 1,
    name: 'CM',
  },
  {
    id: 2,
    name: 'TD',
  },
  {
    id: 3,
    name: 'TP',
  },
  {
    id: 4,
    name: 'Reunion',
  },
  {
    id: 5,
    name: 'Examen',
  },
]

const selected = ref<SelectedFilter[]>([])
</script>

<template>
  <Story>
    <div style="padding: 20px">
      <FilterSelector
        v-model="selected"
        :available-modules="DEMO_MODULES"
        :available-groups="DEMO_GROUPS"
        :available-teachers="DEMO_TEACHERS"
        :available-periods="DEMO_PERIODS"
        :available-room-types="DEMO_ROOM_TYPES"
        :available-course-types="DEMO_COURSE_TYPES"
      />
    </div>
  </Story>
</template>
