<script lang="ts">
import type { CheckboxRootProps, CheckboxCheckedState } from 'radix-vue'

// Re-export Radix Vue's type
export type { CheckboxCheckedState }

export enum CheckboxColor {
  PRIMARY = 'primary',
  WARNING = 'warning',
  DANGER = 'danger',
  SUCCESS = 'success',
}

export interface CheckboxInputProps extends CheckboxRootProps {
  color?: CheckboxColor
}
</script>

<script setup lang="ts">
import { CheckboxIndicator, CheckboxRoot } from 'radix-vue'
import { useForwardPropsEmitsSkip } from '@/composables/uikit/useForwardPropsEmitsSkip'

import CheckedIcon from '~mingcute/system/check_line.svg'
import MinusIcon from '~mingcute/system/minimize_line.svg'

const model = defineModel<CheckboxCheckedState>({ required: true })
const props = withDefaults(defineProps<CheckboxInputProps>(), { color: CheckboxColor.PRIMARY })
const forwarded = useForwardPropsEmitsSkip(props, null, ['color'])
</script>

<template>
  <CheckboxRoot
    v-bind="forwarded"
    v-model:checked="model"
    :class="['flopui-checkbox', `flopui-checkbox__color-${color}`]"
  >
    <CheckboxIndicator class="flopui-checkbox-indicator">
      <MinusIcon v-if="model === 'indeterminate'" />
      <CheckedIcon v-else-if="model" />
    </CheckboxIndicator>
  </CheckboxRoot>
</template>

<!--suppress CssUnusedSymbol -->
<style>
.flopui-checkbox {
  all: unset;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  width: 1.5rem;
  height: 1.5rem;
  border-radius: var(--border-radius);

  background-color: var(--color-background-primary);
  border: 1px var(--color-border-primary) solid;
}

.flopui-checkbox[disabled] {
  opacity: 0.7;
  cursor: not-allowed;
  background-color: var(--color-background-secondary);
}

.flopui-checkbox[data-state='checked'].flopui-checkbox__color-primary,
.flopui-checkbox[data-state='indeterminate'].flopui-checkbox__color-primary {
  color: var(--color-background-accent);
  border-color: var(--color-border-accent);
  background-color: var(--color-background-accent-light);
}

.flopui-checkbox[data-state='checked'].flopui-checkbox__color-warning,
.flopui-checkbox[data-state='indeterminate'].flopui-checkbox__color-warning {
  color: var(--color-background-warning);
  border-color: var(--color-border-warning);
  background-color: var(--color-background-warning-light);
}

.flopui-checkbox[data-state='checked'].flopui-checkbox__color-danger,
.flopui-checkbox[data-state='indeterminate'].flopui-checkbox__color-danger {
  color: var(--color-background-danger);
  border-color: var(--color-border-danger);
  background-color: var(--color-background-danger-light);
}

.flopui-checkbox[data-state='checked'].flopui-checkbox__color-success,
.flopui-checkbox[data-state='indeterminate'].flopui-checkbox__color-success {
  color: var(--color-background-success);
  border-color: var(--color-border-success);
  background-color: var(--color-background-success-light);
}

.flopui-checkbox:focus {
  outline: var(--color-outline) solid 2px;
}

.flopui-checkbox-indicator {
  width: 1rem;
  height: 1rem;
}
</style>
