<script setup lang="ts">
import { reactive } from 'vue'
import CheckboxInput, { CheckboxColor, CheckboxCheckedState } from './CheckboxInput.vue'

const state = reactive({
  value: false as CheckboxCheckedState,
  disabled: false,
})
</script>

<template>
  <Story title="form/input/CheckboxInput" :layout="{ type: 'grid', width: '250px' }">
    <Variant
      v-for="color in [CheckboxColor.PRIMARY, CheckboxColor.WARNING, CheckboxColor.DANGER, CheckboxColor.SUCCESS]"
      :key="color"
      :title="`${color[0].toUpperCase()}${color.slice(1)}`"
    >
      <template #default>
        <CheckboxInput v-model="state.value" :color="color" :disabled="state.disabled" />
      </template>
    </Variant>

    <template #controls>
      <HstJson v-model="state.value" title="Value" />
      <HstCheckbox v-model="state.disabled" title="Disabled?" />
      <hr />
      <HstButton color="primary" @click="state.value = 'indeterminate'">Make indeterminate</HstButton>
    </template>
  </Story>
</template>

<docs lang="md">
A control that toggles between checked and not checked. Works the same as a [switch](./SwitchInput.story.vue),
but with a different semantic.

It is possible to put the checkbox in an indeterminate state by passing it `'indeterminate'` as value. The checkbox
will never go into this state by itself; it is only a state that can be specified by the parent.

For general use in forms you generally want to use [CheckboxField](../CheckboxField.story.vue) instead.

Refer to the [WAI-ARIA Authoring Practices Guide](https://www.w3.org/WAI/ARIA/apg/patterns/checkbox/) for more
information about when to use this component in comparison to checkboxes.

This component is expected to be used with [`v-model`](https://vuejs.org/guide/essentials/forms.html) for bidirectional
data-binding of the input value.

---
See also: https://www.radix-vue.com/components/checkbox.html
</docs>
