<script setup lang="ts">
import ComboboxInput from './ComboboxInput.vue'
import ComboboxItem from '../combobox/ComboboxItem.vue'
import ComboboxGroup from '../combobox/ComboboxGroup.vue'
import ComboboxLabel from '../combobox/ComboboxLabel.vue'
import ComboboxSeparator from '../combobox/ComboboxSeparator.vue'

import { Entity } from '@/ts/entities/base/entity'
import { Identifier } from '@/ts/entities/base/identifier'

type Entry = { id: string; name: string }
class QsmpEgg extends Entity<null> {
  constructor(
    id: Identifier,
    public name: string,
    public alias?: string
  ) {
    super(id)
  }

  toFormDisplayValue(): string {
    return this.name
  }

  getFormAliases(): string[] {
    return this.alias ? [this.alias] : []
  }

  toJSON() {
    return null
  }
}

const basicOptions = ['Apple', 'Banana', 'Blueberry', 'Grapes', 'Pineapple']

const fruits = [
  { id: 'apple', name: 'Apple' },
  { id: 'banana', name: 'Banana' },
  { id: 'blueberry', name: 'Blueberry' },
  { id: 'grapes', name: 'Grapes' },
  { id: 'pineapple', name: 'Pineapple' },
]

const vegetables = [
  { id: 'aubergine', name: 'Aubergine' },
  { id: 'broccoli', name: 'Broccoli' },
  { id: 'carrot', name: 'Carrot' },
  { id: 'courgette', name: 'Courgette' },
  { id: 'leek', name: 'Leek' },
]

const eggs = [
  new QsmpEgg(new Identifier(1), 'Pomme', 'Manzanita'),
  new QsmpEgg(new Identifier(2), 'Dapper', 'Tupperware'),
  new QsmpEgg(new Identifier(3), 'Richarlyson'),
  new QsmpEgg(new Identifier(4), 'Tallulah'),
  new QsmpEgg(new Identifier(5), 'Gegg'),
]

function initState() {
  return { value: undefined, disabled: false }
}

function initStateEntity() {
  return { value: undefined as undefined | QsmpEgg, disabled: false }
}

function initStateRepro() {
  return { value1: 0, value2: 0 }
}
</script>

<template>
  <Story title="form/input/ComboboxInput">
    <Variant title="Basic usage" :init-state="initState">
      <template #default="{ state }">
        <ComboboxInput v-model="state.value" placeholder="Placeholder..." :disabled="state.disabled">
          <ComboboxItem v-for="option in basicOptions" :key="option" :value="option" />
        </ComboboxInput>
      </template>
    </Variant>
    <Variant title="With custom display" :init-state="initState">
      <template #default="{ state }">
        <ComboboxInput
          v-model="state.value"
          placeholder="Placeholder..."
          :disabled="state.disabled"
          :display-value="(v) => `${v}! Yum!`"
        >
          <ComboboxItem v-for="option in basicOptions" :key="option" :value="option" />
        </ComboboxInput>
      </template>
    </Variant>
    <Variant title="With custom items" :init-state="initState">
      <template #default="{ state }">
        <ComboboxInput v-model="state.value" placeholder="Placeholder..." :disabled="state.disabled">
          <ComboboxItem v-for="option in basicOptions" :key="option" :value="option">
            {{ option }}! <i>Yum!</i>
          </ComboboxItem>
        </ComboboxInput>
      </template>
    </Variant>
    <Variant title="With object values" :init-state="initState">
      <template #default="{ state }">
        <ComboboxInput
          v-model="state.value"
          placeholder="Placeholder..."
          :display-value="(v: Entry) => v?.name"
          :filter-function="(v: Entry[], s) => v.filter(({ id }) => id.includes(s.toLowerCase()))"
          :disabled="state.disabled"
        >
          <ComboboxGroup>
            <ComboboxLabel>Fruits</ComboboxLabel>
            <ComboboxItem v-for="option in fruits" :key="option.id" :value="option" />
          </ComboboxGroup>
          <ComboboxSeparator />
          <ComboboxGroup>
            <ComboboxLabel>Vegetables</ComboboxLabel>
            <ComboboxItem
              v-for="option in vegetables"
              :key="option.id"
              :value="option"
              :disabled="option.id === 'courgette'"
            />
          </ComboboxGroup>
        </ComboboxInput>
      </template>
    </Variant>
    <Variant title="With entities" :init-state="initStateEntity">
      <template #default="{ state }">
        <ComboboxInput v-model="state.value" placeholder="Find an egg..." :disabled="state.disabled">
          <ComboboxItem v-for="egg in eggs" :key="egg.id.valueOf()" :value="egg" />
        </ComboboxInput>
      </template>
    </Variant>

    <Variant title="With lots of options" :init-state="initStateRepro" icon="carbon:chemistry">
      <template #default="{ state }">
        <p>This isn't really a demo but rather a stress test to see how it performs with lots of entries.</p>
        <p>
          Also a useful reproduction case to
          <a href="https://github.com/radix-vue/radix-vue/issues/1040" target="_blank">radix-vue#1040</a>
          so we can track whether the bug occurs again or not.
        </p>
        <h2 class="repro-header">Simplistic case</h2>
        <ComboboxInput v-model="state.value1" placeholder="Pick your favorite number...">
          <ComboboxItem v-for="i in 1000" :key="i" :value="i">{{ i }}</ComboboxItem>
        </ComboboxInput>

        <h2 class="repro-header">With a display value</h2>
        <ComboboxInput
          v-model="state.value2"
          placeholder="Pick your favorite number..."
          :display-value="(v) => `Number ${v}`"
        >
          <ComboboxItem v-for="i in 1000" :key="i" :value="i" />
        </ComboboxInput>
      </template>
    </Variant>
  </Story>
</template>

<style scoped>
.repro-header {
  font-size: 1.25rem;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
}
</style>

<docs lang="md">
A select-like input allowing the user to pick one of the proposed values, with support for searching through the
values. Unlike select, does not support `item-aligned` alignment. Comes with support for [using Entity](#entity-values)
values seamlessly.

For general use in forms you generally want to use [ComboboxField](../ComboboxField.story.vue) instead.

If you want to be able to input multiple values, while this component supports that it is recommended to use
a [ComboboxTagsInput](./ComboboxTagsInput.story.vue) instead which will be able to provide a good visual feedback
of the selected values.

### ComboboxItem
Import path: `@/components/uikit/form/combobox/ComboboxItem.vue`

Values the combobox can take are represented by `ComboboxItem` components passed as its descendants.
It is not necessary to define how the item will be displayed; it will default to using `display-value`. It is however
possible to customize this.

#### Object values
When using objects (except instances of Entity), it is mandatory that you pass:
- A `filter-function` to search through objects
- A `display-value` to transform the object into a string value

#### Entity values
When using entities, the input will use the method `toFormDisplayValue` to get the display value of the entity.
Additionally, entities can implement `getFormAliases` to make it possible to use alternate names while searching.

### ComboboxGroup
Import path: `@/components/uikit/form/combobox/ComboboxGroup.vue`

Groups a bunch of items together. Creates an element with WAI-ARIA `role=group`. **The underlying implementation
expects exactly one `ComboboxLabel` to be present** in order to label the group. While dangling IDs are not explicitly
prohibited by the WAI-ARIA specification, the behavior of user agents may vary. Consider an unlabelled group as an
accessibility non-compliance. [WAI-ARIA 1.2 8.6.1.](https://www.w3.org/TR/wai-aria-1.2/#mapping_additional_relations_error_processing)

It is possible to nest groups, but this is generally not recommended as it complexifies the layout.

See also: [WCAG 2.0 technique ARIA17](https://www.w3.org/TR/WCAG20-TECHS/ARIA17)

### ComboboxLabel
Import path: `@/components/uikit/form/combobox/ComboboxLabel.vue`

Used to label groups of combobox items. They must **only** appear in `ComboboxGroup`s, and there must be **only one**
label per group.

### ComboboxSeparator
Import path: `@/components/uikit/form/combobox/ComboboxSeparator.vue`

Horizontal separator to divide the listbox in multiple sections. Does not carry any semantic value for assistive
technologies.

### Accessibility
In WAI-ARIA documentation, "combobox" may refer to both classic select inputs without support for text input
("select-only combobox", or "non-editable combobox") or combobox with support for a text input ("editable combobox").
This component is an <u>editable combobox</u>. For a non-editable combobox see [SelectInput](./SelectInput.story.vue).

This components implement the 3rd form of autocomplete ("List autocomplete with automatic selection") of the
[WAI-ARIA combobox design pattern](https://www.w3.org/WAI/ARIA/apg/patterns/combobox/).

---
See also: https://www.radix-vue.com/components/combobox.html
</docs>
