<script lang="ts">
import './input.css'
import './select.css'
import './combobox.css'

import type { ComboboxRootProps, ComboboxRootEmits } from 'radix-vue'
import type { Entity } from '@/ts/entities/base/entity'

export type ComboboxValue = string | number | Entity | Record<string, unknown>

// eslint-disable-next-line @typescript-eslint/no-explicit-any -- Required to be compatible with upstream types.
type ArrayOrWrapped<T> = T extends any[] ? T : Array<T>
type FilterFn<T extends ComboboxValue> = (val: ArrayOrWrapped<T>, term: string) => ArrayOrWrapped<T>

export interface ComboboxInputProps<T extends ComboboxValue = string>
  extends Omit<ComboboxRootProps<T>, 'modelValue' | 'open'> {
  placeholder?: string
}

export type ComboboxInputEmits = Omit<ComboboxRootEmits, 'update:modelValue' | 'update:open'>
</script>

<script setup lang="ts" generic="T extends ComboboxValue">
import { computed, provide, ref, watch } from 'vue'
import {
  ComboboxAnchor,
  ComboboxContent,
  ComboboxEmpty,
  ComboboxInput,
  ComboboxPortal,
  ComboboxRoot,
  ComboboxTrigger,
  ComboboxViewport,
} from 'radix-vue'
import { useForwardPropsEmitsSkip } from '@/composables/uikit/useForwardPropsEmitsSkip'

import { display, filter } from '../combobox/combobox'

import ArrowDown from '~mingcute/arrow/down_line.svg'

const model = defineModel<T>()
const open = defineModel<boolean>('open')
const props = defineProps<ComboboxInputProps<T>>()
const emits = defineEmits<ComboboxInputEmits>()
const forwarded = useForwardPropsEmitsSkip(props, emits, ['placeholder'], ['open'])

const focused = ref(false)

// Pesky cast because types rely on use of `any` and it's a nightmare otherwise
// The linter does a poor job of identifying these tricks and considers everything "any"...
const filterFn = computed(() => props.filterFunction ?? (filter as unknown as FilterFn<T>))
const displayValueFn = computed(() => props.displayValue ?? display)

watch(
  () => props.disabled,
  () => {
    if (props.disabled) {
      open.value = false
    }
  }
)

function onFocus(e: Event) {
  open.value = true
  focused.value = true

  const select = e.target as HTMLInputElement
  select.select()
}

function onBlur() {
  focused.value = false
}

provide('flopui-combobox-display-value', displayValueFn)
</script>

<template>
  <ComboboxRoot
    v-bind="forwarded"
    v-model="model"
    v-model:open="open"
    class="flopui-select-root flopui-combobox-root"
    :data-disabled="props.disabled || undefined"
    :display-value="displayValueFn"
    :filter-function="filterFn"
  >
    <ComboboxAnchor class="flopui-input" :data-focused="focused || undefined">
      <ComboboxInput class="flopui-combobox-input" :placeholder="placeholder" @focus="onFocus" @blur="onBlur" />

      <ComboboxTrigger class="flopui-combobox-trigger">
        <ArrowDown class="flopui-select-icon" />
      </ComboboxTrigger>
    </ComboboxAnchor>

    <ComboboxPortal>
      <ComboboxContent
        class="flopui-select-content flopui-combobox-content"
        position="popper"
        align="start"
        :collision-padding="8"
      >
        <ComboboxViewport class="flopui-select-viewport">
          <ComboboxEmpty class="flopui-select-empty">
            {{ $t('form.searchable.notfound') }}
          </ComboboxEmpty>

          <slot />
        </ComboboxViewport>
      </ComboboxContent>
    </ComboboxPortal>
  </ComboboxRoot>
</template>
