<script lang="ts">
import './input.css'
import './select.css'
import './combobox.css'
import './tagsinput.css'

import type { TagsInputRootProps } from 'radix-vue'
import type { ComboboxInputProps, ComboboxValue } from './ComboboxInput.vue'

// eslint-disable-next-line @typescript-eslint/no-explicit-any -- Required to be compatible with upstream types.
type ArrayOrWrapped<T> = T extends any[] ? T : Array<T>
type FilterFn<T extends ComboboxValue> = (val: ArrayOrWrapped<T>, term: string) => ArrayOrWrapped<T>

type BaseTagsInputProps = Omit<
  TagsInputRootProps,
  'modelValue' | 'delimiter' | 'convertValue' | 'displayValue' | 'defaultValue'
>

export interface ComboboxTagsInputProps<T extends ComboboxValue = string>
  extends BaseTagsInputProps,
    /* @vue-ignore */ ComboboxInputProps<T> {
  placeholder?: string
  displayValue?: (val: T) => string
  filterFunction?: FilterFn<T>
}
</script>

<script setup lang="ts" generic="T extends ComboboxValue">
import { computed, provide, ref, watch } from 'vue'
import {
  ComboboxAnchor,
  ComboboxContent,
  ComboboxEmpty,
  ComboboxInput,
  ComboboxPortal,
  ComboboxRoot,
  ComboboxTrigger,
  ComboboxViewport,
  TagsInputInput,
  TagsInputItem,
  TagsInputItemDelete,
  TagsInputItemText,
  TagsInputRoot,
} from 'radix-vue'
import { useForwardPropsEmitsSkip } from '@/composables/uikit/useForwardPropsEmitsSkip'

import { filter, display } from '../combobox/combobox'

import ClearIcon from '~mingcute/system/close_circle_fill.svg'
import ArrowDown from '~mingcute/arrow/down_line.svg'

const open = defineModel<boolean>('open')
const model = defineModel<T[]>({ required: true })
const props = defineProps<ComboboxTagsInputProps<T>>()
const forwarded = useForwardPropsEmitsSkip(props, null, ['displayValue', 'filterFunction', 'defaultValue'], ['open'])

const focused = ref(false)

// Pesky cast because types rely on use of `any` and it's a nightmare otherwise
// The linter does a poor job of identifying these tricks and considers everything "any"...
const filterFn = computed(() => props.filterFunction ?? (filter as unknown as FilterFn<T>))
const displayValueFn = computed(() => props.displayValue ?? display)

const searchTerm = ref('')
watch(model, () => (searchTerm.value = ''), { deep: true })

watch(
  () => props.disabled,
  () => {
    if (props.disabled) {
      open.value = false
    }
  }
)

function onFocus() {
  open.value = true
  focused.value = true
}

function onBlur() {
  focused.value = false
}

provide('flopui-combobox-display-value', displayValueFn)
</script>

<template>
  <ComboboxRoot
    v-model="model"
    v-model:open="open"
    v-model:search-term="searchTerm"
    class="flopui-select-root flopui-combobox-root"
    :filter-function="filterFn"
    :display-value="displayValueFn"
    :data-disabled="props.disabled || undefined"
    :disabled="props.disabled"
    multiple
  >
    <ComboboxAnchor
      class="flopui-input flopui-tags-input flopui-tags-input-combobox"
      :data-focused="focused || open || undefined"
    >
      <TagsInputRoot
        v-bind="forwarded"
        v-model="model as unknown as string[]"
        :display-value="displayValueFn as () => string"
        class="flopui-combobox-tags-input"
        delimiter=""
      >
        <TagsInputItem
          v-for="(val, idx) in model"
          :key="idx"
          :value="val as unknown as string"
          class="flopui-tags-input-tag"
        >
          <TagsInputItemText class="flopui-tags-input-tag-name" />
          <TagsInputItemDelete class="flopui-tags-input-delete">
            <ClearIcon />
          </TagsInputItemDelete>
        </TagsInputItem>

        <ComboboxInput as-child>
          <TagsInputInput
            :placeholder="placeholder"
            class="flopui-tags-input-field"
            @keydown.enter.prevent
            @focus="onFocus"
            @blur="onBlur"
          />
        </ComboboxInput>
      </TagsInputRoot>

      <ComboboxTrigger class="flopui-combobox-trigger">
        <ArrowDown class="flopui-select-icon" />
      </ComboboxTrigger>
    </ComboboxAnchor>

    <ComboboxPortal>
      <ComboboxContent
        class="flopui-select-content flopui-combobox-content"
        position="popper"
        align="start"
        :collision-padding="8"
      >
        <ComboboxViewport class="flopui-select-viewport">
          <ComboboxEmpty class="flopui-select-empty">
            {{ $t('form.searchable.notfound') }}
          </ComboboxEmpty>

          <slot />
        </ComboboxViewport>
      </ComboboxContent>
    </ComboboxPortal>
  </ComboboxRoot>
</template>

<style>
.flopui-input.flopui-tags-input.flopui-tags-input-combobox {
  padding-right: 0.75rem;
}

.flopui-combobox-tags-input {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  flex: 1;

  max-width: calc(100% - 0.25rem - 1rem);
}
</style>
