.flopui-combobox-root[data-disabled] {
  opacity: 0.7;
  cursor: not-allowed;
}

.flopui-combobox-root[data-disabled] * {
  pointer-events: none;
}

.flopui-combobox-input {
  all: unset;
  box-sizing: border-box;

  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
}

.flopui-combobox-trigger {
  all: unset;
  box-sizing: border-box;

  display: flex;
  flex-shrink: 0;
  cursor: pointer;
}

.flopui-combobox-trigger[data-state='open'] .flopui-select-icon {
  transform: rotate(180deg);
}

.flopui-combobox-content {
  position: absolute;
  margin-top: 0.25rem;
  overflow: hidden;
  z-index: 10;
}
