<script setup lang="ts">
import ComboboxTagsInput from './ComboboxTagsInput.vue'
import ComboboxItem from '../combobox/ComboboxItem.vue'
import ComboboxGroup from '../combobox/ComboboxGroup.vue'
import ComboboxLabel from '../combobox/ComboboxLabel.vue'
import ComboboxSeparator from '../combobox/ComboboxSeparator.vue'
import { Entity } from '@/ts/entities/base/entity'
import { Identifier } from '@/ts/entities/base/identifier'

type Entry = { id: string; name: string }
class QsmpEgg extends Entity<null> {
  constructor(
    id: Identifier,
    public name: string,
    public alias?: string
  ) {
    super(id)
  }

  toFormDisplayValue(): string {
    return this.name
  }

  getFormAliases(): string[] {
    return this.alias ? [this.alias] : []
  }

  toJSON() {
    return null
  }
}

const options = [
  'Bobby',
  'Chayanne',
  'Dapper',
  'Empanada',
  'Gegg',
  'Ju4n4Fl1pp4',
  'JuanaFlippa',
  'Leonarda',
  'Pepito',
  'Pomme',
  'Ramón',
  'Richarlyson',
  'SunnySideUp',
  'Tallulah',
  'Tilín',
  'Trump',
  '춘식',
]

const fruits = [
  { id: 'apple', name: 'Apple' },
  { id: 'banana', name: 'Banana' },
  { id: 'blueberry', name: 'Blueberry' },
  { id: 'grapes', name: 'Grapes' },
  { id: 'pineapple', name: 'Pineapple' },
]

const vegetables = [
  { id: 'aubergine', name: 'Aubergine' },
  { id: 'broccoli', name: 'Broccoli' },
  { id: 'carrot', name: 'Carrot' },
  { id: 'courgette', name: 'Courgette' },
  { id: 'leek', name: 'Leek' },
]

const eggs = [
  new QsmpEgg(new Identifier(1), 'Pomme', 'Manzanita'),
  new QsmpEgg(new Identifier(2), 'Dapper', 'Tupperware'),
  new QsmpEgg(new Identifier(3), 'Richarlyson'),
  new QsmpEgg(new Identifier(4), 'Tallulah'),
  new QsmpEgg(new Identifier(5), 'Gegg'),
]

function initState() {
  return { value: ['Pomme', 'Gegg', 'Richarlyson'], disabled: false }
}

function initStateFood() {
  return { value: [], disabled: false }
}

function initStateEgg() {
  return { value: [], disabled: false }
}

function initStateRepro() {
  return { value1: [], value2: [] }
}
</script>

<template>
  <Story title="form/input/ComboboxTagsInput">
    <Variant title="Basic usage" :init-state="initState">
      <template #default="{ state }">
        <ComboboxTagsInput v-model="state.value" placeholder="Placeholder..." :disabled="state.disabled">
          <ComboboxItem v-for="option in options" :key="option" :value="option" />
        </ComboboxTagsInput>
      </template>
    </Variant>
    <Variant title="Advanced usage" :init-state="initStateFood">
      <template #default="{ state }">
        <ComboboxTagsInput
          v-model="state.value"
          placeholder="Placeholder..."
          :disabled="state.disabled"
          :display-value="(v: Entry) => v?.name"
          :filter-function="(v: Entry[], s) => v.filter(({ id }) => id.includes(s.toLowerCase()))"
        >
          <ComboboxGroup>
            <ComboboxLabel>Fruits</ComboboxLabel>
            <ComboboxItem v-for="option in fruits" :key="option.id" :value="option" />
          </ComboboxGroup>
          <ComboboxSeparator />
          <ComboboxGroup>
            <ComboboxLabel>Vegetables</ComboboxLabel>
            <ComboboxItem v-for="option in vegetables" :key="option.id" :value="option" />
          </ComboboxGroup>
        </ComboboxTagsInput>
      </template>
    </Variant>
    <Variant title="Usage with entities" :init-state="initStateEgg">
      <template #default="{ state }">
        <ComboboxTagsInput v-model="state.value" placeholder="Placeholder..." :disabled="state.disabled">
          <ComboboxItem v-for="egg in eggs" :key="egg.id.valueOf()" :value="egg" />
        </ComboboxTagsInput>
      </template>
      <template #controls="{ state }">
        <HstJson :model-value="JSON.parse(JSON.stringify(state.value))" title="Value" />
        <HstCheckbox v-model="state.disabled" title="Disabled" />
      </template>
    </Variant>

    <Variant title="With lots of options" :init-state="initStateRepro" icon="carbon:chemistry">
      <template #default="{ state }">
        <p>This isn't really a demo but rather a stress test to see how it performs with lots of entries.</p>
        <p>
          Also a useful reproduction case to
          <a href="https://github.com/radix-vue/radix-vue/issues/1040" target="_blank">radix-vue#1040</a>
          so we can track whether the bug occurs again or not.
        </p>
        <h2 class="repro-header">Simplistic case</h2>
        <ComboboxTagsInput v-model="state.value1" placeholder="Find your favorite number...">
          <ComboboxItem v-for="i in 1000" :key="i" :value="i">{{ i }}</ComboboxItem>
        </ComboboxTagsInput>

        <h2 class="repro-header">With a display value</h2>
        <ComboboxTagsInput
          v-model="state.value2"
          placeholder="Find your favorite number..."
          :display-value="(v) => `Number ${v}`"
        >
          <ComboboxItem v-for="i in 1000" :key="i" :value="i" />
        </ComboboxTagsInput>
      </template>
    </Variant>
  </Story>
</template>

<style scoped>
.repro-header {
  font-size: 1.25rem;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
}
</style>

<docs lang="md">
A select-like input allowing the user to pick multiple proposed values, with support for searching through the values.
If you only accept one value, use a [ComboboxInput](./ComboboxInput.story.vue) instead.

This component is an extension of the [ComboboxInput](./ComboboxInput.story.vue) with the ability to select multiple
values. Input visually looks like a [TagsInput](./TagsInput.story.vue) to display all the selected values.

For general use in forms you generally want to use [ComboboxTagsField](../ComboboxTagsField.story.vue) instead.

Refer to the documentation of the [ComboboxInput](./ComboboxInput.story.vue) for more information about how to
specify allowed values, and accessibility information.

---
See also:
- https://www.radix-vue.com/components/tags-input.html#with-combobox
- https://www.radix-vue.com/components/combobox.html
</docs>
