<script setup lang="ts">
import type { DateValue } from '@internationalized/date'
import { ref, watch } from 'vue'
import { useI18n } from 'vue-i18n'
import { changeLocale } from '@/i18n'

import DateRangeInput from './DateRangeInput.vue'

const str = (n: number) => n.toString().padStart(2, '0')
const printDate = (date: DateValue | undefined) =>
  date ? `${date.year}-${str(date.month)}-${str(date.day)}` : 'undefined'

const locale = ref('en-US')
const locales = [
  { label: 'Français (France)', value: 'fr-FR' },
  { label: 'Français (Canada)', value: 'fr-CA' },
  { label: 'English (Great Britain)', value: 'en-GB' },
  { label: 'English (United States)', value: 'en-US' },
  { label: 'English (Canadian)', value: 'en-CA' },
  { label: 'Hebrew (Israel)', value: 'he-IL' },
]

function initState() {
  return { value: { start: undefined, end: undefined }, disabled: false }
}

if (window.top !== window) {
  // The more I use Histoire, the more I lose my mind
  watch(locale, () => changeLocale(locale.value))

  const i18n = useI18n()
  i18n.messages.value['he-IL'] = { _meta: { dir: 'rtl' } }
}
</script>

<template>
  <Story title="form/input/DateRangeInput">
    <Variant title="Basic usage" :init-state="initState">
      <template #default="{ state }">
        <DateRangeInput v-model="state.value" :disabled="state.disabled" />
      </template>

      <template #controls="{ state }">
        <p style="margin: 0.25rem 0.5rem">
          Because Histoire is capricious touching anything here has a chance of breaking the demo, especially if done
          after setting a value.
        </p>

        <HstText :model-value="printDate(state.value.start)" title="Value (start, readonly)" />
        <HstText :model-value="printDate(state.value.end)" title="Value (end, readonly)" />

        <HstSelect v-model="locale" title="Locale" :options="locales" />
        <HstCheckbox v-model="state.disabled" title="Disabled?" />
      </template>
    </Variant>
  </Story>
</template>

<docs lang="md">
Date selector using a [Date Calendar](../../calendar/DateCalendar.story.vue) to let the user pick a date, along with
a plain field to input it by hand. Locale-aware with regards to dd/mm vs mm/dd.

For general use in forms you generally want to use [DateField](../DateField.story.vue) instead.

This component is expected to be used with [`v-model`](https://vuejs.org/guide/essentials/forms.html) for bidirectional
data-binding of the input value.

--
See also: https://www.radix-vue.com/components/date-picker.html
</docs>
