.flopui-input-datepicker {
  justify-content: space-between;
  padding: 0.25rem calc(0.25rem + 2px);
}

.flopui-input-datepicker:focus-within {
  border-color: var(--color-border-accent);
}

.flopui-input-datepicker[data-invalid] {
  border-color: var(--color-border-danger);
}

.flopui-input-datepicker[data-disabled] * {
  pointer-events: none;
}

.flopui-input-datepicker-field {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.flopui-input-datepicker-segment {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;

  padding: 0 0.25rem;
  border-radius: var(--border-radius-small);
}

.flopui-input-datepicker-separator {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0 -0.375rem;
}

.flopui-input-datepicker-segment:focus {
  background-color: var(--color-background-primary);
  outline: 2px var(--color-outline) solid;
  z-index: 2;
}

.flopui-button.flopui-button-icon.flopui-input-datepicker-trigger {
  border-radius: var(--border-radius-small);
  height: 1.5rem;
  width: 1.5rem;
}

.flopui-button.flopui-button-icon.flopui-input-datepicker-trigger[data-state="open"] {
  border-color: var(--color-border-accent);
  background-color: var(--color-background-accent-light);
  color: var(--color-text-accent);
}

.flopui-input-datepicker-popover {
  background-color: var(--color-background-primary);
  border-radius: var(--border-radius);
  padding: 1rem;

  box-shadow: var(--shadow-strong);
}

.flopui-input-datepicker-arrow {
  fill: var(--color-background-primary);
  filter: drop-shadow(var(--shadow-strong));
}

@media (prefers-reduced-motion: no-preference) {
  .flopui-input-datepicker-popover {
    animation-duration: 0.4s;
    animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
    will-change: transform, opacity;
  }

  .flopui-input-datepicker-popover[data-state='open'][data-side='top'] {
    animation-name: flopui-slide-down-and-fade-in;
  }

  .flopui-input-datepicker-popover[data-state='open'][data-side='right'] {
    animation-name: flopui-slide-left-and-fade-in;
  }

  .flopui-input-datepicker-popover[data-state='open'][data-side='bottom'] {
    animation-name: flopui-slide-up-and-fade-in;
  }

  .flopui-input-datepicker-popover[data-state='open'][data-side='left'] {
    animation-name: flopui-slide-right-and-fade-in;
  }
}
