<script lang="ts">
import './input.css'
import './datepicker.css'

import type { DateRangePickerRootProps } from 'radix-vue'
import type { DateValue } from '@internationalized/date'

export interface DateRangeInputProps extends DateRangePickerRootProps {}
</script>

<script setup lang="ts">
import { computed } from 'vue'
import { useI18n } from 'vue-i18n'

import {
  DateRange,
  DateRangePickerArrow,
  DateRangePickerCalendar,
  DateRangePickerContent,
  DateRangePickerField,
  DateRangePickerInput,
  DateRangePickerRoot,
  DateRangePickerTrigger,
} from 'radix-vue'
import { useForwardPropsEmitsSkip } from '@/composables/uikit/useForwardPropsEmitsSkip'
import RangeCalendarImpl from '@/components/uikit/calendar/_impl/RangeCalendarImpl.vue'
import SimpleButton from '../../button/SimpleButton.vue'

import ArrowRight from '~mingcute/arrow/arrow_right_line.svg'
import CalendarIcon from '~mingcute/business/calendar_2_line.svg'

const i18n = useI18n()

const model = defineModel<DateRange>({ required: true })
const placeholder = defineModel<DateValue>('placeholder')
const props = defineProps<DateRangeInputProps>()
const forwarded = useForwardPropsEmitsSkip(props, null, [], ['placeholder'])

const displayLocale = computed(() => props.locale || i18n.locale.value)
</script>

<template>
  <DateRangePickerRoot
    v-bind="forwarded"
    v-model="model"
    v-model:placeholder="placeholder"
    :locale="displayLocale"
    :disabled="disabled"
    fixed-weeks
  >
    <div class="flopui-input flopui-input-datepicker" :data-disabled="props.disabled || undefined">
      <DateRangePickerField v-slot="{ segments }" class="flopui-input-datepicker-field">
        <template v-for="(item, idx) in segments.start" :key="item.part === 'literal' ? item.part + idx : item.part">
          <DateRangePickerInput
            v-if="item.part === 'literal'"
            :part="item.part"
            type="start"
            class="flopui-input-datepicker-separator"
          >
            {{ item.value }}
          </DateRangePickerInput>
          <DateRangePickerInput v-else :part="item.part" type="start" class="flopui-input-datepicker-segment">
            {{ item.value }}
          </DateRangePickerInput>
        </template>

        <div class="flopui-input-datepicker-range-separator">
          <ArrowRight />
        </div>

        <template v-for="(item, idx) in segments.end" :key="item.part === 'literal' ? item.part + idx : item.part">
          <DateRangePickerInput
            v-if="item.part === 'literal'"
            :part="item.part"
            type="end"
            class="flopui-input-datepicker-separator"
          >
            {{ item.value }}
          </DateRangePickerInput>
          <DateRangePickerInput v-else :part="item.part" type="end" class="flopui-input-datepicker-segment">
            {{ item.value }}
          </DateRangePickerInput>
        </template>
      </DateRangePickerField>

      <DateRangePickerTrigger as-child class="flopui-input-datepicker-trigger">
        <SimpleButton icon-button>
          <CalendarIcon />
        </SimpleButton>
      </DateRangePickerTrigger>
    </div>

    <DateRangePickerContent align="end" :collision-padding="8" class="flopui-input-datepicker-popover">
      <DateRangePickerArrow class="flopui-input-datepicker-arrow" />
      <DateRangePickerCalendar v-slot="{ weekDays, grid }" class="flopui-calendar-range">
        <RangeCalendarImpl :week-days="weekDays" :grid="grid" :display-locale="displayLocale" />
      </DateRangePickerCalendar>
    </DateRangePickerContent>
  </DateRangePickerRoot>
</template>

<style>
.flopui-input-datepicker-range-separator {
  margin: 0 0.5rem;
  width: 1rem;
  height: 1rem;
  color: var(--color-text-muted);
}

[dir='rtl'] .flopui-input-datepicker-range-separator {
  transform: rotate(180deg);
}
</style>
