<script lang="ts">
import './input.css'
import './datepicker.css'

import type { DatePickerRootProps } from 'radix-vue'
import type { DateValue } from '@internationalized/date'

export interface DateInputProps extends DatePickerRootProps {}
</script>

<script setup lang="ts">
import { computed } from 'vue'
import { useI18n } from 'vue-i18n'

import {
  DatePickerArrow,
  DatePickerCalendar,
  DatePickerContent,
  DatePickerField,
  DatePickerInput,
  DatePickerRoot,
  DatePickerTrigger,
} from 'radix-vue'
import { useForwardPropsEmitsSkip } from '@/composables/uikit/useForwardPropsEmitsSkip'
import DateCalendarImpl from '@/components/uikit/calendar/_impl/DateCalendarImpl.vue'
import SimpleButton from '../../button/SimpleButton.vue'

import CalendarIcon from '~mingcute/business/calendar_2_line.svg'

const i18n = useI18n()

const model = defineModel<DateValue>()
const placeholder = defineModel<DateValue>('placeholder')
const props = defineProps<DateInputProps>()
const forwarded = useForwardPropsEmitsSkip(props, null, [], ['placeholder'])

const displayLocale = computed(() => props.locale || i18n.locale.value)
</script>

<template>
  <DatePickerRoot
    v-bind="forwarded"
    v-model="model"
    v-model:placeholder="placeholder"
    :locale="displayLocale"
    fixed-weeks
  >
    <div class="flopui-input flopui-input-datepicker" :data-disabled="props.disabled || undefined">
      <DatePickerField v-slot="{ segments }" class="flopui-input-datepicker-field">
        <template v-for="(item, idx) in segments" :key="item.part === 'literal' ? item.part + idx : item.part">
          <DatePickerInput v-if="item.part === 'literal'" :part="item.part" class="flopui-input-datepicker-separator">
            {{ item.value }}
          </DatePickerInput>
          <DatePickerInput v-else :part="item.part" class="flopui-input-datepicker-segment">
            {{ item.value }}
          </DatePickerInput>
        </template>
      </DatePickerField>

      <DatePickerTrigger as-child class="flopui-input-datepicker-trigger">
        <SimpleButton icon-button>
          <CalendarIcon />
        </SimpleButton>
      </DatePickerTrigger>
    </div>

    <DatePickerContent align="end" :collision-padding="8" class="flopui-input-datepicker-popover">
      <DatePickerArrow class="flopui-input-datepicker-arrow" />
      <DatePickerCalendar v-slot="{ weekDays, grid }">
        <DateCalendarImpl :week-days="weekDays" :grid="grid" :display-locale="displayLocale" />
      </DatePickerCalendar>
    </DatePickerContent>
  </DatePickerRoot>
</template>
