.flopui-input {
  all: unset;
  box-sizing: border-box;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px var(--color-border-primary) solid;
  background-color: var(--color-background-primary);
  border-radius: var(--border-radius);
  padding: 0.25rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  height: 2rem;
  gap: 0.5rem;
  width: 100%;
  color: var(--color-text-primary);
  overflow: hidden;
}

.flopui-input[data-placeholder] {
  color: var(--color-text-muted);
}

.flopui-input:focus,
.flopui-input[data-state='open'],
.flopui-input[data-focused] {
  border-color: transparent;
  outline: var(--color-outline) solid 3px;
  outline-offset: -1px;
}

.flopui-input::placeholder {
  color: var(--color-text-muted);
}

.flopui-input:disabled,
.flopui-input[data-disabled] {
  opacity: 0.7;
  cursor: not-allowed;
}
