<script lang="ts">
import './input.css'

import type { NumberFieldRootProps } from 'radix-vue'

export interface NumberInputProps extends Omit<NumberFieldRootProps, 'modelValue'> {}
</script>

<script setup lang="ts">
import { ref } from 'vue'
import { NumberFieldDecrement, NumberFieldIncrement, NumberFieldInput, NumberFieldRoot } from 'radix-vue'
import { useForwardPropsEmitsSkip } from '@/composables/uikit/useForwardPropsEmitsSkip'

import AddIcon from '~mingcute/system/add_line.svg'
import SubIcon from '~mingcute/system/minimize_line.svg'

const model = defineModel<number>({ required: true })
const props = defineProps<NumberInputProps>()
const emits = defineEmits<{ input: []; focus: [Event]; blur: [Event] }>()
const forwarded = useForwardPropsEmitsSkip(props, null)

const focused = ref(false)

function onFocus(e: Event) {
  focused.value = true
  emits('focus', e)
}

function onBlur(e: Event) {
  focused.value = false
  emits('blur', e)
}
</script>

<template>
  <NumberFieldRoot
    v-bind="forwarded"
    v-model="model"
    :locale="locale || $i18n.locale"
    class="flopui-input flopui-number-input"
    :data-focused="focused || undefined"
  >
    <NumberFieldDecrement class="flopui-number-input-control">
      <SubIcon />
    </NumberFieldDecrement>
    <NumberFieldInput class="flopui-number-input-area" @input="emits('input')" @focus="onFocus" @blur="onBlur" />
    <NumberFieldIncrement class="flopui-number-input-control">
      <AddIcon />
    </NumberFieldIncrement>
  </NumberFieldRoot>
</template>

<style>
.flopui-input.flopui-number-input {
  padding: 0;
  gap: 0;
}

.flopui-number-input-control {
  all: unset;
  box-sizing: border-box;

  display: flex;
  width: 2rem;
  height: 2rem;
  padding: 0.5rem;

  cursor: pointer;
  color: var(--color-text-muted);
}

.flopui-number-input-control[disabled] {
  background-color: var(--color-background-secondary);
  cursor: not-allowed;
}

.flopui-number-input-control:first-child {
  border-right: 1px var(--color-border-primary) solid;
}

.flopui-number-input-control:last-child {
  border-left: 1px var(--color-border-primary) solid;
}

[dir='rtl'] .flopui-number-input-control:first-child {
  border-right: 0;
  border-left: 1px var(--color-border-primary) solid;
}

[dir='rtl'] .flopui-number-input-control:last-child {
  border-left: 0;
  border-right: 1px var(--color-border-primary) solid;
}

.flopui-number-input-area {
  all: unset;
  box-sizing: border-box;

  font: inherit;
  height: 100%;
  padding: 0.25rem 0.5rem;
  flex: 1;
}

.flopui-number-input-area[disabled] {
  cursor: not-allowed;
  background-color: var(--color-background-secondary);
  color: var(--color-text-secondary);
}
</style>
