<script setup lang="ts">
import { ref, watch } from 'vue'
import { changeLocale } from '@/i18n'
import NumberInput from './NumberInput.vue'
import { useI18n } from 'vue-i18n'

const locale = ref('en-US')
const locales = [
  { label: 'Français (France)', value: 'fr-FR' },
  { label: 'Français (Canada)', value: 'fr-CA' },
  { label: 'English (Great Britain)', value: 'en-GB' },
  { label: 'English (United States)', value: 'en-US' },
  { label: 'English (Canadian)', value: 'en-CA' },
  { label: 'Hebrew (Israel)', value: 'he-IL' },
]

const currencies = [
  { label: 'Euro', value: 'EUR' },
  { label: 'United States Dollar', value: 'USD' },
  { label: 'Canadian Dollar', value: 'CAD' },
  { label: 'British Pound', value: 'GBP' },
]

function initStateDemo() {
  return { value: 1, locale: 'en-US', disabled: false }
}

function initStateBasic() {
  return { value: 1, locale: 'en-US', disabled: false }
}

function initStatePercent() {
  return { value: 0.35, locale: 'en-US', disabled: false }
}

function initStateCurrency() {
  return { value: 39.99, currency: 'EUR', locale: 'en-US', disabled: false }
}

if (window.top !== window) {
  watch(locale, () => changeLocale(locale.value))

  const i18n = useI18n()
  i18n.messages.value['he-IL'] = { _meta: { dir: 'rtl' } }
}
</script>

<template>
  <Story title="form/input/NumberInput">
    <Variant title="Basic usage" :init-state="initStateDemo">
      <template #default="{ state }">
        <NumberInput v-model="state.value" placeholder="Placeholder..." :disabled="state.disabled" />
      </template>

      <template #controls="{ state }">
        <HstNumber v-model="state.value" title="Value" />
        <HstSelect v-model="locale" title="Locale" :options="locales" />
        <HstCheckbox v-model="state.disabled" title="Disabled?" />
      </template>
    </Variant>

    <Variant title="With min/max" :init-state="initStateBasic">
      <template #default="{ state }">
        <NumberInput v-model="state.value" placeholder="Placeholder..." :min="0" :max="5" :disabled="state.disabled" />
      </template>

      <template #controls="{ state }">
        <HstNumber v-model="state.value" title="Value" />
        <HstSelect v-model="locale" title="Locale" :options="locales" />
        <HstCheckbox v-model="state.disabled" title="Disabled?" />
      </template>
    </Variant>

    <Variant title="Percentage" :init-state="initStatePercent">
      <template #default="{ state }">
        <NumberInput
          v-model="state.value"
          placeholder="Placeholder..."
          :step="0.01"
          :format-options="{ style: 'percent' }"
          :disabled="state.disabled"
        />
      </template>

      <template #controls="{ state }">
        <HstNumber v-model="state.value" title="Value" />
        <HstSelect v-model="locale" title="Locale" :options="locales" />
        <HstCheckbox v-model="state.disabled" title="Disabled?" />
      </template>
    </Variant>

    <Variant title="Currency" :init-state="initStateCurrency">
      <template #default="{ state }">
        <NumberInput
          v-model="state.value"
          placeholder="Placeholder..."
          :step="0.25"
          :format-options="{ style: 'currency', currency: state.currency }"
          :disabled="state.disabled"
        />
      </template>

      <template #controls="{ state }">
        <HstNumber v-model="state.value" title="Value" />
        <HstSelect v-model="locale" title="Locale" :options="locales" />
        <HstSelect v-model="state.currency" title="Currency" :options="currencies" />
        <HstCheckbox v-model="state.disabled" title="Disabled?" />
      </template>
    </Variant>
  </Story>
</template>

<docs lang="md">
Locale-friendly number selector with physical controls. Formatted depending on the selected locale and options passed
to the component.

For general use in forms you generally want to use [NumberField](../NumberField.story.vue) instead.

This component is expected to be used with [`v-model`](https://vuejs.org/guide/essentials/forms.html) for bidirectional
data-binding of the input value.

---
See also: https://www.radix-vue.com/components/number-field.html
</docs>
