<script setup lang="ts">
import RadioInput from './RadioInput.vue'
import RadioItem, { RadioColor } from '../radio/RadioItem.vue'

function initState() {
  return { value: 'option1', disabled: false }
}
</script>

<template>
  <Story title="form/input/RadioInput">
    <Variant title="Basic usage" :init-state="initState">
      <template #default="{ state }">
        <RadioInput v-model="state.value" :disabled="state.disabled">
          <RadioItem value="option1">Option 1</RadioItem>
          <RadioItem value="option2">Option 2</RadioItem>
          <RadioItem value="option3">Option 3</RadioItem>
          <RadioItem value="option4">Option 4</RadioItem>
        </RadioInput>
      </template>
    </Variant>
    <Variant title="With colors" :init-state="initState">
      <template #default="{ state }">
        <RadioInput v-model="state.value" :disabled="state.disabled">
          <RadioItem :color="RadioColor.PRIMARY" value="option1">Option 1</RadioItem>
          <RadioItem :color="RadioColor.WARNING" value="option2">Option 2</RadioItem>
          <RadioItem :color="RadioColor.DANGER" value="option3">Option 3</RadioItem>
          <RadioItem :color="RadioColor.SUCCESS" value="option4">Option 4</RadioItem>
        </RadioInput>
      </template>
    </Variant>
    <Variant title="With a disabled option" :init-state="initState">
      <template #default="{ state }">
        <RadioInput v-model="state.value" :disabled="state.disabled">
          <RadioItem value="option1">Option 1</RadioItem>
          <RadioItem value="option2">Option 2</RadioItem>
          <RadioItem value="option3">Option 3</RadioItem>
          <RadioItem value="option4">Option 4</RadioItem>
          <RadioItem value="option5" disabled>Option 5</RadioItem>
        </RadioInput>
      </template>
    </Variant>
  </Story>
</template>

<docs lang="md">
A set of checkable buttons—known as radio buttons—where no more than one of the buttons can be checked at a time.

This component is expected to be used with [`v-model`](https://vuejs.org/guide/essentials/forms.html) for bidirectional
data-binding of the input value.

### RadioItem
Import path: `@/components/uikit/form/radio/RadioItem.vue`

One of the possible values for the input.

### Accessibility
The implementation is using [WCAG 2.0 technique ARIA17](https://www.w3.org/TR/WCAG20-TECHS/ARIA17) to clearly mark
the inputs as grouped. It is possible to add a distinct label to the group using `aria-label` or `aria-labelledby`.
Refer to [ARIA17](https://www.w3.org/TR/WCAG20-TECHS/ARIA17) for more information.

---
See also: https://www.radix-vue.com/components/radio-group.html
</docs>
