<script lang="ts">
import type { RadioGroupRootProps } from 'radix-vue'

export interface RadioInputProps extends Omit<RadioGroupRootProps, 'modelValue'> {}
</script>

<script setup lang="ts">
import { RadioGroupRoot } from 'radix-vue'
import { useForwardPropsEmitsSkip } from '@/composables/uikit/useForwardPropsEmitsSkip'

const model = defineModel<string>()
const props = defineProps<RadioInputProps>()
const forwarded = useForwardPropsEmitsSkip(props, null)
</script>

<template>
  <RadioGroupRoot v-bind="forwarded" v-model="model" class="flopui-radio-group">
    <slot />
  </RadioGroupRoot>
</template>

<style>
.flopui-radio-group {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.flopui-radio-group[data-orientation='horizontal'] {
  flex-direction: row;
}
</style>
