<script lang="ts">
import type { SliderBaseProps, SliderBaseEmits } from './_slider/SliderBase.vue'

export interface RangeInputProps extends Omit<SliderBaseProps, 'thumbCount'> {}

export type RangeInputEmits = SliderBaseEmits
</script>

<script setup lang="ts">
import SliderBase from './_slider/SliderBase.vue'
import { useForwardPropsEmitsSkip } from '@/composables/uikit/useForwardPropsEmitsSkip'

const model = defineModel<[number, number]>({ required: true })
const props = defineProps<RangeInputProps>()
const emits = defineEmits<RangeInputEmits>()
const forwarded = useForwardPropsEmitsSkip(props, emits)
</script>

<template>
  <SliderBase v-bind="forwarded" v-model="model" :thumb-count="2" />
</template>
