.flopui-select-root {
  position: relative;
}

.flopui-select-input {
  cursor: pointer;
}

.flopui-select-input[data-item-aligned][data-state='open'] {
  /* W3C WCAG 2: should not trigger F78 for SC 2.4.7 */
  /* The button is visually replaced by the whole selector which does have clear focus indication */
  outline: none;
}

.flopui-select-value {
  flex: 1;
}

.flopui-select-icon {
  width: 1.5rem;
  height: 1.5rem;
  color: var(--color-text-primary);
  transition: transform 0.2s;
}

.flopui-select-input[data-state='open'] .flopui-select-icon {
  transform: rotate(180deg);
}

.flopui-select-content {
  max-height: var(--radix-popper-available-height);
  width: var(--radix-popper-anchor-width);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-strong);
  background-color: var(--color-background-primary);
  color: var(--color-text-primary);
  will-change: opacity, transform;
}

.flopui-select-viewport {
  padding: 0.25rem calc(0.25rem - 1px);
}

.flopui-select-empty {
  padding: 0.25rem 0.5rem;
  text-align: center;
  font-size: 0.9rem;
  line-height: 1rem;
  color: var(--color-text-muted)
}
