<script lang="ts">
import './input.css'
import './select.css'

import type { SelectRootProps, SelectRootEmits } from 'radix-vue'

export interface SelectInputProps extends Omit<SelectRootProps, 'modelValue'> {
  itemAligned?: boolean
  placeholder?: string
  ariaLabel?: string
}

export type SelectInputEmits = Omit<SelectRootEmits, 'update:modelValue'>
</script>

<script setup lang="ts">
import { SelectContent, SelectPortal, SelectRoot, SelectTrigger, SelectValue, SelectViewport } from 'radix-vue'
import { useForwardPropsEmitsSkip } from '@/composables/uikit/useForwardPropsEmitsSkip'

import ArrowDown from '~mingcute/arrow/down_line.svg'

const model = defineModel<string>()
const props = defineProps<SelectInputProps>()
const emits = defineEmits<SelectInputEmits>()
const forwarded = useForwardPropsEmitsSkip(props, emits, ['placeholder', 'ariaLabel', 'itemAligned'])
</script>

<template>
  <SelectRoot v-bind="forwarded" v-model="model" class="flopui-select-root">
    <SelectTrigger
      class="flopui-input flopui-select-input"
      :aria-label="ariaLabel"
      :data-item-aligned="itemAligned || undefined"
    >
      <SelectValue class="flopui-select-value" :placeholder="placeholder" />
      <ArrowDown class="flopui-select-icon" />
    </SelectTrigger>

    <SelectPortal>
      <SelectContent :position="itemAligned ? 'item-aligned' : 'popper'" :side-offset="5" class="flopui-select-content">
        <SelectViewport class="flopui-select-viewport">
          <slot />
        </SelectViewport>
      </SelectContent>
    </SelectPortal>
  </SelectRoot>
</template>
