<script setup lang="ts">
import SliderInput from './SliderInput.vue'

function initState() {
  return { value: 50, disabled: false }
}

function initStateAltRange() {
  return { value: 0, disabled: false }
}
</script>

<template>
  <Story title="form/input/SliderInput">
    <Variant title="Basic usage" :init-state="initState">
      <template #default="{ state }">
        <SliderInput v-model="state.value" :disabled="state.disabled" />
      </template>
    </Variant>

    <Variant title="Custom range" :init-state="initStateAltRange">
      <template #default="{ state }">
        <SliderInput v-model="state.value" :min="-10" :max="10" :disabled="state.disabled" />
      </template>
    </Variant>

    <Variant title="With discrete steps" :init-state="initState">
      <template #default="{ state }">
        <SliderInput v-model="state.value" :step="10" :disabled="state.disabled" />
      </template>
    </Variant>

    <Variant title="Vertical slider" :init-state="initState">
      <template #default="{ state }">
        <SliderInput v-model="state.value" :disabled="state.disabled" orientation="vertical" />
      </template>
    </Variant>
  </Story>
</template>

<docs lang="md">
A slider input letting the user pick a value between a given range (default 0-100). The range can be tweaked with a
custom `min` and/or `max`, and can be divided in discrete steps using `step`.

For general use in forms you generally want to use [SliderField](../SliderField.story.vue) instead.

This component is expected to be used with [`v-model`](https://vuejs.org/guide/essentials/forms.html) for bidirectional
data-binding of the input value.

Due to a limitation within the primitive component, [certain mouse events are not fired](https://www.radix-vue.com/components/slider.html#mouse-events-are-not-fired).

---
See also: https://www.radix-vue.com/components/slider.html
</docs>
