<script lang="ts">
import type { SliderBaseProps, SliderBaseEmits } from './_slider/SliderBase.vue'

export interface SliderInputProps extends Omit<SliderBaseProps, 'thumbCount'> {}

export type SliderInputEmits = SliderBaseEmits
</script>

<script setup lang="ts">
import { computed } from 'vue'
import SliderBase from './_slider/SliderBase.vue'
import { useForwardPropsEmitsSkip } from '@/composables/uikit/useForwardPropsEmitsSkip'

const model = defineModel<number>({ required: true })
const props = defineProps<SliderInputProps>()
const emits = defineEmits<SliderInputEmits>()
const forwarded = useForwardPropsEmitsSkip(props, emits)

const modelAsArray = computed({
  get: () => [model.value],
  set: ([v]) => [(model.value = v)],
})
</script>

<template>
  <SliderBase v-bind="forwarded" v-model="modelAsArray" :thumb-count="1" />
</template>
