<script lang="ts">
import type { SwitchRootProps } from 'radix-vue'

export enum SwitchColor {
  PRIMARY = 'primary',
  WARNING = 'warning',
  DANGER = 'danger',
  SUCCESS = 'success',
}

export interface SwitchInputProps extends Omit<SwitchRootProps, 'checked'> {
  color?: SwitchColor
}
</script>

<script setup lang="ts">
import { SwitchRoot, SwitchThumb } from 'radix-vue'
import { useForwardPropsEmitsSkip } from '@/composables/uikit/useForwardPropsEmitsSkip'

const model = defineModel<boolean>({ required: true })
const props = withDefaults(defineProps<SwitchInputProps>(), { color: SwitchColor.PRIMARY })

const forwarded = useForwardPropsEmitsSkip(props, null, ['color'])
</script>

<template>
  <SwitchRoot
    v-bind="forwarded"
    v-model:checked="model"
    :class="['flopui-switch-input', `flopui-switch-input__color-${color}`]"
  >
    <SwitchThumb class="flopui-switch-thumb" />
  </SwitchRoot>
</template>

<!--suppress CssUnusedSymbol -->
<style>
.flopui-switch-input {
  all: unset;
  box-sizing: border-box;

  width: 2.625rem;
  height: 1.5rem;
  background-color: var(--color-background-gray);
  border-radius: 0.75rem;
  position: relative;
  cursor: pointer;

  transition: background-color 0.1s;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.flopui-switch-input[disabled] {
  opacity: 0.7;
  cursor: not-allowed;
}

.flopui-switch-input:focus {
  outline: var(--color-outline) solid 2px;
}

.flopui-switch-input[data-state='checked'].flopui-switch-input__color-primary {
  background-color: var(--color-background-accent);
}

.flopui-switch-input[data-state='checked'].flopui-switch-input__color-warning {
  background-color: var(--color-background-warning);
}

.flopui-switch-input[data-state='checked'].flopui-switch-input__color-danger {
  background-color: var(--color-background-danger);
}

.flopui-switch-input[data-state='checked'].flopui-switch-input__color-success {
  background-color: var(--color-background-success);
}

.flopui-switch-thumb {
  display: block;
  width: 1.25rem;
  height: 1.25rem;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.2s;
  transform: translateX(0.125rem);
  will-change: transform;
}

.flopui-switch-input[data-state='checked'] .flopui-switch-thumb {
  transform: translateX(1.25rem);
}

[dir='rtl'] .flopui-switch-thumb {
  transform: translateX(-0.125rem);
}

[dir='rtl'] .flopui-switch-input[data-state='checked'] .flopui-switch-thumb {
  transform: translateX(-1.25rem);
}
</style>
