<script setup lang="ts">
import SwitchInput, { SwitchColor } from './SwitchInput.vue'
import { reactive } from 'vue'

const state = reactive({
  value: false,
  disabled: false,
})
</script>

<template>
  <Story title="form/input/SwitchInput" :layout="{ type: 'grid', width: '250px' }">
    <Variant
      v-for="color in [SwitchColor.PRIMARY, SwitchColor.WARNING, SwitchColor.DANGER, SwitchColor.SUCCESS]"
      :key="color"
      :title="`${color[0].toUpperCase()}${color.slice(1)}`"
    >
      <template #default>
        <SwitchInput v-model="state.value" :color="color" :disabled="state.disabled" />
      </template>
    </Variant>

    <template #controls>
      <HstCheckbox v-model="state.value" title="Value" />
      <HstCheckbox v-model="state.disabled" title="Disabled?" />
    </template>
  </Story>
</template>

<docs lang="md">
A control that toggles between checked and not checked. Works the same as a [checkbox](./CheckboxInput.story.vue),
but with a different semantic. Does not have an indeterminate state, unlike checkboxes.

For general use in forms you generally want to use [SwitchField](../SwitchField.story.vue) instead.

Refer to the [WAI-ARIA Authoring Practices Guide](https://www.w3.org/WAI/ARIA/apg/patterns/switch/) for more
information about when to use this component in comparison to checkboxes.

This component is expected to be used with [`v-model`](https://vuejs.org/guide/essentials/forms.html) for bidirectional
data-binding of the input value.

---
See also: https://www.radix-vue.com/components/switch.html
</docs>
