<script setup lang="ts">
import TagsInput from './TagsInput.vue'

function initState() {
  return { value: ['Pomme', 'Gegg', 'Richarlyson'], disabled: false }
}
</script>

<template>
  <Story title="form/input/TagsInput">
    <Variant title="Basic usage" :init-state="initState">
      <template #default="{ state }">
        <TagsInput v-model="state.value" placeholder="Placeholder..." :disabled="state.disabled" />
      </template>
    </Variant>
  </Story>
</template>
