.flopui-input.flopui-tags-input {
  justify-content: flex-start;
  padding: calc(0.25rem - 1px) 0.25rem;
  background-color: var(--color-background-secondary);
  height: auto;
  gap: 0.25rem;
  flex-wrap: wrap;
}

.flopui-tags-input[data-disabled] * {
  pointer-events: none;
}

.flopui-tags-input-tag {
  display: flex;
  align-items: center;
  gap: 0.375rem;
  height: 1.5rem;
  padding: 0.25rem;
  background: var(--color-background-primary);
  border: 1px var(--color-border-primary) solid;
  border-radius: var(--border-radius-small);

  transition:
    background-color 0.2s,
    border-color 0.2s;
}

[dir='ltr'] .flopui-tags-input-tag {
  padding-left: 0.5rem;
  border-top-right-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
}

[dir='rtl'] .flopui-tags-input-tag {
  padding-right: 0.5rem;
  border-top-left-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem;
}

.flopui-tags-input-tag[data-state='active'] {
  background-color: var(--color-background-accent-light);
  border-color: var(--color-border-accent);
}

.flopui-tags-input-delete {
  all: unset;
  box-sizing: border-box;

  display: flex;
  width: 1rem;
  height: 1rem;

  cursor: pointer;
  color: var(--color-text-secondary);
  transition: color 0.2s;
}

.flopui-tags-input-delete:hover {
  color: var(--color-text-danger);
}

.flopui-tags-input-delete {
  fill: currentColor;
}

.flopui-tags-input-tag-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.flopui-tags-input-field {
  all: unset;
  box-sizing: border-box;

  text-overflow: ellipsis;
  min-width: 10rem;
  height: 1.5rem;
  flex: 1 1 auto;
  width: 0;

  border: 1px var(--color-border-primary) solid;
  background-color: var(--color-background-primary);
  border-radius: 0.75rem;
  padding: 0.25rem 0.25rem 0.25rem 0.5rem;
  line-height: 1.5rem;
}

.flopui-tags-input-field[data-invalid] {
  border-color: var(--color-border-danger);
}

.flopui-tags-input-field:focus {
  /* W3C WCAG 2: should not trigger F78 for SC 2.4.7 */
  /* The focus state is shown on the whole tags input instead of the inner text field specifically */
  outline: none;
}

.flopui-tags-input-field::placeholder {
  color: var(--color-text-muted);
}
