<script lang="ts">
import './input.css'
import './tagsinput.css'

import type { TagsInputRootProps } from 'radix-vue'

export interface TagsInputProps extends Omit<TagsInputRootProps, 'modelValue'> {
  placeholder?: string
}
</script>

<script setup lang="ts">
import { TagsInputInput, TagsInputItem, TagsInputItemDelete, TagsInputItemText, TagsInputRoot } from 'radix-vue'
import { useForwardPropsEmitsSkip } from '@/composables/uikit/useForwardPropsEmitsSkip'

import ClearIcon from '~mingcute/system/close_circle_fill.svg'

const model = defineModel<string[]>({ required: true })
const props = defineProps<TagsInputProps>()
const emits = defineEmits<{ blur: []; focus: [] }>()
const forwarded = useForwardPropsEmitsSkip(props, null, ['placeholder'])
</script>

<template>
  <TagsInputRoot v-bind="forwarded" v-model="model" class="flopui-input flopui-tags-input">
    <TagsInputItem v-for="item in model" :key="item" :value="item" class="flopui-tags-input-tag">
      <TagsInputItemText class="flopui-tags-input-tag-name" />
      <TagsInputItemDelete class="flopui-tags-input-delete">
        <ClearIcon />
      </TagsInputItemDelete>
    </TagsInputItem>

    <TagsInputInput
      :placeholder="placeholder"
      class="flopui-tags-input-field"
      @focus="emits('focus')"
      @blur="emits('blur')"
    />
  </TagsInputRoot>
</template>
