<script lang="ts">
import './input.css'

import type { TextareaHTMLAttributes } from 'vue'

export interface TextareaInputProps extends /* @vue-ignore */ TextareaHTMLAttributes {}
</script>

<script setup lang="ts">
const model = defineModel<string>({ required: true })
defineProps<TextareaInputProps>()
</script>

<template>
  <textarea v-model="model" class="flopui-input flopui-textarea" />
</template>

<style>
.flopui-input.flopui-textarea {
  height: auto;
  resize: vertical;
  min-height: 6.75rem;
  padding: 0.75rem;
}
</style>
