<script setup lang="ts">
import TextInput from '@/components/uikit/form/input/TextInput.vue'

function initState() {
  return { value: '', disabled: false }
}
</script>

<template>
  <Story title="form/input/TextInput">
    <Variant title="Text input" :init-state="initState">
      <template #default="{ state }">
        <TextInput v-model="state.value" placeholder="Username..." :disabled="state.disabled" />
      </template>
    </Variant>
    <Variant title="Password input" :init-state="initState">
      <template #default="{ state }">
        <TextInput v-model="state.value" placeholder="Password..." type="password" :disabled="state.disabled" />
      </template>
    </Variant>
  </Story>
</template>

<docs lang="md">
Wrapper around a plain HTML input.

For general use in forms you generally want to use [TextField](../TextField.story.vue) instead.

This component is expected to be used with [`v-model`](https://vuejs.org/guide/essentials/forms.html) for bidirectional
data-binding of the input value.
</docs>
