<script setup lang="ts">
import TextareaInput from './TextareaInput.vue'

function initState() {
  return { value: '', disabled: false }
}
</script>

<template>
  <Story title="form/input/TextareaInput">
    <Variant title="Basic usage" :init-state="initState">
      <template #default="{ state }">
        <TextareaInput v-model="state.value" placeholder="Placeholder..." :disabled="state.disabled" />
      </template>

      <template #controls="{ state }">
        <HstTextarea v-model="state.value" title="Value" />
        <HstCheckbox v-model="state.disabled" title="Disabled?" />
      </template>
    </Variant>
  </Story>
</template>

<docs lang="md">
Wrapper around a plain HTML textarea.

For general use in forms you generally want to use [TextareaField](../TextareaField.story.vue) instead.

This component is expected to be used with [`v-model`](https://vuejs.org/guide/essentials/forms.html) for bidirectional
data-binding of the input value.
</docs>
