<script lang="ts">
import './input.css'

import type { InputHTMLAttributes } from 'vue'

export interface TextInputProps extends /* @vue-ignore */ InputHTMLAttributes {}
</script>

<script setup lang="ts">
const model = defineModel<string>({ required: true })
defineProps<TextInputProps>()
</script>

<template>
  <input v-model="model" type="text" class="flopui-input" />
</template>
