<script setup lang="ts">
import TimeInput from '@/components/uikit/form/input/TimeInput.vue'

function initState() {
  return { value: { hours: 2, minutes: 30 }, disabled: false }
}
</script>

<template>
  <Story title="form/input/TimeInput">
    <Variant title="Time input" :init-state="initState">
      <template #default="{ state }">
        <TimeInput v-model="state.value" :disabled="state.disabled" />
      </template>
    </Variant>
  </Story>
</template>

<docs lang="md">
An input letting the user specify a time (or duration) with 2 separate numeric fields for the hours component and the
minutes component.

For general use in forms you generally want to use [TimeField](../TimeField.story.vue) instead.

This component is expected to be used with [`v-model`](https://vuejs.org/guide/essentials/forms.html) for bidirectional
data-binding of the input value.
</docs>
