<script lang="ts">
import './input.css'

export type TimeValue = { hours: number; minutes: number }

export interface TimeInputProps {
  id?: string
  disabled?: boolean
  required?: boolean
  minHours?: number
  maxHours?: number
  stepHours?: number
  minMinutes?: number
  maxMinutes?: number
  stepMinutes?: number
}
</script>

<script setup lang="ts">
const model = defineModel<TimeValue>({ required: true })
withDefaults(defineProps<TimeInputProps>(), {
  id: undefined,
  minHours: 0,
  maxHours: 23,
  stepHours: 1,
  minMinutes: 0,
  maxMinutes: 59,
  stepMinutes: 5,
})
</script>

<template>
  <div class="flopui-input flopui-time-input" :data-disabled="disabled || undefined">
    <input
      :id="id"
      v-model="model.hours"
      type="number"
      :min="minHours"
      :max="maxHours"
      :step="stepHours"
      :disabled="disabled"
      :required="required"
    />
    <div class="flopui-time-unit">
      {{ $t('uikit.form.time-input.hours', model.hours) }}
    </div>

    <input
      v-model="model.minutes"
      type="number"
      :min="minMinutes"
      :max="maxMinutes"
      :step="stepMinutes"
      :disabled="disabled"
      :required="required"
    />
    <div class="flopui-time-unit">
      {{ $t('uikit.form.time-input.minutes', model.minutes) }}
    </div>
  </div>
</template>

<style>
.flopui-time-input {
  padding: 0;
  display: flex;
  overflow: visible;
  gap: 2px;
}

.flopui-time-input input,
.flopui-time-unit {
  all: unset;
  box-sizing: border-box;

  height: 100%;
  padding: 0.25rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.flopui-time-input input {
  border-radius: var(--border-radius);
  flex: 1;
}

.flopui-time-input input:focus {
  outline: 2px var(--color-outline) solid;
}

.flopui-time-unit {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 0.625rem;
  font-weight: 600;
  flex-shrink: 0;
  user-select: none;
  color: var(--color-text-secondary);
  background-color: var(--color-background-secondary);
  border: 0 var(--color-border-primary) solid;
  border-left-width: 1px;
  border-right-width: 1px;
}

.flopui-time-unit:last-child {
  border-right-width: 0;
  border-top-right-radius: calc(var(--border-radius) - 1px);
  border-bottom-right-radius: calc(var(--border-radius) - 1px);
}

[dir='rtl'] .flopui-time-unit:last-child {
  border-right-width: 1px;
  border-left-width: 0;
  border-radius: calc(var(--border-radius) - 1px) 0 0 calc(var(--border-radius) - 1px);
}
</style>
