<script setup lang="ts">
import '../picker-calendar.css'

import type { DateValue } from '@internationalized/date'
import type { Grid } from 'radix-vue/date'

import {
  CalendarCell,
  CalendarCellTrigger,
  CalendarGrid,
  CalendarHeader,
  CalendarHeading,
  CalendarNext,
  CalendarPrev,
} from 'radix-vue'

import CalendarGridHead from '../_parts/CalendarGridHead.vue'
import CalendarGridBody from '../_parts/CalendarGridBody.vue'

import ChevronLeft from '~mingcute/arrow/left_line.svg'
import ChevronRight from '~mingcute/arrow/right_line.svg'

defineProps<{ grid: Grid<DateValue>[]; weekDays: string[]; displayLocale: string; compact?: boolean }>()
defineOptions({ inheritAttrs: false })
</script>

<template>
  <CalendarHeader class="flopui-calendar-picker-header">
    <CalendarPrev class="flopui-calendar-picker-button">
      <ChevronLeft />
    </CalendarPrev>
    <CalendarHeading class="flopui-calendar-picker-heading" />
    <CalendarNext class="flopui-calendar-picker-button">
      <ChevronRight />
    </CalendarNext>
  </CalendarHeader>

  <div class="flopui-calendar-picker-grid-container">
    <CalendarGrid v-for="gridMonth in grid" :key="gridMonth.value.toString()" class="flopui-calendar-picker-grid">
      <CalendarGridHead :week-days="weekDays" :display-locale="displayLocale" :start="grid[0].cells[0]" />
      <CalendarGridBody v-slot="{ day, month }" :grid-month="gridMonth" :locale="displayLocale" :compact="compact">
        <CalendarCell :date="day" class="flopui-calendar-picker-cell">
          <CalendarCellTrigger :day="day" :month="month" class="flopui-calendar-picker-day">
            <div class="flopui-calendar-picker-day-inner">
              {{ day.day.toLocaleString(displayLocale) }}
            </div>
          </CalendarCellTrigger>
        </CalendarCell>
      </CalendarGridBody>
    </CalendarGrid>
  </div>
</template>
