<script setup lang="ts">
import '../picker-calendar.css'

import type { Grid } from 'radix-vue/date'
import type { DateValue } from '@internationalized/date'

import {
  RangeCalendarCell,
  RangeCalendarCellTrigger,
  RangeCalendarGrid,
  RangeCalendarHeader,
  RangeCalendarHeading,
  RangeCalendarNext,
  RangeCalendarPrev,
} from 'radix-vue'

import CalendarGridHead from '../_parts/CalendarGridHead.vue'
import CalendarGridBody from '../_parts/CalendarGridBody.vue'

import ChevronLeft from '~mingcute/arrow/left_line.svg'
import ChevronRight from '~mingcute/arrow/right_line.svg'

defineProps<{ grid: Grid<DateValue>[]; weekDays: string[]; displayLocale: string; compact?: boolean }>()
defineOptions({ inheritAttrs: false })
</script>

<template>
  <RangeCalendarHeader class="flopui-calendar-picker-header">
    <RangeCalendarPrev class="flopui-calendar-picker-button">
      <ChevronLeft />
    </RangeCalendarPrev>
    <RangeCalendarHeading class="flopui-calendar-picker-heading" />
    <RangeCalendarNext class="flopui-calendar-picker-button">
      <ChevronRight />
    </RangeCalendarNext>
  </RangeCalendarHeader>

  <div class="flopui-calendar-picker-grid-container">
    <RangeCalendarGrid v-for="gridMonth in grid" :key="gridMonth.value.toString()" class="flopui-calendar-picker-grid">
      <CalendarGridHead :week-days="weekDays" :display-locale="displayLocale" :start="grid[0].cells[0]" />
      <CalendarGridBody v-slot="{ day, month }" :grid-month="gridMonth" :locale="displayLocale" :compact="compact">
        <RangeCalendarCell :date="day" class="flopui-calendar-picker-cell">
          <RangeCalendarCellTrigger :day="day" :month="month" class="flopui-calendar-picker-day">
            <div class="flopui-calendar-picker-day-inner">
              {{ day.day.toLocaleString(displayLocale) }}
            </div>
          </RangeCalendarCellTrigger>
        </RangeCalendarCell>
      </CalendarGridBody>
    </RangeCalendarGrid>
  </div>
</template>
