<script setup lang="ts">
import SplitterGroup from './SplitterGroup.vue'
import SplitterPanel from './SplitterPanel.vue'
import SplitterResizeHandle from './SplitterResizeHandle.vue'
</script>

<template>
  <Story title="splitter/Splitter">
    <div class="story-container">
      <SplitterGroup direction="horizontal">
        <SplitterPanel class="splitter-panel" :min-size="20"> Panel A </SplitterPanel>
        <SplitterResizeHandle />
        <SplitterPanel :min-size="20">
          <SplitterGroup direction="vertical">
            <SplitterPanel class="splitter-panel" :min-size="20"> Panel B </SplitterPanel>
            <SplitterResizeHandle />
            <SplitterPanel class="splitter-panel" :min-size="20"> Panel C </SplitterPanel>
          </SplitterGroup>
        </SplitterPanel>
      </SplitterGroup>
    </div>
  </Story>
</template>

<style scoped>
.story-container {
  width: 800px;
  height: 400px;
}

.splitter-panel {
  border: 3px solid black;
  border-radius: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
</style>
