<script setup lang="ts">
import './splitter.css'

import { SplitterResizeHandle as RadixSplitterResizeHandle } from 'radix-vue'
</script>

<template>
  <RadixSplitterResizeHandle class="flopui-splitter-resize-handle" />
</template>
