<script setup lang="ts">
import { SplitterPanel as RadixSplitterPanel, SplitterPanelProps, SplitterPanelEmits } from 'radix-vue'
import { useForwardPropsEmitsSkip } from '@/composables/uikit/useForwardPropsEmitsSkip'

const props = defineProps<SplitterPanelProps>()
const emits = defineEmits<SplitterPanelEmits>()
const forwarded = useForwardPropsEmitsSkip(props, emits)
</script>

<template>
  <RadixSplitterPanel v-bind="forwarded">
    <slot />
  </RadixSplitterPanel>
</template>
