<script setup lang="ts">
import './splitter.css'

import { SplitterGroup as RadixSplitterGroup, SplitterGroupProps, SplitterGroupEmits } from 'radix-vue'
import { useForwardPropsEmitsSkip } from '@/composables/uikit/useForwardPropsEmitsSkip'

const props = defineProps<SplitterGroupProps>()
const emits = defineEmits<SplitterGroupEmits>()
const forwarded = useForwardPropsEmitsSkip(props, emits)
</script>

<template>
  <RadixSplitterGroup v-bind="{ direction: props.direction, ...forwarded }">
    <slot />
  </RadixSplitterGroup>
</template>
