<template>
  <main>
    <h2>{{ $t('department-selection.title') }}</h2>
    <div class="container w-50">
      <div v-if="deptStore.entities.size !== 0">
        <div v-for="department in deptStore.entities" :key="department.id.valueOf()" class="row mb-1">
          <RouterLink
            :to="{
              name: RouteNames.DEPARTMENT_SCHEDULE,
              params: { dept: department.abbrev },
            }"
            class="choices"
          >
            {{ department.abbrev }}
          </RouterLink>
        </div>
      </div>
    </div>
  </main>
</template>

<script setup lang="ts">
import { RouteNames } from '@/router/routes'
import { useDepartmentsStore } from '@/stores/departments.ts'

const deptStore = useDepartmentsStore()
</script>

<style scoped>
.row {
  margin-bottom: 8px;
}

.choices {
  font-weight: bold;
  margin-bottom: 3px;
}
</style>
