<template>
  <div class="temporary-placeholder" />
</template>

<style scoped>
.temporary-placeholder {
  height: 3rem;
  width: 100px;
  background-color: var(--color-background-accent);
  border-radius: 0.5rem;
}
</style>
