<!-- This file is part of the FlOpEDT/FlOpScheduler project.               -->
<!-- Copyright (c) 2017                                                    -->
<!-- Authors: Iulian Ober, Paul Renaud-Goud, Pablo Seban, et al.           -->
<!--                                                                       -->
<!-- This program is free software: you can redistribute it and/or modify  -->
<!-- it under the terms of the GNU Affero General Public License as        -->
<!-- published by the Free Software Foundation, either version 3 of the    -->
<!-- License, or (at your option) any later version.                       -->
<!--                                                                       -->
<!-- This program is distributed in the hope that it will be useful, but   -->
<!-- WITHOUT ANY WARRANTY; without even the implied warranty of            -->
<!-- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU      -->
<!-- Affero General Public License for more details.                       -->
<!--                                                                       -->
<!-- You should have received a copy of the GNU Affero General Public      -->
<!-- License along with this program. If not, see                          -->
<!-- <http://www.gnu.org/licenses/>.                                       -->
<!--                                                                       -->
<!-- You can be released from the requirements of the license by purchasing-->
<!-- a commercial license. Buying such a license is mandatory as soon as   -->
<!-- you develop activities involving the FlOpEDT/FlOpScheduler software   -->
<!-- without disclosing the source code of your own applications.          -->

{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
<style>
</style>
<link rel="stylesheet" href="{% static 'base/header.css' %}?4" />
<link rel="stylesheet" href="{% static 'TTapp/styles.css' %}" />
<link rel="apple-touch-icon" sizes="180x180" href=" /static/base/img/favicons/apple-touch-icon.png?v=5AeyQYqgW7">
<link rel="icon" type="image/png" sizes="32x32" href=" /static/base/img/favicons/favicon-32x32.png?v=5AeyQYqgW7">
<link rel="icon" type="image/png" sizes="16x16" href=" /static/base/img/favicons/favicon-16x16.png?v=5AeyQYqgW7">
<link rel="manifest" href=" /static/base/img/favicons/site.webmanifest?v=5AeyQYqgW7">
<link rel="mask-icon" href=" /static/base/img/favicons/safari-pinned-tab.svg?v=5AeyQYqgW7" color="#858585">
<link rel="shortcut icon" href=" /static/base/img/favicons/favicon.ico?v=5AeyQYqgW7">
<meta charset="UTF-8">
<meta name="msapplication-TileColor" content="#048c04">
<meta name="theme-color" content="#000000">

<script src="{% url 'javascript-catalog' %}"></script>
{% block jquery %}
<script src="{% static 'base/jquery.min.js' %}"></script>
{% endblock %}
<script src="{% static 'base/d3.v4.min.js' %}"></script>
<script src="{% static 'base/loader.js' %}"></script>
<script>var url_logo = "{% static 'base/logo-clock.svg' %}";</script>
<!-- script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script -->
<title>{% block title %}{% trans "Schedule_title" %}{% endblock %}</title>

{% block css %}
{% endblock %}
{#    Allows to display a theme according to the user's preferences #}
{#    If the user doesn't have a preferred theme yet, no css file will be overloaded#}
{#    The white theme doesn't overload any file#}

{% if request.user.get_theme == "Brume" %}
    <link rel="stylesheet" href="{% static 'base/themes/themeBrume.css' %}"/>
{% elif request.user.get_theme == "Prestige Edition" %}
    <link rel="stylesheet" href="{% static 'base/themes/themePrestige.css' %}"/>
{% elif request.user.get_theme == "SynthWave" %}
    <link rel="stylesheet" href="{% static 'base/themes/themeSynthWave.css' %}"/>
{% elif request.user.get_theme == "Dark" %}
    <link rel="stylesheet" href="{% static 'base/themes/themeDark.css' %}"/>
{% elif request.user.get_theme == "Pink" %}
    <link rel="stylesheet" href="{% static 'base/themes/themePink.css' %}"/>
{% endif %}


</head>
<body>
  {% block loader %}
  <div id="loader" class="loader" style="visibility:hidden;"></div>
  {% endblock %}
  <!--<header>Emplois du temps</header>-->
  {% block full_nav %}
  <nav id="menu-edt">
    <a class="hide_this_link" id="live-logo"  style="padding: 0px 0px 0px 0px; float: left" >
    </a>
    <div id="full_logo">
      <a style="text-decoration: none; font-family: inherit; color: inherit" href="{% url 'index' %}">
          <span id="acro_logo">{% trans "<span id=flopGreen >flop</span>!<span id=EDTRed >Scheduler</span>" %}</span>
      </a>
      {% autoescape off %}
      <span id="head_logo"></span>
      {% endautoescape %}
      <a id="idea_box" target="_blank" href="https://framaforms.org/flopedt-boite-a-idees-1681143369">
          <img src="{% static 'base/img/boite_a_idees_flop_2.png'%}" width="40" alt="idea_box"/>
            BOÎTE A IDEES
      </a>
      <a id="agpl" target="_blank" href="https://framagit.org/flopedt/flopedt">
	      <img src="{% static 'base/agplv3-88x31.png'%}" height="31" width="88" alt="AGPL v.3"/>

      </a>
    </div>

    {% block nav %}
    <ul>
      {% if request.department %}
          {% if request.is_department_admin %}
            <li><a href="#" onclick="openNav()">☰</a></li>
          {% endif %}
            <li><a href="{% url 'base:edt-blank' department %}">{% trans 'Schedule_banner' %}</a></li>
          {% if request.has_department_perm %}
            <li><a href="{% url 'base:decale' department %}">{% trans 'Move/Cancel' %}</a></li>
          {% endif %}
          <li><a href="{% url 'base:preferences' department %}">{% trans 'Preferences' %}</a></li>
          <li><a href="{% url 'flop_ics:index' department %}">{% trans 'iCal' %}</a></li>
          <li><a href="{% url 'base:aide' department %}">{% trans 'Help' %}</a></li>
          <li><a href="{% url 'base:contact-blank' department %}">{% trans 'Messages' %}</a></li>
          <li><a href="{% url 'base:modules' department %}">{% trans 'Modules' %}</a></li>
          <li><a href="{% url 'base:roomreservation' department %}">{% trans 'Reservations'%}</a></li>
          {% if request.is_department_admin %}
              <li><a href="{% url 'cstmanager:cstmanager' department %}">{% trans 'Constraints'%}</a></li>
              <li><a href="{% url 'solve_board:main_board' department %}">{% trans 'Generate' %}</a></li>
              <li><a href="{% url 'flopeditor:flopeditor-department-default' department %}">{% trans 'flop!EDITOR' %}</a></li>
              <li><a href="{% url 'configuration:configuration' %}">{% trans 'Import'%}</a></li>
              <li><a href="{% url 'admin:index' %}">{% trans 'Admin'%}</a></li>
          {% endif %}
      {% endif %}
      <li style="float:right">
	{% if user.is_authenticated %}
	{% if request.department %}
	<a href="{% url 'people:logout' %}?next={% url 'base:edt-blank' department %}">{% trans 'Sign out' %}</a>
	{% elif not 'accounts' in request.path %}
	<a href="{% url 'people:logout' %}?next={{request.path}}">{% trans 'Sign out' %}</a>
	{% else %}
	<a href="{% url 'people:logout' %}">{% trans "Sign out" %}</a>
	{% endif %}
	{% else %}
	<a href="{% url 'people:login' %}?next={{request.path}}" id='sign_in'>{% trans 'Sign in' %}</a>
	{% endif %}
      </li>
      <li style="float:right">{% if user.is_authenticated %}
	<a href="{% url 'people:change_redirect' %}">{% trans 'Signed in as ' %} {{ user.username }}</a> {% endif %}
      </li>
    </ul>
    {% endblock %}
  </nav>
  {% endblock %}
  <section id="content">
    {% block content %}{% endblock %}
    <div id="side_panel" class="sidebar">
      <a href="javascript:void(0)" class="btn_panel" onclick="closeNav()">×</a>
      {% block side_panel %} {% endblock %}
    </div>
  </section>

  {% block logo %}
  <script src="{% static 'base/logo.js' %}"></script>
  {% endblock %}
  {% block javascript %}
  {% endblock %}
</body>
</html>
