.flopui-calendar-picker {
  background-color: var(--color-background-primary);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-light);
  padding: 1rem;
}

.flopui-calendar-picker-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flopui-calendar-picker-button {
  all: unset;
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border-radius: var(--border-radius-small);
  background-color: transparent;
  color: var(--color-text-primary);
  cursor: pointer;
}

[dir='rtl'] .flopui-calendar-picker-button {
  transform: rotate(180deg);
}

.flopui-calendar-picker-button:hover {
  background-color: var(--color-background-accent-light);
}

.flopui-calendar-picker-button[disabled] {
  cursor: not-allowed;
  background-color: transparent;
  opacity: 0.7;
}

.flopui-calendar-picker-button:focus {
  outline: 2px var(--color-outline) solid;
}

.flopui-calendar-picker-button svg {
  width: 1.5rem;
  height: 1.5rem;
}

.flopui-calendar-picker-heading {
  font-weight: 500;
}

.flopui-calendar-picker-grid-container {
  display: flex;
  column-gap: 1rem;
  margin-top: 1rem;
}

.flopui-calendar-picker-grid {
  width: 100%;
  border-collapse: collapse;
  user-select: none;
}

.flopui-calendar-picker-head {
  display: flex;
  align-items: center;
  height: 1.5rem;
}

.flopui-calendar-picker-body {
  display: grid;
}

.flopui-calendar-picker-row {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(8, calc(2rem + 2px));
}

.flopui-calendar-picker-weekday,
.flopui-calendar-picker-weeknum {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-text-accent);
}

.flopui-calendar-picker-weekday {
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1rem;
}

.flopui-calendar-picker-weekday:first-child {
  font-weight: 400;
}

.flopui-calendar-picker-weeknum {
  font-size: 0.625rem;
  font-weight: 500;
  border-right: 0 var(--color-border-primary) solid;
}

.flopui-calendar-picker-cell {
  position: relative;
  z-index: 1;
  padding: 1px 0;
}

.flopui-calendar-picker-day {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--color-text-primary);
  white-space: nowrap;
  cursor: pointer;
}

.flopui-calendar-picker-day-inner {
  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: content-box;
  padding: 1px;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.flopui-calendar-picker-cell:focus-within { z-index: 2; }
.flopui-calendar-picker-day:focus { outline: none; }
.flopui-calendar-picker-day:focus .flopui-calendar-picker-day-inner  {
  outline: 2px var(--color-outline) solid;
  outline-offset: 1px;
}

.flopui-calendar-picker-day:not([data-disabled]):hover .flopui-calendar-picker-day-inner,
.flopui-calendar-range .flopui-calendar-picker-day[data-selected]:not([data-outside-view]):not([data-outside-month]),
.flopui-calendar-picker .flopui-calendar-picker-day[data-highlighted] {
  color: var(--color-text-accent);
  background-color: var(--color-background-accent-light);
}

.flopui-calendar-picker:not(.flopui-calendar-range) .flopui-calendar-picker-day[data-selected]:not([data-outside-view]):not([data-outside-month]) .flopui-calendar-picker-day-inner,
.flopui-calendar-range .flopui-calendar-picker-day[data-selection-start]:not([data-outside-view]):not([data-outside-month]) .flopui-calendar-picker-day-inner,
.flopui-calendar-range .flopui-calendar-picker-day[data-selection-end]:not([data-outside-view]):not([data-outside-month]) .flopui-calendar-picker-day-inner {
  background-color: var(--color-background-accent);
  color: var(--color-text-accent-contrast);
}

/* noinspection CssOverwrittenProperties */
.flopui-calendar-picker:not(.flopui-calendar-range) .flopui-calendar-picker-day[data-selected][data-outside-month] .flopui-calendar-picker-day-inner,
.flopui-calendar-picker:not(.flopui-calendar-range) .flopui-calendar-picker-day[data-selected][data-outside-view] .flopui-calendar-picker-day-inner,
.flopui-calendar-range .flopui-calendar-picker-day[data-selection-start][data-outside-month] .flopui-calendar-picker-day-inner,
.flopui-calendar-range .flopui-calendar-picker-day[data-selection-start][data-outside-view] .flopui-calendar-picker-day-inner,
.flopui-calendar-range .flopui-calendar-picker-day[data-selection-end][data-outside-month] .flopui-calendar-picker-day-inner,
.flopui-calendar-range .flopui-calendar-picker-day[data-selection-end][data-outside-view] .flopui-calendar-picker-day-inner {
  background-color: var(--color-background-accent-light); /* Fallback since color-mix is recent */
  background-color: color-mix(in srgb, var(--color-background-accent-light) 75%, transparent);
}

/* noinspection CssOverwrittenProperties */
.flopui-calendar-range .flopui-calendar-picker-day[data-selected][data-outside-month],
.flopui-calendar-range .flopui-calendar-picker-day[data-selected][data-outside-view] {
  background-color: var(--color-background-accent-light); /* Fallback since color-mix is recent */
  background-color: color-mix(in srgb, var(--color-background-accent-light) 50%, transparent);
}

[dir='ltr'] .flopui-calendar-range .flopui-calendar-picker-day[data-selection-start]:not([data-highlighted]),
[dir='ltr'] .flopui-calendar-range .flopui-calendar-picker-day[data-highlighted-start] {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

[dir='ltr'] .flopui-calendar-range .flopui-calendar-picker-day[data-selection-end]:not([data-highlighted]),
[dir='ltr'] .flopui-calendar-range .flopui-calendar-picker-day[data-highlighted-end] {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

[dir='rtl'] .flopui-calendar-range .flopui-calendar-picker-day[data-selection-start]:not([data-highlighted]),
[dir='rtl'] .flopui-calendar-range .flopui-calendar-picker-day[data-highlighted-start] {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

[dir='rtl'] .flopui-calendar-range .flopui-calendar-picker-day[data-selection-end]:not([data-highlighted]),
[dir='rtl'] .flopui-calendar-range .flopui-calendar-picker-day[data-highlighted-end] {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.flopui-calendar-picker-day[data-outside-month],
.flopui-calendar-picker-day[data-unavailable],
.flopui-calendar-picker-day[data-disabled] {
  color: var(--color-text-muted);
  background-color: transparent;
}

.flopui-calendar-picker-day[data-unavailable] {
  text-decoration-line: line-through;
  cursor: default;
}

.flopui-calendar-picker-cell[data-disabled] .flopui-calendar-picker-day {
  cursor: not-allowed;
}

.flopui-calendar-picker-day[data-today]::before {
  content: '';
}

.flopui-calendar-picker-day::before {
  position: absolute;
  top: 0.25rem;
  width: 0.25rem;
  height: 0.25rem;
  border-radius: 50%;
  background-color: var(--color-background-accent);
}

.flopui-calendar-picker:not(.flopui-calendar-range) .flopui-calendar-picker-day[data-selected]::before,
.flopui-calendar-picker-day[data-selection-start]::before,
.flopui-calendar-picker-day[data-selection-end]::before {
  background-color: var(--color-text-accent-contrast);
}
