<script lang="ts">
import './picker-calendar.css'

import type { RangeCalendarRootProps } from 'radix-vue'

export interface RangeCalendarProps
  extends Omit<RangeCalendarRootProps, 'fixedWeeks' | 'modelValue' | 'placeholder' | 'dir'> {
  compact?: boolean
}
</script>

<script setup lang="ts">
import type { DateValue } from '@internationalized/date'

import { computed } from 'vue'
import { useI18n } from 'vue-i18n'
import { type DateRange, RangeCalendarRoot } from 'radix-vue'

import RangeCalendarImpl from '@/components/uikit/calendar/_impl/RangeCalendarImpl.vue'
import { useForwardPropsEmitsSkip } from '@/composables/uikit/useForwardPropsEmitsSkip.ts'
import pagination from '@/components/uikit/calendar/_impl/pagination.ts'

const i18n = useI18n()

const placeholder = defineModel<DateValue>('placeholder')
const model = defineModel<DateRange>({ required: true })
const props = defineProps<RangeCalendarProps>()
const forwarded = useForwardPropsEmitsSkip(props, null, [], ['placeholder'])

const displayLocale = computed(() => props.locale || i18n.locale.value)
const paginationFns = computed(() => pagination(props.prevPage, props.nextPage, displayLocale.value, props.compact))
</script>

<template>
  <RangeCalendarRoot
    v-slot="{ weekDays, grid }"
    v-model:placeholder="placeholder"
    v-model="model"
    v-bind="forwarded"
    :locale="displayLocale"
    :prev-page="paginationFns.prevPage"
    :next-page="paginationFns.nextPage"
    class="flopui-calendar-picker flopui-calendar-range"
    fixed-weeks
  >
    <RangeCalendarImpl :grid="grid" :week-days="weekDays" :display-locale="displayLocale" :compact="compact" />
  </RangeCalendarRoot>
</template>
