<script setup lang="ts">
import { type Ref, ref, watch } from 'vue'
import { useI18n } from 'vue-i18n'

import { type DateValue, today, getLocalTimeZone } from '@internationalized/date'

import { changeLocale } from '@/i18n'
import RangeCalendar from './RangeCalendar.vue'

function isDateUnavailable(date: DateValue) {
  return date.day === 15 || date.day === 16
}

function isDateDisabled(date: DateValue) {
  return date.day === 3 || date.day === 4
}

const locale = ref('en-US')
const locales = [
  { label: 'Français (France)', value: 'fr-FR' },
  { label: 'Français (Canada)', value: 'fr-CA' },
  { label: 'English (Great Britain)', value: 'en-GB' },
  { label: 'English (United States)', value: 'en-US' },
  { label: 'English (Canadian)', value: 'en-CA' },
  { label: 'Hebrew (Israel)', value: 'he-IL' },
]

const range = ref({
  start: today(getLocalTimeZone()).subtract({ days: 1 }),
  end: today(getLocalTimeZone()).add({ days: 1 }),
}) as Ref<{ start: DateValue | undefined; end: DateValue | undefined }>

if (window.top !== window) {
  watch(locale, () => changeLocale(locale.value))

  const i18n = useI18n()
  i18n.messages.value['he-IL'] = { _meta: { dir: 'rtl' } }
}
</script>

<template>
  <Story title="calendar/RangeCalendar">
    <Variant title="Basic usage">
      <div style="display: flex">
        <RangeCalendar v-model="range" :is-date-unavailable="isDateUnavailable" :is-date-disabled="isDateDisabled" />
      </div>

      <template #controls>
        <HstSelect v-model="locale" title="Locale" :options="locales" />
      </template>
    </Variant>
    <Variant title="Compact">
      <div style="display: flex">
        <RangeCalendar
          v-model="range"
          :is-date-unavailable="isDateUnavailable"
          :is-date-disabled="isDateDisabled"
          compact
        />
      </div>

      <template #controls>
        <HstSelect v-model="locale" title="Locale" :options="locales" />
      </template>
    </Variant>
    <Variant title="Multiple">
      <div style="display: flex">
        <RangeCalendar
          v-model="range"
          :is-date-unavailable="isDateUnavailable"
          :is-date-disabled="isDateDisabled"
          :number-of-months="3"
        />
      </div>

      <template #controls>
        <HstSelect v-model="locale" title="Locale" :options="locales" />
        <p style="font-style: italic; margin: 0 0.5rem 1rem 0.5rem">
          Date does not properly get removed when deselecting due to a bug in Histoire. The values of `start` and `end`
          do become undefined.
        </p>
      </template>
    </Variant>
  </Story>
</template>

<docs lang="md">
A basic Range Calendar with an optional "compact" display mode.

Can be used to display multiple months at a time.

---
See also: https://www.radix-vue.com/components/range-calendar.html
</docs>
