<script setup lang="ts">
import '../select/select.css'

import { ComboboxSeparator } from 'radix-vue'
</script>

<template>
  <ComboboxSeparator class="flopui-select-separator">
    <slot />
  </ComboboxSeparator>
</template>
