<script setup lang="ts">
import '../select/select.css'

import { ComboboxLabel } from 'radix-vue'
</script>

<template>
  <ComboboxLabel class="flopui-select-label">
    <slot />
  </ComboboxLabel>
</template>
