<script lang="ts">
import '../select/select.css'

import type {
  ComboboxItemProps as RadixComboboxItemProps,
  ComboboxItemEmits as RadixComboboxItemEmits,
} from 'radix-vue'
import type { ComboboxValue } from '../input/ComboboxInput.vue'

export interface ComboboxItemProps<T extends ComboboxValue = string> extends RadixComboboxItemProps<T> {}

export type ComboboxItemEmits = RadixComboboxItemEmits
</script>

<script setup lang="ts" generic="T extends ComboboxValue">
import { type Ref, inject } from 'vue'
import { ComboboxItem, ComboboxItemIndicator, useForwardPropsEmits } from 'radix-vue'

import CheckIcon from '~mingcute/system/check_circle_fill.svg'

const props = defineProps<ComboboxItemProps<T>>()
const emits = defineEmits<ComboboxItemEmits>()
const forwarded = useForwardPropsEmits(props, emits)

const display = inject<Ref<(value: unknown) => string>>('flopui-combobox-display-value')
</script>

<template>
  <ComboboxItem v-bind="forwarded" class="flopui-select-item">
    <span>
      <slot>
        {{ display?.(value) ?? value }}
      </slot>
    </span>
    <ComboboxItemIndicator class="flopui-select-item-indicator">
      <CheckIcon />
    </ComboboxItemIndicator>
  </ComboboxItem>
</template>
