<script setup lang="ts">
import Legend, { LegendItem } from '@/components/management/infos/Legend.vue'

let i = 1
const LEGEND_ITEMS: LegendItem[] = [
  {
    id: i++,
    name: 'Rouge',
    color: 'rgb(244, 67, 54)',
  },
  {
    id: i++,
    name: 'Bleu',
    color: 'rgb(41, 182, 246)',
  },
  {
    id: i++,
    name: 'Vert',
    color: 'rgb(102, 187, 106)',
  },
  {
    id: i++,
    name: 'Jaune',
    color: 'rgb(255, 190, 38)',
  },
  {
    id: i++,
    name: 'Gris',
    color: 'rgb(137, 124, 141)',
  },
]
</script>

<template>
  <Story>
    <div :style="{ padding: '20px', width: '500px' }">
      <Legend :items="LEGEND_ITEMS" />
    </div>
  </Story>
</template>
