<script lang="ts">
export interface LegendItem {
  id: number
  name: string
  color: string
}
</script>

<script setup lang="ts">
interface Props {
  items: LegendItem[]
}

defineProps<Props>()
</script>

<template>
  <div class="legend-items">
    <div v-for="item in items" :key="item.id" class="legend-item">
      <div class="color-box" :style="{ backgroundColor: item.color }" />
      <div class="name">
        {{ item.name }}
      </div>
    </div>
  </div>
</template>

<style scoped>
.legend-items {
  display: grid;
  grid-template-columns: 0.4fr 0.4fr;
  gap: 0.5rem;
}

.legend-item {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.color-box {
  width: 32px;
  height: 16px;
  border: 1px currentColor solid;
}
</style>
