<!-- This file is part of the FlOpEDT/FlOpScheduler project.               -->
<!-- Copyright (c) 2017                                                    -->
<!-- Authors: Iulian Ober, Paul Renaud-Goud, Pablo Seban, et al.           -->
<!--                                                                       -->
<!-- This program is free software: you can redistribute it and/or modify  -->
<!-- it under the terms of the GNU Affero General Public License as        -->
<!-- published by the Free Software Foundation, either version 3 of the    -->
<!-- License, or (at your option) any later version.                       -->
<!--                                                                       -->
<!-- This program is distributed in the hope that it will be useful, but   -->
<!-- WITHOUT ANY WARRANTY; without even the implied warranty of            -->
<!-- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU      -->
<!-- Affero General Public License for more details.                       -->
<!--                                                                       -->
<!-- You should have received a copy of the GNU Affero General Public      -->
<!-- License along with this program. If not, see                          -->
<!-- <http://www.gnu.org/licenses/>.                                       -->
<!--                                                                       -->
<!-- You can be released from the requirements of the license by purchasing -->
<!-- a commercial license. Buying such a license is mandatory as soon as   -->
<!-- you develop activities involving the FlOpEDT/FlOpScheduler software   -->
<!-- without disclosing the source code of your own applications.          -->

{% extends "skeleton.html" %}
{% load i18n %}

{% load static %}

{% csrf_token %}

{% block css %}
    <link rel="stylesheet" href="{% static "base/header.css" %}"/>
    <link rel="stylesheet" href="{% static "solve_board/solve.css" %}"/>
{% endblock %}

{% block title %} {% translate "Schedule Generation" %} {% endblock %}
{% block content %}
  <script src="{% static "base/d3.v4.min.js" %}"></script>
  <script>
    var text_all = '{{ text_all|safe }}';
    var period_list = {{ periods|safe }};
    var train_prog_list = {{ train_progs|safe }};
    var department = '{{ department }}';
    var fetch_context_url_template = '{% url "solve_board:fetch_context" department 'train_prog' 'period' %}';
    var analyse_url_template = '{% url "solve_board:pre_analyse" department 'train_prog' 'period' 'type'%}';
    var courses_id_url = '{% url "api:V1:base:course:courses-list" %}';
    var group_id_url = '{% url "api:groups:structural-list" %}';
    var tutor_id_url = '{% url "api:people:tutor-list" %}';
    var constraints = JSON.parse('{{ constraints|escapejs }}');
    var work_copies = JSON.parse('{{ work_copies|escapejs }}');
    var current_user_email = '{{ email }}';
  </script>

  <template id="constraints_template">
    <div class="constraint">
      <input type="checkbox" />
      <label class="title"></label>
      <div id="explanation" class="explanation"></div>
      <div id="description" class="description hiddable"></div>
      <div id="comment" class="comment hiddable"></div>
      <div id="details" class="details hiddable"></div>
    </div>
  </template>

  <div class="solver">
    <div id="constraints">
        <div class="header">
          <span>{% translate "Constraints" %}</span>
          <span>
            <a href="{% url 'cstmanager:cstmanager' department %}" style="color: inherit">{% translate "Manage constraints" %}</a>
          </span>
        </div>
        <div class="remarks">(*) {% translate "All constraints appearing in bolded - with no weight - will be considered mandatory, the other ones will considered as preferences." %}</div>
        <div id="constraints_list"></div>
    </div>
    <div id="settings" class="settings">
        <div class="header">
            <span>{% translate "Configuration" %}</span>
            <input type="button" id="analyse" name="analyse" value="Analyse Week"/>
            <input type="button" id="launch" name="action" value="Go"/>
        </div>
        <div>
            <label for="opti_date">{% translate "Week⋅s" %} :</label>
            <select multiple="" size="10" id="opti_date"></select>
        </div>
        <div id="all-periods-together">
            <input type="checkbox" id="all-periods-together-checkbox" name="all-periods-together-checkbox" checked/>
            <label for="all-periods-together-checkbox">{% translate "All periods together ?" %} </label>

        </div>
        <div>
            <label for="opti_train_prog">{% translate "Training Program" %} : </label>
            <select id="opti_train_prog"></select>
        </div>
          <div id="stabilize">
            <label for="stabilize_selector">{% translate "Stabilization" %} : </label>
            <select id="stabilize_selector"></select>
          </div>
          <div>
            {% if solvers|length > 1 %}
              <label for="solver">{% translate "Solver" %} :</label>
              <select id="solver">
                {% for key, name in solvers %}
                  <option value="{{ key }}">{{ name }}</option>
                {% endfor %}
              </select>
            {% else  %}
              <input type="hidden" id="solver" value="{{ solvers.0.0 }}"/>
            {% endif %}
          </div>
          <div>
              <input type="checkbox" id="pre-assign-rooms" name="pre-assign-rooms" checked/>
              <label for="pre-assign-rooms">{% translate "Pre-assign rooms" %}</label><br>
              <input type="checkbox" id="post-assign-rooms" name="post-assign-rooms"/>
              <label for="post-assign-rooms">{% translate "Post-assign rooms" %}</label><br>
          </div>
          <div>
            <label for="limit">{% translate "Time limit (minuts)" %} :</label>
            <select id="limit">
              <option value="300" selected>5</option>
              <option value="600">10</option>
              <option value="1800">30</option>
              <option value="3600">60</option>
              <option value="0">{% translate "Unlimited" %}</option>
            </select>
            <label id="completion" style="visibility : hidden">Analyze Completed !</label>
          </div>
          <div id="divEmail">
            <input type="checkbox" id="send-log-email" name="send-log-email"/>
            <label for="send-log-email">{% trans "Send log email" %}</label><br>
          </div>
          <div id="divAnalyse"></div>
        </div>
    <textarea class="console"></textarea>
  </div>

  <script type='text/javascript' src="{% static "solve_board/solve.js" %}?2"></script>

{% endblock %}
