<script setup lang="ts">
import ComboboxField from './ComboboxField.vue'
import ComboboxItem from './combobox/ComboboxItem.vue'

let currentError = -1
const errorText = [
  'The username is invalid',
  'Username does not exist',
  'Never gonna give you up',
  'Never gonna let you down',
  'Never gonna run around and desert you',
  'Never gonna make you cry',
  'Never gonna say goodbye',
  'Never gonna tell a lie and hurt you',
]

const longErrorText =
  'According to all known laws of aviation, there is no way a bee should be able to fly. ' +
  'Its wings are too small to get its fat little body off the ground. ' +
  "The bee, of course, flies anyway because bees don't care what humans think is impossible."

function initStateWithError() {
  return {
    value: '',
    error: '',
    disabled: false,
  }
}
</script>

<template>
  <Story title="form/ComboboxField">
    <Variant title="Basic usage" :init-state="initStateWithError">
      <template #default="{ state }">
        <ComboboxField
          v-model="state.value"
          placeholder="Pick a password..."
          :error="state.error"
          :disabled="state.disabled"
        >
          <template #label>Favorite secret code</template>
          <template #helptext>Pick your favorite secret code from the list.</template>
          <template #options>
            <ComboboxItem value="1234" />
            <ComboboxItem value="Pa$$word" />
            <ComboboxItem value="Roses are red" />
            <ComboboxItem value="Violets are blue" />
            <ComboboxItem value="Sheep go baa, and cows go moo" />
            <ComboboxItem value="TL;DR, they differ in hue" />
          </template>
        </ComboboxField>
      </template>

      <template #controls="{ state }">
        <HstText v-model="state.value" title="Value" />
        <HstCheckbox v-model="state.disabled" title="Disabled?" />

        <hr />

        <HstButton
          color="primary"
          style="margin-bottom: 0.5rem"
          @click="state.error = errorText[(currentError = (currentError + 1) % errorText.length)]"
        >
          Set an error on the field
        </HstButton>

        <HstButton color="primary" style="margin-bottom: 0.5rem" @click="state.error = longErrorText">
          Set a long error on the field
        </HstButton>

        <HstButton @click="state.error = ''">Reset error</HstButton>
      </template>
    </Variant>
  </Story>
</template>

<docs lang="md">
A form field to pick one of the proposed values. Wraps [ComboboxInput](./input/ComboboxInput.story.vue) with the
unified structure of a form field.

The list of available options is expected to be received on the named slot `options`. Refer to the documentation of the
[ComboboxInput](./input/ComboboxInput.story.vue) for more information about what can be passed.

If you want to be able to input multiple values, while this component supports that it is recommended to use
a [ComboboxTagsField](./ComboboxTagsField.story.vue) instead which will be able to provide a good visual feedback
of the selected values.

Integrates with the [Constraint Validation API](https://developer.mozilla.org/en-US/docs/Web/HTML/Constraint_validation)
and displays errors reported by the browser based on validation attributes (`required`, `type`, ...).

This component is expected to be used with [`v-model`](https://vuejs.org/guide/essentials/forms.html) for bidirectional
data-binding of the input value.
</docs>
