<script setup lang="ts">
import ComboboxTagsField from './ComboboxTagsField.vue'
import ComboboxItem from './combobox/ComboboxItem.vue'

const options = [
  'Bobby',
  'Chayanne',
  'Dapper',
  'Empanada',
  'Gegg',
  'Ju4n4Fl1pp4',
  'JuanaFlippa',
  'Leonarda',
  'Pepito',
  'Pomme',
  'Ramón',
  'Richarlyson',
  'SunnySideUp',
  'Tallulah',
  'Tilín',
  'Trump',
  '춘식',
]

let currentError = -1
const errorText = [
  'The username is invalid',
  'Username does not exist',
  'Never gonna give you up',
  'Never gonna let you down',
  'Never gonna run around and desert you',
  'Never gonna make you cry',
  'Never gonna say goodbye',
  'Never gonna tell a lie and hurt you',
]

const longErrorText =
  'According to all known laws of aviation, there is no way a bee should be able to fly. ' +
  'Its wings are too small to get its fat little body off the ground. ' +
  "The bee, of course, flies anyway because bees don't care what humans think is impossible."

function initStateWithError() {
  return {
    value: [],
    error: '',
    disabled: false,
  }
}
</script>

<template>
  <Story title="form/ComboboxTagsField">
    <Variant title="Basic usage" :init-state="initStateWithError">
      <template #default="{ state }">
        <ComboboxTagsField
          v-model="state.value"
          placeholder="Search..."
          :error="state.error"
          :disabled="state.disabled"
        >
          <template #label>Pick your favorite eggs</template>
          <template #helptext
            >Make sure to not be influenced. Just remember that, not to influence, but it is a criminal offense to not
            pick Pomme.</template
          >
          <template #options>
            <ComboboxItem v-for="option in options" :key="option" :value="option" />
          </template>
        </ComboboxTagsField>
      </template>

      <template #controls="{ state }">
        <HstJson v-model="state.value" title="Value" />
        <HstCheckbox v-model="state.disabled" title="Disabled?" />

        <hr />

        <HstButton
          color="primary"
          style="margin-bottom: 0.5rem"
          @click="state.error = errorText[(currentError = (currentError + 1) % errorText.length)]"
        >
          Set an error on the field
        </HstButton>

        <HstButton color="primary" style="margin-bottom: 0.5rem" @click="state.error = longErrorText">
          Set a long error on the field
        </HstButton>

        <HstButton @click="state.error = ''">Reset error</HstButton>
      </template>
    </Variant>
  </Story>
</template>

<docs lang="md">
A form field to pick one or more proposed values. Wraps [ComboboxTagsInput](./input/ComboboxTagsInput.story.vue) with
the unified structure of a form field.

The list of available options is expected to be received on the named slot `options`. Refer to the documentation of the
[ComboboxInput](./input/ComboboxInput.story.vue) for more information about what can be passed.

If you want to be able to input a single value, use a [ComboboxField](./ComboboxField.story.vue) instead.

Integrates with the [Constraint Validation API](https://developer.mozilla.org/en-US/docs/Web/HTML/Constraint_validation)
and displays errors reported by the browser based on validation attributes (`required`, `type`, ...).

This component is expected to be used with [`v-model`](https://vuejs.org/guide/essentials/forms.html) for bidirectional
data-binding of the input value.
</docs>
