<script lang="ts">
import type { FieldSkeletonProps } from './base/FieldSkeleton.vue'
import type { ComboboxInputProps, ComboboxValue } from './input/ComboboxInput.vue'

export interface ComboboxFieldProps<T extends ComboboxValue = string>
  extends FieldSkeletonProps,
    /* @vue-ignore */ ComboboxInputProps<T> {
  required?: boolean
  validator?: (value: T | undefined) => string | null | undefined
}

export default { inheritAttrs: false }
</script>

<script setup lang="ts" generic="T extends ComboboxValue">
import { toRefs } from 'vue'
import { useForwardPropsEmitsSkip } from '@/composables/uikit/useForwardPropsEmitsSkip'
import { useFormField } from '@/composables/uikit/useFormField'

import FieldSkeleton from './base/FieldSkeleton.vue'
import ComboboxInput from './input/ComboboxInput.vue'

const model = defineModel<T>()
const props = defineProps<ComboboxFieldProps<T>>()
const forwarded = useForwardPropsEmitsSkip(props, null, ['validator'])

const { error: userError, validator } = toRefs(props)
const { inputRef, error: controlledError, performValidation } = useFormField(model, userError, validator)
</script>

<template>
  <FieldSkeleton v-bind="forwarded" :error="controlledError">
    <template #label>
      <slot name="label" />
    </template>

    <template #field="{ id }">
      <ComboboxInput
        v-bind="$attrs"
        :id="id"
        ref="inputRef"
        v-model="model"
        :required="required"
        @blur="performValidation"
      >
        <slot name="options" />
      </ComboboxInput>
    </template>

    <template #helptext>
      <slot name="helptext" />
    </template>
  </FieldSkeleton>
</template>
