<script setup lang="ts">
import { useI18n } from 'vue-i18n'

import DateRangeField from './DateRangeField.vue'
import { DateValue } from '@internationalized/date'

let currentError = -1
const errorText = [
  'The username is invalid',
  'Username does not exist',
  'Never gonna give you up',
  'Never gonna let you down',
  'Never gonna run around and desert you',
  'Never gonna make you cry',
  'Never gonna say goodbye',
  'Never gonna tell a lie and hurt you',
]

const longErrorText =
  'According to all known laws of aviation, there is no way a bee should be able to fly. ' +
  'Its wings are too small to get its fat little body off the ground. ' +
  "The bee, of course, flies anyway because bees don't care what humans think is impossible."

const str = (n: number) => n.toString().padStart(2, '0')
const printDate = (date: DateValue | undefined) =>
  date ? `${date.year}-${str(date.month)}-${str(date.day)}` : 'undefined'

function initStateWithError() {
  return {
    value: { start: undefined, end: undefined },
    error: '',
    disabled: false,
  }
}

{
  // Isolated to not make Histoire explode
  const i18n = useI18n()
  Object.assign(i18n.messages.value.en, {
    'story.meow-error': 'The only valid value is meow.',
    'story.flop-error': "Now that's quite a flop...",
  })
}
</script>

<template>
  <Story title="form/DateRangeField">
    <Variant title="Basic usage" :init-state="initStateWithError">
      <template #default="{ state }">
        <DateRangeField v-model="state.value" :error="state.error" :disabled="state.disabled">
          <template #label>Strike days</template>
          <template #helptext>Is it really French software if it doesn't go on strike sometimes?</template>
        </DateRangeField>
      </template>

      <template #controls="{ state }">
        <p style="margin: 0.25rem 0.5rem">
          Because Histoire is capricious touching anything here has a chance of breaking the demo, especially if done
          after setting a value.
        </p>

        <HstText title="Value (start, readonly)" :model-value="printDate(state.value.start)" />
        <HstText title="Value (end, readonly)" :model-value="printDate(state.value.end)" />
        <HstCheckbox v-model="state.disabled" title="Disabled?" />

        <hr />

        <HstButton
          color="primary"
          style="margin-bottom: 0.5rem"
          @click="state.error = errorText[(currentError = (currentError + 1) % errorText.length)]"
        >
          Set an error on the field
        </HstButton>

        <HstButton color="primary" style="margin-bottom: 0.5rem" @click="state.error = longErrorText">
          Set a long error on the field
        </HstButton>

        <HstButton @click="state.error = ''">Reset error</HstButton>
      </template>
    </Variant>
  </Story>
</template>

<docs lang="md">
A form field to input a date value. Wraps [DateInput](./input/DateInput.story.vue) with the unified structure of a
form field.

Integrates with the [Constraint Validation API](https://developer.mozilla.org/en-US/docs/Web/HTML/Constraint_validation)
and displays errors reported by the browser based on validation attributes (`required`, `type`, ...).

This component is expected to be used with [`v-model`](https://vuejs.org/guide/essentials/forms.html) for bidirectional
data-binding of the input value.
</docs>
