<script setup lang="ts">
import { useI18n } from 'vue-i18n'

import NumberField from './NumberField.vue'

let currentError = -1
const errorText = [
  'The username is invalid',
  'Username does not exist',
  'Never gonna give you up',
  'Never gonna let you down',
  'Never gonna run around and desert you',
  'Never gonna make you cry',
  'Never gonna say goodbye',
  'Never gonna tell a lie and hurt you',
]

const longErrorText =
  'According to all known laws of aviation, there is no way a bee should be able to fly. ' +
  'Its wings are too small to get its fat little body off the ground. ' +
  "The bee, of course, flies anyway because bees don't care what humans think is impossible."

function initState() {
  return {
    value: 0,
    disabled: false,
  }
}

function initStateMin() {
  return {
    value: 5,
    disabled: false,
  }
}

function initStateWithError() {
  return {
    value: 0,
    error: '',
    disabled: false,
  }
}

{
  // Isolated to not make Histoire explode
  const i18n = useI18n()
  Object.assign(i18n.messages.value.en, {
    'story.flop-error': 'Are you crazy?!',
  })
}
</script>

<template>
  <Story title="form/NumberField">
    <Variant title="Basic usage" :init-state="initStateWithError">
      <template #default="{ state }">
        <NumberField v-model="state.value" placeholder="Placeholder..." :error="state.error" :disabled="state.disabled">
          <template #label>Amount of cramptés</template>
          <template #helptext>T'as les cramptés?</template>
        </NumberField>
      </template>

      <template #controls="{ state }">
        <HstNumber v-model="state.value" title="Value" />
        <HstCheckbox v-model="state.disabled" title="Disabled?" />

        <hr />

        <HstButton
          color="primary"
          style="margin-bottom: 0.5rem"
          @click="state.error = errorText[(currentError = (currentError + 1) % errorText.length)]"
        >
          Set an error on the field
        </HstButton>

        <HstButton color="primary" style="margin-bottom: 0.5rem" @click="state.error = longErrorText">
          Set a long error on the field
        </HstButton>

        <HstButton @click="state.error = ''">Reset error</HstButton>
      </template>
    </Variant>

    <Variant title="With native validation" :init-state="initStateMin">
      <template #default="{ state }">
        <NumberField v-model="state.value" :min="5" :max="10" :disabled="state.disabled">
          <template #label>Number of hours</template>
          <template #helptext> You must specify a value between 5 and 10. </template>
        </NumberField>
      </template>
    </Variant>

    <Variant title="With custom validation" :init-state="initState">
      <template #default="{ state }">
        <NumberField
          v-model="state.value"
          :validator="(v) => (v === 4 ? 'story.flop-error' : null)"
          :disabled="state.disabled"
        >
          <template #label>Some number field</template>
          <template #helptext>Do NOT set it to 4!</template>
        </NumberField>
      </template>
    </Variant>

    <Variant title="Currency field" :init-state="initStateMin">
      <template #default="{ state }">
        <NumberField
          v-model="state.value"
          :disabled="state.disabled"
          :format-options="{ style: 'currency', currency: 'EUR' }"
          :min="5"
        >
          <template #label>Value</template>
          <template #helptext>It should be quite valuable</template>
        </NumberField>
      </template>
    </Variant>
  </Story>
</template>

<docs lang="md">
A form field to input a numeric value. Wraps [NumberInput](./input/NumberInput.story.vue) with the unified structure of
a form field.

Integrates with the [Constraint Validation API](https://developer.mozilla.org/en-US/docs/Web/HTML/Constraint_validation)
and displays errors reported by the browser based on validation attributes (`required`, `type`, ...).

This component is expected to be used with [`v-model`](https://vuejs.org/guide/essentials/forms.html) for bidirectional
data-binding of the input value.
</docs>
