<script lang="ts">
import type { FieldSkeletonProps } from './base/FieldSkeleton.vue'
import type { NumberInputProps } from './input/NumberInput.vue'

export interface NumberFieldProps extends FieldSkeletonProps, /* @vue-ignore */ NumberInputProps {
  required?: boolean
  validator?: (value: number | undefined) => string | null | undefined
}

export default { inheritAttrs: false }
</script>

<script setup lang="ts">
import { toRefs } from 'vue'
import { useForwardPropsEmitsSkip } from '@/composables/uikit/useForwardPropsEmitsSkip'
import { useFormField } from '@/composables/uikit/useFormField'

import FieldSkeleton from './base/FieldSkeleton.vue'
import NumberInput from './input/NumberInput.vue'

const model = defineModel<number>({ required: true })
const props = defineProps<NumberFieldProps>()
const forwarded = useForwardPropsEmitsSkip(props, null, ['validator'])

const { error: userError, validator } = toRefs(props)
const { inputRef, error: controlledError, performValidation, clearErrors } = useFormField(model, userError, validator)
</script>

<template>
  <FieldSkeleton v-bind="forwarded" :error="controlledError">
    <template #label>
      <slot name="label" />
    </template>

    <template #field="{ id }">
      <NumberInput
        v-bind="$attrs"
        :id="id"
        ref="inputRef"
        v-model="model"
        :required="required"
        @input="clearErrors"
        @update:model-value="$nextTick(performValidation)"
      />
    </template>

    <template #helptext>
      <slot name="helptext" />
    </template>
  </FieldSkeleton>
</template>
