<script lang="ts">
import './base/form-label.css'

import type { FieldSkeletonProps } from './base/FieldSkeleton.vue'
import type { RadioInputProps } from './input/RadioInput.vue'

type BaseProps = Omit<RadioInputProps, 'class'>
export interface RadioFieldProps extends FieldSkeletonProps, /* @vue-ignore */ BaseProps {
  required?: boolean
  validator?: (value: string | undefined) => string | null | undefined
}

export default { inheritAttrs: false }
</script>

<script setup lang="ts">
import { toRefs } from 'vue'
import { useId } from 'radix-vue'
import { useForwardPropsEmitsSkip } from '@/composables/uikit/useForwardPropsEmitsSkip'
import { useFormField } from '@/composables/uikit/useFormField'

import FieldSkeleton from './base/FieldSkeleton.vue'
import RadioInput from './input/RadioInput.vue'

const model = defineModel<string>()
const props = defineProps<RadioFieldProps>()
const forwarded = useForwardPropsEmitsSkip(props, null, ['validator'])

const id = useId()

const { error: userError, validator } = toRefs(props)
const { inputRef, error: controlledError, performValidation } = useFormField(model, userError, validator)
</script>

<template>
  <FieldSkeleton v-bind="forwarded" :error="controlledError" class="flopui-field-radio">
    <template #field>
      <RadioInput
        v-bind="$attrs"
        ref="inputRef"
        v-model="model"
        :required="required"
        :aria-labelledby="id"
        @blur="performValidation"
      >
        <div :id="id" class="flopui-label" :class="labelClass">
          <slot name="label" />
          <span v-if="required" aria-hidden="true" class="flopui-label-required">*</span>
        </div>

        <slot name="options" />
      </RadioInput>
    </template>

    <template #helptext>
      <slot name="helptext" />
    </template>
  </FieldSkeleton>
</template>

<style>
.flopui-field-radio {
  gap: 0.75rem;
}
</style>
