<script setup lang="ts">
import RadioField from './RadioField.vue'
import RadioItem from './radio/RadioItem.vue'

let currentError = -1
const errorText = [
  'The username is invalid',
  'Username does not exist',
  'Never gonna give you up',
  'Never gonna let you down',
  'Never gonna run around and desert you',
  'Never gonna make you cry',
  'Never gonna say goodbye',
  'Never gonna tell a lie and hurt you',
]

const longErrorText =
  'According to all known laws of aviation, there is no way a bee should be able to fly. ' +
  'Its wings are too small to get its fat little body off the ground. ' +
  "The bee, of course, flies anyway because bees don't care what humans think is impossible."

function initStateWithError() {
  return {
    value: '',
    error: '',
    disabled: false,
  }
}
</script>

<template>
  <Story title="form/RadioField">
    <Variant title="Basic usage" :init-state="initStateWithError">
      <template #default="{ state }">
        <RadioField v-model="state.value" :error="state.error" :disabled="state.disabled">
          <template #label>Pick an option</template>
          <template #helptext>Coming up with silly examples for demonstration purposes is hard!</template>
          <template #options>
            <RadioItem value="a">Option A</RadioItem>
            <RadioItem value="b">Option B</RadioItem>
            <RadioItem value="c">Option C</RadioItem>
            <RadioItem value="d">Option D</RadioItem>
          </template>
        </RadioField>
      </template>

      <template #controls="{ state }">
        <HstText v-model="state.value" title="Value" />
        <HstCheckbox v-model="state.disabled" title="Disabled?" />

        <hr />

        <HstButton
          color="primary"
          style="margin-bottom: 0.5rem"
          @click="state.error = errorText[(currentError = (currentError + 1) % errorText.length)]"
        >
          Set an error on the field
        </HstButton>

        <HstButton color="primary" style="margin-bottom: 0.5rem" @click="state.error = longErrorText">
          Set a long error on the field
        </HstButton>

        <HstButton @click="state.error = ''">Reset error</HstButton>
      </template>
    </Variant>
  </Story>
</template>

<docs lang="md">
A form field to input a string value. Wraps [RadioInput](./input/RadioInput.story.vue) with the unified structure of a
form field.

Integrates with the [Constraint Validation API](https://developer.mozilla.org/en-US/docs/Web/HTML/Constraint_validation)
and displays errors reported by the browser based on validation attributes (`required`, `type`, ...).

This component is expected to be used with [`v-model`](https://vuejs.org/guide/essentials/forms.html) for bidirectional
data-binding of the input value.
</docs>
