<script lang="ts">
import type { FieldSkeletonProps } from './base/FieldSkeleton.vue'
import type { RangeInputProps } from './input/RangeInput.vue'

type BaseProps = Omit<RangeInputProps, 'orientation'>
export interface RangeFieldProps extends FieldSkeletonProps, /* @vue-ignore */ BaseProps {
  validator?: (value: [number, number]) => string | null | undefined
}

export default { inheritAttrs: false }
</script>

<script setup lang="ts">
import { toRefs } from 'vue'
import { useForwardPropsEmitsSkip } from '@/composables/uikit/useForwardPropsEmitsSkip'
import { useFormField } from '@/composables/uikit/useFormField'

import FieldSkeleton from './base/FieldSkeleton.vue'
import RangeInput from './input/RangeInput.vue'

const model = defineModel<[number, number]>({ required: true })
const props = defineProps<RangeFieldProps>()
const forwarded = useForwardPropsEmitsSkip(props, null, ['validator'])

const { error: userError, validator } = toRefs(props)
const { inputRef, error: controlledError, performValidation } = useFormField(model, userError, validator)
</script>

<template>
  <FieldSkeleton v-bind="forwarded" :error="controlledError" class="flopui-form-field-range">
    <template #label>
      <slot name="label" />
    </template>

    <template #field="{ id }">
      <RangeInput v-bind="$attrs" :id="id" ref="inputRef" v-model="model" @pointerup="performValidation" />
    </template>

    <template #helptext>
      <slot name="helptext" />
    </template>
  </FieldSkeleton>
</template>

<style>
.flopui-form-field-range .flopui-slider {
  margin: -0.125rem 0;
}
</style>
