<script setup lang="ts">
import { useI18n } from 'vue-i18n'

import RangeField from './RangeField.vue'

let currentError = -1
const errorText = [
  'The username is invalid',
  'Username does not exist',
  'Never gonna give you up',
  'Never gonna let you down',
  'Never gonna run around and desert you',
  'Never gonna make you cry',
  'Never gonna say goodbye',
  'Never gonna tell a lie and hurt you',
]

const longErrorText =
  'According to all known laws of aviation, there is no way a bee should be able to fly. ' +
  'Its wings are too small to get its fat little body off the ground. ' +
  "The bee, of course, flies anyway because bees don't care what humans think is impossible."

function initState() {
  return {
    value: [40, 60] satisfies [number, number],
    disabled: false,
  }
}

function initStateWithError() {
  return {
    value: [40, 60] satisfies [number, number],
    error: '',
    disabled: false,
  }
}

{
  // Isolated to not make Histoire explode
  const i18n = useI18n()
  Object.assign(i18n.messages.value.en, {
    'story.flop-error': 'Are you crazy?!',
  })
}
</script>

<template>
  <Story title="form/RangeField">
    <Variant title="Basic usage" :init-state="initStateWithError">
      <template #default="{ state }">
        <RangeField v-model="state.value" :error="state.error" :disabled="state.disabled">
          <template #label>Acceptable volume</template>
          <template #helptext>
            Anyone speaking softer will be ignored, and anyone speaking louder will be yelled at.
          </template>
        </RangeField>
      </template>

      <template #controls="{ state }">
        <HstJson v-model="state.value" title="Value" />
        <HstCheckbox v-model="state.disabled" title="Disabled?" />

        <hr />

        <HstButton
          color="primary"
          style="margin-bottom: 0.5rem"
          @click="state.error = errorText[(currentError = (currentError + 1) % errorText.length)]"
        >
          Set an error on the field
        </HstButton>

        <HstButton color="primary" style="margin-bottom: 0.5rem" @click="state.error = longErrorText">
          Set a long error on the field
        </HstButton>

        <HstButton @click="state.error = ''">Reset error</HstButton>
      </template>
    </Variant>

    <Variant title="With custom validation" :init-state="initState">
      <template #default="{ state }">
        <RangeField
          v-model="state.value"
          :validator="(v) => (v[0] === 1 && v[1] === 99 ? 'story.flop-error' : null)"
          :disabled="state.disabled"
        >
          <template #label>Some range</template>
          <template #helptext>Do NOT set range to 1-99!</template>
        </RangeField>
      </template>
    </Variant>
  </Story>
</template>

<docs lang="md">
A form field to input a range using a slider with two thumbs. Wraps [RangeInput](./input/RangeInput.story.vue) with the
unified structure of a form field.

Integrates with the [Constraint Validation API](https://developer.mozilla.org/en-US/docs/Web/HTML/Constraint_validation)
and displays errors reported by the browser based on validation attributes (`required`, `type`, ...).

This component is expected to be used with [`v-model`](https://vuejs.org/guide/essentials/forms.html) for bidirectional
data-binding of the input value.
</docs>
