<script lang="ts">
import type { FieldSkeletonProps } from './base/FieldSkeleton.vue'
import type { SelectInputProps } from './input/SelectInput.vue'

export interface SelectFieldProps extends FieldSkeletonProps, /* @vue-ignore */ SelectInputProps {
  required?: boolean
  validator?: (value: string | undefined) => string | null | undefined
}

export default { inheritAttrs: false }
</script>

<script setup lang="ts">
import { toRefs } from 'vue'
import { useForwardPropsEmitsSkip } from '@/composables/uikit/useForwardPropsEmitsSkip'
import { useFormField } from '@/composables/uikit/useFormField'

import FieldSkeleton from './base/FieldSkeleton.vue'
import SelectInput from './input/SelectInput.vue'

const model = defineModel<string>()
const props = defineProps<SelectFieldProps>()
const forwarded = useForwardPropsEmitsSkip(props, null, ['validator'])

const { error: userError, validator } = toRefs(props)
const { inputRef, error: controlledError, performValidation } = useFormField(model, userError, validator)
</script>

<template>
  <FieldSkeleton v-bind="forwarded" :error="controlledError">
    <template #label>
      <slot name="label" />
    </template>

    <template #field="{ id }">
      <SelectInput
        v-bind="$attrs"
        :id="id"
        ref="inputRef"
        v-model="model"
        :required="required"
        @blur="performValidation"
      >
        <slot name="options" />
      </SelectInput>
    </template>

    <template #helptext>
      <slot name="helptext" />
    </template>
  </FieldSkeleton>
</template>
