<script setup lang="ts">
import { useI18n } from 'vue-i18n'

import SliderField from './SliderField.vue'

let currentError = -1
const errorText = [
  'The username is invalid',
  'Username does not exist',
  'Never gonna give you up',
  'Never gonna let you down',
  'Never gonna run around and desert you',
  'Never gonna make you cry',
  'Never gonna say goodbye',
  'Never gonna tell a lie and hurt you',
]

const longErrorText =
  'According to all known laws of aviation, there is no way a bee should be able to fly. ' +
  'Its wings are too small to get its fat little body off the ground. ' +
  "The bee, of course, flies anyway because bees don't care what humans think is impossible."

function initState() {
  return {
    value: 10,
    disabled: false,
  }
}

function initStateWithError() {
  return {
    value: 10,
    error: '',
    disabled: false,
  }
}

{
  // Isolated to not make Histoire explode
  const i18n = useI18n()
  Object.assign(i18n.messages.value.en, {
    'story.flop-error': 'Are you crazy?!',
  })
}
</script>

<template>
  <Story title="form/SliderField">
    <Variant title="Basic usage" :init-state="initStateWithError">
      <template #default="{ state }">
        <SliderField v-model="state.value" :error="state.error" :disabled="state.disabled">
          <template #label>Volume</template>
          <template #helptext>Imagine if you had a setting to tune how loud students are...</template>
        </SliderField>
      </template>

      <template #controls="{ state }">
        <HstNumber v-model="state.value" title="Value" />
        <HstCheckbox v-model="state.disabled" title="Disabled?" />

        <hr />

        <HstButton
          color="primary"
          style="margin-bottom: 0.5rem"
          @click="state.error = errorText[(currentError = (currentError + 1) % errorText.length)]"
        >
          Set an error on the field
        </HstButton>

        <HstButton color="primary" style="margin-bottom: 0.5rem" @click="state.error = longErrorText">
          Set a long error on the field
        </HstButton>

        <HstButton @click="state.error = ''">Reset error</HstButton>
      </template>
    </Variant>

    <Variant title="With custom validation" :init-state="initState">
      <template #default="{ state }">
        <SliderField
          v-model="state.value"
          :validator="(v) => (v === 33 ? 'story.flop-error' : null)"
          :disabled="state.disabled"
        >
          <template #label>Some slider</template>
          <template #helptext>Do NOT set this to 33!</template>
        </SliderField>
      </template>
    </Variant>
  </Story>
</template>

<docs lang="md">
A form field to input a numerical value using a slider. Wraps [SliderInput](./input/SliderInput.story.vue) with the
unified structure of a form field.

Integrates with the [Constraint Validation API](https://developer.mozilla.org/en-US/docs/Web/HTML/Constraint_validation)
and displays errors reported by the browser based on validation attributes (`required`, `type`, ...).

This component is expected to be used with [`v-model`](https://vuejs.org/guide/essentials/forms.html) for bidirectional
data-binding of the input value.
</docs>
