<script lang="ts">
import type { FieldSkeletonProps } from './base/FieldSkeleton.vue'
import type { SliderInputProps } from './input/SliderInput.vue'

type BaseProps = Omit<SliderInputProps, 'orientation'>
export interface SliderFieldProps extends FieldSkeletonProps, /* @vue-ignore */ BaseProps {
  validator?: (value: number) => string | null | undefined
}

export default { inheritAttrs: false }
</script>

<script setup lang="ts">
import { toRefs } from 'vue'
import { useForwardPropsEmitsSkip } from '@/composables/uikit/useForwardPropsEmitsSkip'
import { useFormField } from '@/composables/uikit/useFormField'

import FieldSkeleton from './base/FieldSkeleton.vue'
import SliderInput from './input/SliderInput.vue'

const model = defineModel<number>({ required: true })
const props = defineProps<SliderFieldProps>()
const forwarded = useForwardPropsEmitsSkip(props, null, ['validator'])

const { error: userError, validator } = toRefs(props)
const { inputRef, error: controlledError, performValidation } = useFormField(model, userError, validator)
</script>

<template>
  <FieldSkeleton v-bind="forwarded" :error="controlledError" class="flopui-form-field-slider">
    <template #label>
      <slot name="label" />
    </template>

    <template #field="{ id }">
      <SliderInput v-bind="$attrs" :id="id" ref="inputRef" v-model="model" @pointerup="performValidation" />
    </template>

    <template #helptext>
      <slot name="helptext" />
    </template>
  </FieldSkeleton>
</template>

<style>
.flopui-form-field-slider .flopui-slider {
  margin: -0.125rem 0;
}
</style>
