<script setup lang="ts">
import SwitchField from './SwitchField.vue'

let currentError = -1
const errorText = [
  'The username is invalid',
  'Username does not exist',
  'Never gonna give you up',
  'Never gonna let you down',
  'Never gonna run around and desert you',
  'Never gonna make you cry',
  'Never gonna say goodbye',
  'Never gonna tell a lie and hurt you',
]

const longErrorText =
  'According to all known laws of aviation, there is no way a bee should be able to fly. ' +
  'Its wings are too small to get its fat little body off the ground. ' +
  "The bee, of course, flies anyway because bees don't care what humans think is impossible."

function initStateWithError() {
  return {
    value: false,
    error: '',
    disabled: false,
  }
}
</script>

<template>
  <Story title="form/SwitchField">
    <Variant title="Basic usage" :init-state="initStateWithError">
      <template #default="{ state }">
        <SwitchField v-model="state.value" :error="state.error" :disabled="state.disabled">
          <template #label>Enable notifications</template>
          <template #helptext>Be notified about whenever something happens.</template>
        </SwitchField>
      </template>

      <template #controls="{ state }">
        <HstCheckbox v-model="state.value" title="Value" />
        <HstCheckbox v-model="state.disabled" title="Disabled?" />

        <hr />

        <HstButton
          color="primary"
          style="margin-bottom: 0.5rem"
          @click="state.error = errorText[(currentError = (currentError + 1) % errorText.length)]"
        >
          Set an error on the field
        </HstButton>

        <HstButton color="primary" style="margin-bottom: 0.5rem" @click="state.error = longErrorText">
          Set a long error on the field
        </HstButton>

        <HstButton @click="state.error = ''">Reset error</HstButton>
      </template>
    </Variant>
  </Story>
</template>

<docs lang="md">
A form field to input a boolean (on/off) value. Wraps [SwitchInput](./input/SwitchInput.story.vue) with the
unified structure of a form field.

Refer to the [WAI-ARIA Authoring Practices Guide](https://www.w3.org/WAI/ARIA/apg/patterns/switch/) for more
information about when to use this field in comparison to the checkbox field.

Integrates with the [Constraint Validation API](https://developer.mozilla.org/en-US/docs/Web/HTML/Constraint_validation)
and displays errors reported by the browser based on validation attributes (`required`, `type`, ...).

This component is expected to be used with [`v-model`](https://vuejs.org/guide/essentials/forms.html) for bidirectional
data-binding of the input value.
</docs>
