<script lang="ts">
import type { FieldSkeletonProps } from './base/FieldSkeleton.vue'
import type { SwitchInputProps } from './input/SwitchInput.vue'

export interface SwitchFieldProps extends FieldSkeletonProps, /* @vue-ignore */ SwitchInputProps {
  required?: boolean
  validator?: (value: boolean) => string | null | undefined
}

export default { inheritAttrs: false }
</script>

<script setup lang="ts">
import { toRefs } from 'vue'
import { useForwardPropsEmitsSkip } from '@/composables/uikit/useForwardPropsEmitsSkip'
import { useFormField } from '@/composables/uikit/useFormField'

import FieldSkeleton from './base/FieldSkeleton.vue'
import SwitchInput from './input/SwitchInput.vue'

const model = defineModel<boolean>({ required: true })
const props = defineProps<SwitchFieldProps>()
const forwarded = useForwardPropsEmitsSkip(props, null, ['validator'])

const { error: userError, validator } = toRefs(props)
const { inputRef, error: controlledError, performValidation } = useFormField(model, userError, validator)
</script>

<template>
  <FieldSkeleton v-bind="forwarded" :error="controlledError" class="flopui-form-field-switch">
    <template #label>
      <slot name="label" />
    </template>

    <template #field="{ id }">
      <SwitchInput
        v-bind="$attrs"
        :id="id"
        ref="inputRef"
        v-model="model"
        :required="required"
        @update:model-value="$nextTick(performValidation)"
      />
    </template>

    <template #helptext>
      <slot name="helptext" />
    </template>
  </FieldSkeleton>
</template>

<style>
.flopui-form-field-switch .flopui-form-field-input {
  flex-direction: row;
  align-items: center;
}

.flopui-form-field-switch .flopui-label {
  flex: 1;
}
</style>
