<script lang="ts">
import type { FieldSkeletonProps } from './base/FieldSkeleton.vue'
import type { TagsInputProps } from './input/TagsInput.vue'

type BaseProps = Omit<TagsInputProps, 'class'>
export interface TagsFieldProps extends FieldSkeletonProps, /* @vue-ignore */ BaseProps {
  required?: boolean
  // TODO: validation for these props
  // min?: number
  // max?: number
  // minLength?: number
  // maxLength?: number
  validator?: (value: string[]) => string | null | undefined
}

export default { inheritAttrs: false }
</script>

<script setup lang="ts">
import { nextTick, toRefs } from 'vue'
import { useForwardPropsEmitsSkip } from '@/composables/uikit/useForwardPropsEmitsSkip'
import { useFormField } from '@/composables/uikit/useFormField'

import FieldSkeleton from './base/FieldSkeleton.vue'
import TagsInput from './input/TagsInput.vue'

const model = defineModel<string[]>({ required: true })
const props = defineProps<TagsFieldProps>()
const forwarded = useForwardPropsEmitsSkip(props, null, ['validator'])

const { error: userError, validator } = toRefs(props)
const {
  inputRef,
  error: controlledError,
  performValidation,
  clearErrors,
} = useFormField(model, userError, validator, true)

function doValidation() {
  clearErrors()
  void nextTick(performValidation)
}
</script>

<template>
  <FieldSkeleton v-bind="forwarded" :error="controlledError">
    <template #label>
      <slot name="label" />
    </template>

    <template #field="{ id }">
      <TagsInput
        v-bind="$attrs"
        :id="id"
        ref="inputRef"
        v-model="model"
        :required="required"
        @blur="performValidation"
        @update:model-value="doValidation"
      />
    </template>

    <template #helptext>
      <slot name="helptext" />
    </template>
  </FieldSkeleton>
</template>
