<script setup lang="ts">
import { useI18n } from 'vue-i18n'

import TagsField from './TagsField.vue'

let currentError = -1
const errorText = [
  'The username is invalid',
  'Username does not exist',
  'Never gonna give you up',
  'Never gonna let you down',
  'Never gonna run around and desert you',
  'Never gonna make you cry',
  'Never gonna say goodbye',
  'Never gonna tell a lie and hurt you',
]

const longErrorText =
  'According to all known laws of aviation, there is no way a bee should be able to fly. ' +
  'Its wings are too small to get its fat little body off the ground. ' +
  "The bee, of course, flies anyway because bees don't care what humans think is impossible."

function initState() {
  return {
    value: [] satisfies string[],
    disabled: false,
  }
}

function initStateWithError() {
  return {
    value: [] satisfies string[],
    error: '',
    disabled: false,
  }
}

{
  // Isolated to not make Histoire explode
  const i18n = useI18n()
  Object.assign(i18n.messages.value.en, {
    'story.flop-error': "Now that's quite a flop...",
  })
}
</script>

<template>
  <Story title="form/TagsField">
    <Variant title="Basic usage" :init-state="initStateWithError">
      <template #default="{ state }">
        <TagsField v-model="state.value" placeholder="Add a tag..." :error="state.error" :disabled="state.disabled">
          <template #label>Tags</template>
          <template #helptext>Some tags that best describes your story.</template>
        </TagsField>
      </template>

      <template #controls="{ state }">
        <HstJson v-model="state.value" title="Value" />
        <HstCheckbox v-model="state.disabled" title="Disabled?" />

        <hr />

        <HstButton
          color="primary"
          style="margin-bottom: 0.5rem"
          @click="state.error = errorText[(currentError = (currentError + 1) % errorText.length)]"
        >
          Set an error on the field
        </HstButton>

        <HstButton color="primary" style="margin-bottom: 0.5rem" @click="state.error = longErrorText">
          Set a long error on the field
        </HstButton>

        <HstButton @click="state.error = ''">Reset error</HstButton>
      </template>
    </Variant>

    <Variant title="With automatic validation" :init-state="initState">
      <template #default="{ state }"> <!-- eslint-disable-line -->
        TODO!
        <!--
          TODO:
          <TagsField
            v-model="state.value"
            placeholder="Add a tag..."
            required
            :max="10"
            :min="3"
            :min-length="3"
            :max-length="10"
            :disabled="state.disabled"
          >
            <template #label>Tags</template>
            <template #helptext>Some tags that best describes your story. Maximum 10.</template>
          </TagsField>
        -->
      </template>
    </Variant>

    <Variant title="With custom validation" :init-state="initState">
      <template #default="{ state }">
        <TagsField
          v-model="state.value"
          :validator="(v) => (v.includes('flop') ? 'story.flop-error' : null)"
          :disabled="state.disabled"
        >
          <template #label>Add some tags</template>
          <template #helptext>The field is case sensitive. Do NOT type "flop"!</template>
        </TagsField>
      </template>
    </Variant>
  </Story>
</template>

<docs lang="md">
A form field to input multiple string values in form of tags. Wraps [TagsInput](./input/TagsInput.story.vue) with the
unified structure of a form field.

Integrates with the [Constraint Validation API](https://developer.mozilla.org/en-US/docs/Web/HTML/Constraint_validation)
to prevent form submission if the field is invalid.

This component is expected to be used with [`v-model`](https://vuejs.org/guide/essentials/forms.html) for bidirectional
data-binding of the input value.
</docs>
