<script lang="ts">
import type { FieldSkeletonProps } from './base/FieldSkeleton.vue'
import type { TextareaInputProps } from './input/TextareaInput.vue'

type BaseProps = Omit<TextareaInputProps, 'class'>
export interface TextareaFieldProps extends FieldSkeletonProps, /* @vue-ignore */ BaseProps {
  required?: boolean
  validator?: (value: string) => string | null | undefined
}

export default { inheritAttrs: false }
</script>

<script setup lang="ts">
import { toRefs } from 'vue'
import { useForwardPropsEmitsSkip } from '@/composables/uikit/useForwardPropsEmitsSkip'
import { useFormField } from '@/composables/uikit/useFormField'

import FieldSkeleton from './base/FieldSkeleton.vue'
import TextareaInput from './input/TextareaInput.vue'

const model = defineModel<string>({ required: true })
const props = defineProps<TextareaFieldProps>()
const forwarded = useForwardPropsEmitsSkip(props, null, ['validator'])

const { error: userError, validator } = toRefs(props)
const { inputRef, error: controlledError, performValidation } = useFormField(model, userError, validator)
</script>

<template>
  <FieldSkeleton v-bind="forwarded" :error="controlledError">
    <template #label>
      <slot name="label" />
    </template>

    <template #field="{ id }">
      <TextareaInput
        v-bind="$attrs"
        :id="id"
        ref="inputRef"
        v-model="model"
        :required="required"
        @blur="performValidation"
      />
    </template>

    <template #helptext>
      <slot name="helptext" />
    </template>
  </FieldSkeleton>
</template>
