<script setup lang="ts">
import { useI18n } from 'vue-i18n'

import TextField from './TextField.vue'

let currentError = -1
const errorText = [
  'The username is invalid',
  'Username does not exist',
  'Never gonna give you up',
  'Never gonna let you down',
  'Never gonna run around and desert you',
  'Never gonna make you cry',
  'Never gonna say goodbye',
  'Never gonna tell a lie and hurt you',
]

const longErrorText =
  'According to all known laws of aviation, there is no way a bee should be able to fly. ' +
  'Its wings are too small to get its fat little body off the ground. ' +
  "The bee, of course, flies anyway because bees don't care what humans think is impossible."

function initState() {
  return {
    value: '',
    disabled: false,
  }
}

function initStateWithError() {
  return {
    value: '',
    error: '',
    disabled: false,
  }
}

{
  // Isolated to not make Histoire explode
  const i18n = useI18n()
  Object.assign(i18n.messages.value.en, {
    'story.meow-error': 'The only valid value is meow.',
    'story.flop-error': "Now that's quite a flop...",
  })
}
</script>

<template>
  <Story title="form/TextField">
    <Variant title="Basic usage" :init-state="initStateWithError">
      <template #default="{ state }">
        <TextField v-model="state.value" placeholder="Placeholder..." :error="state.error" :disabled="state.disabled">
          <template #label>Username</template>
          <template #helptext>You may also use your email address.</template>
        </TextField>
      </template>

      <template #controls="{ state }">
        <HstText v-model="state.value" title="Value" />
        <HstCheckbox v-model="state.disabled" title="Disabled?" />

        <hr />

        <HstButton
          color="primary"
          style="margin-bottom: 0.5rem"
          @click="state.error = errorText[(currentError = (currentError + 1) % errorText.length)]"
        >
          Set an error on the field
        </HstButton>

        <HstButton color="primary" style="margin-bottom: 0.5rem" @click="state.error = longErrorText">
          Set a long error on the field
        </HstButton>

        <HstButton @click="state.error = ''">Reset error</HstButton>
      </template>
    </Variant>

    <Variant title="With native validation" :init-state="initState">
      <template #default="{ state }">
        <TextField
          v-model="state.value"
          placeholder="bob@cooldomain.tld"
          required
          type="email"
          minlength="5"
          :disabled="state.disabled"
        >
          <template #label>Email address</template>
          <template #helptext>
            Your email will be used to send you junk you didn't ask for and will be sold to advertisers. Just kidding,
            it goes nowhere.
          </template>
        </TextField>
      </template>
    </Variant>

    <Variant title="With custom validation" :init-state="initState">
      <template #default="{ state }">
        <TextField
          v-model="state.value"
          :validator="(v) => (v === 'flop' ? 'story.flop-error' : v && v !== 'meow' ? 'story.meow-error' : null)"
          :disabled="state.disabled"
        >
          <template #label>Type meow below</template>
          <template #helptext>The field is case sensitive. Do NOT type "flop"!</template>
        </TextField>
      </template>
    </Variant>

    <Variant title="Password field" :init-state="initState">
      <template #default="{ state }">
        <TextField v-model="state.value" type="password" placeholder="Placeholder..." :disabled="state.disabled">
          <template #label>Password</template>
          <template #helptext>It should be pretty secure.</template>
        </TextField>
      </template>
    </Variant>
  </Story>
</template>

<docs lang="md">
A form field to input a string value. Wraps [TextInput](./input/TextInput.story.vue) with the unified structure of a
form field.

Integrates with the [Constraint Validation API](https://developer.mozilla.org/en-US/docs/Web/HTML/Constraint_validation)
and displays errors reported by the browser based on validation attributes (`required`, `type`, ...).

This component is expected to be used with [`v-model`](https://vuejs.org/guide/essentials/forms.html) for bidirectional
data-binding of the input value.
</docs>
