<script lang="ts">
import type { FieldSkeletonProps } from './base/FieldSkeleton.vue'
import type { TimeInputProps, TimeValue } from './input/TimeInput.vue'

export { TimeValue }

export interface TimeFieldProps extends FieldSkeletonProps, /* @vue-ignore */ TimeInputProps {
  required?: boolean
  validator?: (value: TimeValue) => string | null | undefined
}

export default { inheritAttrs: false }
</script>

<script setup lang="ts">
import { toRefs } from 'vue'
import { useForwardPropsEmitsSkip } from '@/composables/uikit/useForwardPropsEmitsSkip'
import { useFormField } from '@/composables/uikit/useFormField'

import FieldSkeleton from './base/FieldSkeleton.vue'
import TimeInput from './input/TimeInput.vue'

const model = defineModel<TimeValue>({ required: true })
const props = defineProps<TimeFieldProps>()
const forwarded = useForwardPropsEmitsSkip(props, null, ['validator'])

const { error: userError, validator } = toRefs(props)
const { inputRef, error: controlledError, performValidation } = useFormField(model, userError, validator)
</script>

<template>
  <FieldSkeleton v-bind="forwarded" :error="controlledError">
    <template #label>
      <slot name="label" />
    </template>

    <template #field="{ id }">
      <TimeInput
        v-bind="$attrs"
        :id="id"
        ref="inputRef"
        v-model="model"
        :required="required"
        @blur="performValidation"
      />
    </template>

    <template #helptext>
      <slot name="helptext" />
    </template>
  </FieldSkeleton>
</template>
