<script setup lang="ts">
import SimpleButton, { ButtonLook } from '@/components/uikit/button/SimpleButton.vue'
import InfoBox, { InfoBoxType } from '@/components/uikit/InfoBox.vue'

type Props = { unique: boolean }

const override = defineModel<boolean>({ required: true })
defineProps<Props>()
</script>

<template>
  <div v-if="!unique && !override" class="multiple-values">
    <span class="message">{{ $t('form.multipleValues.information') }}</span>
    <SimpleButton class="btn" :look="ButtonLook.LINK" @click="override = true">
      {{ $t('form.multipleValues.edit') }}
    </SimpleButton>
  </div>
  <div v-else>
    <slot />

    <InfoBox v-if="!unique" :type="InfoBoxType.WARNING">
      <div>
        <span class="message">{{ $t('form.multipleValues.warning') }}</span>
        <SimpleButton :look="ButtonLook.LINK" @click="override = false">
          {{ $t('form.multipleValues.cancel') }}
        </SimpleButton>
      </div>
    </InfoBox>
  </div>
</template>

<style scoped>
.multiple-values {
  font-size: 0.875rem;
}

.flopui-infobox {
  font-size: 0.8rem;
  border-radius: var(--border-radius-small);
  margin-top: 0.25rem;
  padding: 0.25rem;
  gap: 0.5em;
}

.message {
  margin-right: 0.25rem;
}
</style>
