<script setup lang="ts">
import type { Course, CourseCreateData } from '@/ts/type'

import { computed, ref, watch } from 'vue'

import { useDepartmentsStore } from '@/stores/departments'
import { useCourseStore } from '@/stores/timetable/course'
import { useCourseModuleStore } from '@/stores/timetable/courseModule'
import { useGroupsStore } from '@/stores/departments/groups'
import { useTutorStore } from '@/stores/timetable/tutor'
import { usePeriodStore } from '@/stores/timetable/period'
// import { useRoomTypeStore } from '@/stores/timetable/roomType'
import { useCourseTypeStore } from '@/stores/timetable/courseType'
import { useSelectedCourseStore } from '@/stores/timetable/selectedCourse'

import {
  CourseFormData,
  CourseFormState,
  CreationErrors,
} from '@/components/forms/courseCreation/CourseCreationForm.vue'
import CourseCreationForm from '@/components/forms/courseCreation/CourseCreationForm.vue'
import Dialog from '@/components/uikit/dialog/Dialog.vue'
import DialogButton from '@/components/uikit/dialog/DialogButton.vue'
import { ButtonColor } from '@/components/uikit/button/SimpleButton.vue'
import Loader from '@/components/uikit/Loader.vue'
import { storeToRefs } from 'pinia'

interface Props {
  allowedPeriods: number[] | undefined
}

const props = defineProps<Props>()

const enum CreationState {
  CLOSED,
  OPENED,
  SUBMITTING,
  ERRORED,
}

const NULL_ID = -1
const DEFAULT_FORM_DATA = {
  courseTypes: [],
  modules: [],
  tutorAuto: false,
  tutors: [],
  suppTutors: [],
  groupsPreFilled: false,
  groupSubSelection: false,
  groups: [],
  periods: [],
  courseDurationHours: 2,
  courseDurationMinutes: 0,
  roomType: -1,
  comment: '',
  coursesNumber: 1,
}

const ERRORS_CLEAR: CreationErrors = {
  courseTypes: null as string | null,
  modules: null as string | null,
  tutors: null as string | null,
  groups: null as string | null,
  courseDuration: null as string | null,
  coursesNumber: null as string | null,
}

const departmentsStore = useDepartmentsStore()
const courseStore = useCourseStore()
const courseTypeStore = useCourseTypeStore()
// const roomTypeStore = useRoomTypeStore()
const moduleStore = useCourseModuleStore()
const tutorStore = useTutorStore()
const groupsStore = useGroupsStore()
const periodStore = usePeriodStore()

const formData = ref<CourseFormData>(DEFAULT_FORM_DATA)

const selectedCourseStore = useSelectedCourseStore()
const { selectedCourses } = storeToRefs(selectedCourseStore)

const courseCreationState = ref(CreationState.CLOSED)

const datas = computed(() => {
  const allowedPeriods = props.allowedPeriods

  return {
    modules: moduleStore.courseModules.map((m) => ({ value: m.id, name: m.name, alias: [m.abbrev] })),
    groups: groupsStore.getGroupsByDepartment(departmentsStore.current.id).all.value.map((g) => ({
      value: g.id.valueOf(),
      name: g.fullName,
    })),
    tutors: tutorStore.tutors.map((t) => ({
      value: t.id,
      name: `${t.firstname} ${t.lastname}`,
      alias: [t.username],
    })),
    periods: allowedPeriods
      ? periodStore.periods.filter((p) => allowedPeriods.includes(p.id)).map((p) => ({ value: p.id, name: p.name }))
      : periodStore.periods.map((p) => ({ value: p.id, name: p.name })),
    // roomTypes: roomStore.roomsFetched.map((r) => ({ value: r.id, name: r.name, alias: [r.abbrev] })),
    courseTypes: courseTypeStore.courseTypes.map((c) => ({ value: c.id, name: c.name })),
  }
})

const errors = ref(ERRORS_CLEAR)

function initData() {
  courseCreationState.value = CreationState.OPENED
  formData.value = DEFAULT_FORM_DATA

  if (selectedCourses.value.length >= 1) {
    // gets first selected course
    const baseCourse = selectedCourses.value[0]

    if (selectedCourseStore.unique.type) formData.value.courseTypes = [baseCourse.type.id]
    if (selectedCourseStore.unique.module) formData.value.modules = [baseCourse.module.id]
    if (selectedCourseStore.unique.tutor && baseCourse.tutor) formData.value.tutors = [baseCourse.tutor.id]
    if (selectedCourseStore.unique.suppTutors) formData.value.suppTutors = baseCourse.supp_tutors.map((st) => st.id)
    if (selectedCourseStore.unique.groups) formData.value.groups = baseCourse.groups.map((g) => g.id)
    if (selectedCourseStore.unique.period) formData.value.periods = [baseCourse.period?.id ?? -1]
    if (selectedCourseStore.unique.duration) {
      const [baseHours, baseMinutes] = baseCourse.duration.split(':').map(Number)
      formData.value.courseDurationHours = baseHours
      formData.value.courseDurationMinutes = baseMinutes
    }
  }
}

watch(
  () => formData.value.courseTypes,
  () => (errors.value.courseTypes = null),
  { deep: true }
)
watch(
  () => formData.value.modules,
  () => (errors.value.modules = null),
  { deep: true }
)
watch(
  () => formData.value.suppTutors,
  () => (errors.value.tutors = null),
  { deep: true }
)
watch(
  () => formData.value.groups,
  () => (errors.value.groups = null),
  { deep: true }
)
watch(
  () => formData.value.courseDurationHours,
  () => (errors.value.courseDuration = null)
)
watch(
  () => formData.value.courseDurationMinutes,
  () => (errors.value.courseDuration = null)
)
watch(
  () => formData.value.coursesNumber,
  () => (errors.value.coursesNumber = null)
)

async function submitForm(close: boolean) {
  courseCreationState.value = CreationState.SUBMITTING
  errors.value = ERRORS_CLEAR

  const formDataValue = formData.value

  if (formDataValue.courseTypes[0] === NULL_ID) {
    courseCreationState.value = CreationState.ERRORED
    errors.value.courseTypes = 'required'
  }

  if (formDataValue.modules[0] === NULL_ID) {
    courseCreationState.value = CreationState.ERRORED
    errors.value.modules = 'required'
  }

  if (
    formDataValue.tutors[0] != NULL_ID &&
    formDataValue.suppTutors.find((tutorId) => tutorId == formDataValue.tutors[0])
  ) {
    courseCreationState.value = CreationState.ERRORED
    errors.value.tutors = 'conflict'
  }

  if (formDataValue.groups.length === 0) {
    courseCreationState.value = CreationState.ERRORED
    errors.value.groups = 'required'
  }

  //if (formDataValue.roomType === NULL_ID){
  //  courseCreationState.value = CreationState.ERRORED
  //  errors.value.roomType = 'required'
  //}

  if (!formDataValue.courseDurationHours && !formDataValue.courseDurationMinutes) {
    courseCreationState.value = CreationState.ERRORED
    errors.value.courseDuration = 'required'
  }

  if (formDataValue.coursesNumber === 0 || !Number.isInteger(formDataValue.coursesNumber)) {
    courseCreationState.value = CreationState.ERRORED
    errors.value.coursesNumber = 'required'
  }

  // Halt if we have errors
  if (courseCreationState.value === CreationState.ERRORED) return

  const createdCourse: CourseCreateData = {
    type_id: formDataValue.courseTypes[0],
    module_id: formDataValue.modules[0],
    tutor_id: formDataValue.tutors[0] != NULL_ID ? formDataValue.tutors[0] : void 0,
    supp_tutor_ids: formDataValue.suppTutors,
    group_ids: formDataValue.groups,
    period_id: formDataValue.periods[0] != NULL_ID ? formDataValue.periods[0] : void 0,
    duration:
      formDataValue.courseDurationHours.toString().padStart(2, '0') +
      ':' +
      formDataValue.courseDurationMinutes.toString().padStart(2, '0') +
      ':00',
    is_graded: false,
  }

  const createdCourses: Course[] = []

  for (let i = 0; i < formDataValue.coursesNumber; i++) {
    // TODO: Error handling
    createdCourses.push(await courseStore.postCourse(createdCourse))
  }

  if (close) {
    selectedCourseStore.selectedCourses = createdCourses
    courseCreationState.value = CreationState.CLOSED
  } else courseCreationState.value = CreationState.OPENED
}
</script>

<template>
  <Dialog
    class="creation-dialog"
    :open="courseCreationState !== CreationState.CLOSED"
    @update:open="$event ? initData() : (courseCreationState = CreationState.CLOSED)"
  >
    <template #trigger>{{ $t('form.creation.button.single') }}</template>
    <template #title>{{ $t('form.creation.title.single') }}</template>
    <template #description>{{ $t('form.creation.instruction.simple') }}</template>
    <template #body>
      <CourseCreationForm v-model="formData" :form-state="CourseFormState.SINGLE" :datas="datas" :errors="errors" />
    </template>
    <template #footer>
      <DialogButton
        class="dialog-close"
        :color="ButtonColor.SUCCESS"
        :disabled="courseCreationState === CreationState.SUBMITTING"
        @click="submitForm(true)"
      >
        <template v-if="courseCreationState === CreationState.SUBMITTING">
          <Loader />
          <span>{{ $t('form.saving') }}</span>
        </template>
        <template v-else>{{ $t('form.creation.create') }}</template>
      </DialogButton>
    </template>
  </Dialog>
</template>

<style>
.flopui-dialog-content.creation-dialog {
  max-width: 640px;
  max-height: 95vh;
}
</style>
