<script setup lang="ts">
import type { Course } from '@/ts/type'

import { computed } from 'vue'
import { storeToRefs } from 'pinia'

import SimpleButton from '@/components/uikit/button/SimpleButton.vue'
import DropdownMenu from '@/components/uikit/menu/DropdownMenu.vue'
import DropdownMenuItem from '@/components/uikit/menu/dropdown/DropdownMenuItem.vue'
import DropdownMenuSeparator from '@/components/uikit/menu/dropdown/DropdownMenuSeparator.vue'
import CourseInformationItem from './CourseInformationItem.vue'

import { useSelectedCourseStore } from '@/stores/timetable/selectedCourse'

import Edit from '~mingcute/editor/edit_4_line.svg'
import MoreVert from '~mingcute/system/more_2_line.svg'

const selectedCourseStore = useSelectedCourseStore()
const { selectedCourses, isModifying } = storeToRefs(selectedCourseStore)
const coursePropsUnicity = selectedCourseStore.unique

const course = computed<Course>(() => selectedCourses.value[0])

const emit = defineEmits<{ deleteCourses: [] }>()

function duplicateCourses() {
  window.alert('This is not implemented yet!')
  // Fixme : The API must containt the room_type. The room_type is not in the course object
  /*
  console.log(selectedCourses.value)
  selectedCourses.value.forEach((course) => {
    const courseCopy = course
    delete courseCopy.id;
    courseStore.postCourse(courseCopy)
  })
  */
}

function openInDependencyTree() {
  window.alert('This is not implemented yet!')
}
</script>

<template>
  <div class="course-information-container">
    <div v-if="selectedCourses.length === 1" class="selection-option">Sélection unique</div>
    <div v-else class="selection-option">Sélection multiple</div>

    <div class="buttons-container">
      <SimpleButton @click="isModifying = true">
        <Edit />
        <span>{{ $t('common.edit') }}</span>
      </SimpleButton>
      <DropdownMenu icon-button :aria-label="$t('common.seeMoreActionsLabelButton')">
        <template #button>
          <MoreVert />
        </template>
        <template #items>
          <DropdownMenuItem disabled @select="openInDependencyTree">
            {{ $t('management.courses.seeInDependencyTree') }}
          </DropdownMenuItem>
          <DropdownMenuSeparator />
          <DropdownMenuItem @select="isModifying = true">{{ $t('common.edit') }}</DropdownMenuItem>
          <DropdownMenuItem disabled @select="duplicateCourses">{{ $t('common.duplicate') }}</DropdownMenuItem>
          <DropdownMenuSeparator />
          <DropdownMenuItem danger @select="emit('deleteCourses')">{{ $t('common.delete') }}</DropdownMenuItem>
        </template>
      </DropdownMenu>
    </div>

    <ul class="information">
      <CourseInformationItem :name="$t('management.courses.module.simple')" :unique="coursePropsUnicity.module">
        <span>{{ course.module.name }}</span>
      </CourseInformationItem>

      <CourseInformationItem :name="$t('management.courses.courseType.simple')" :unique="coursePropsUnicity.type">
        <span>{{ course.type.name }}</span>
      </CourseInformationItem>

      <CourseInformationItem :name="$t('management.courses.tutor.simple')" :unique="coursePropsUnicity.tutor">
        <span v-if="course.tutor">{{ course.tutor.first_name }} {{ course.tutor.last_name }}</span>
        <i v-else>{{ $t('management.courses.undefined') }}</i>
      </CourseInformationItem>

      <CourseInformationItem
        v-if="course.supp_tutors.length || !coursePropsUnicity.suppTutors"
        :name="$t('management.courses.suppTutors.simple', course.supp_tutors.length)"
        :unique="coursePropsUnicity.suppTutors"
      >
        <span>{{ course.supp_tutors.map((t) => `${t.first_name} ${t.last_name}`).join(', ') }}</span>
      </CourseInformationItem>

      <CourseInformationItem
        :name="$t('management.courses.group.simple', course.groups.length)"
        :unique="coursePropsUnicity.groups"
      >
        <span>{{ course.groups.map((g) => g.train_prog.abbrev + '-' + g.name).join(', ') }}</span>
      </CourseInformationItem>

      <CourseInformationItem :name="$t('management.courses.period.simple')" :unique="coursePropsUnicity.period">
        <span v-if="course.period">{{ course.period.name }}</span>
        <i v-else>{{ $t('management.courses.undefined') }}</i>
      </CourseInformationItem>

      <CourseInformationItem :name="$t('management.courses.duration.simple')" :unique="coursePropsUnicity.duration">
        <span>{{ course.duration }}</span>
      </CourseInformationItem>

      <CourseInformationItem :name="$t('management.courses.comment.simple')" :unique="true">
        <span><i>Not yet implemented!</i></span>
      </CourseInformationItem>

      <CourseInformationItem :name="$t('management.courses.constraint.simple')" :unique="true">
        <span><i>Not yet implemented!</i></span>
      </CourseInformationItem>
    </ul>
  </div>
</template>

<style scoped>
.course-information-container {
  display: flex;
  flex-direction: column;
}

.buttons-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  gap: 8px;
}

.information {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding-left: 0;
  margin: 16px 0;
  gap: 4px;
}

.selection-option {
  font-size: 1.5rem;
  font-weight: 800;
  width: 100%;
  text-align: center;
  padding-bottom: 16px;
}
</style>
