<script setup lang="ts">
import { DropdownMenuItem as RadixDropdownMenuItem } from 'radix-vue'

import DropdownMenuSeparator from '@/components/uikit/menu/dropdown/DropdownMenuSeparator.vue'
import DropdownMenuItem from '@/components/uikit/menu/dropdown/DropdownMenuItem.vue'
import LocaleSelector from '@/components/header/account/LocaleSelector.vue'
import ThemeSelector from '@/components/header/account/ThemeSelector.vue'
import AboutFlopDialog from '@/components/dialog/AboutFlopDialog.vue'

import QuestionIcon from '~mingcute/system/question_line.svg'
import ExternalLinkIcon from '~mingcute/file/external_link_line.svg'

// TODO: https://framagit.org/flopedt/FlOpEDT/-/issues/99
const DOCUMENTATION_WEBSITE = 'https://cdn.cynthia.dev/documentation-18062024.png'
</script>

<template>
  <DropdownMenuSeparator />
  <LocaleSelector />
  <ThemeSelector />
  <a :href="DOCUMENTATION_WEBSITE" target="_blank" rel="noreferrer">
    <DropdownMenuItem>
      <template #icon><QuestionIcon /></template>
      <span>{{ $t('header.help') }}</span>
      <template #right><ExternalLinkIcon /></template>
    </DropdownMenuItem>
  </a>
  <DropdownMenuSeparator />
  <div class="account-dropdown-about" @select.prevent>
    <div>{{ $t('header.powered-by') }}</div>
    <span aria-hidden="true">·</span>
    <AboutFlopDialog>
      <RadixDropdownMenuItem class="about-button" :aria-label="$t('about-flop.title')" @select.prevent>
        {{ $t('header.about') }}
      </RadixDropdownMenuItem>
    </AboutFlopDialog>
  </div>
</template>

<style scoped>
.account-dropdown-about {
  padding: 0.25rem 0;
  font-size: 0.75rem;
  color: var(--color-text-muted);

  display: flex;
  justify-content: center;
  gap: 0.25rem;
}

.about-button {
  cursor: pointer;
  text-decoration: underline;
  border-radius: 0.125rem;
  outline: none;
}

.about-button[data-highlighted] {
  color: var(--color-text-accent);
}
</style>
