<script setup lang="ts">
import { useI18n } from 'vue-i18n'
import { RouteNames } from '@/router/routes'
import { useAuthStore } from '@/stores/auth'
import { useDepartmentsStore } from '@/stores/departments.ts'

import { DropdownMenuItem as RadixDropdownMenuItem } from 'radix-vue'
import DropdownMenu from '@/components/uikit/menu/DropdownMenu.vue'
import DropdownMenuItem from '@/components/uikit/menu/dropdown/DropdownMenuItem.vue'
import DropdownMenuGroup from '@/components/uikit/menu/dropdown/DropdownMenuGroup.vue'
import DropdownMenuLabel from '@/components/uikit/menu/dropdown/DropdownMenuLabel.vue'
import DropdownMenuSeparator from '@/components/uikit/menu/dropdown/DropdownMenuSeparator.vue'
import AccountMenuItems from '@/components/header/account/AccountMenuItems.vue'
import Loader from '@/components/uikit/Loader.vue'

import UserIcon from '~mingcute/user/user_4_line.svg'

import ExitIcon from '~mingcute/system/exit_line.svg'
import SettingsIcon from '~mingcute/system/settings_2_line.svg'

import TransferIcon from '~mingcute/arrow/transfer_line.svg'
import ToolIcon from '~mingcute/system/tool_line.svg'
import SettingsDeptIcon from '~mingcute/system/settings_4_line.svg'

import SchoolIcon from '~mingcute/building/school_line.svg'
import SettingsAdminIcon from '~mingcute/system/settings_7_line.svg'
import ExternalLinkIcon from '~mingcute/file/external_link_line.svg'

const i18n = useI18n()
const authStore = useAuthStore()
const deptStore = useDepartmentsStore()
</script>

<template>
  <template v-if="!authStore.loaded">
    <Loader />
  </template>
  <template v-else-if="!authStore.isAuthenticated">
    <RouterLink :to="{ name: RouteNames.LOGIN }" class="account-button">
      <UserIcon />
      <span>{{ $t('header.login') }}</span>
    </RouterLink>
    <DropdownMenu :side-offset="4">
      <template #items>
        <RouterLink :to="{ name: RouteNames.LOGIN }">
          <DropdownMenuItem>
            <template #icon><UserIcon /></template>
            <span>{{ $t('header.login') }}</span>
          </DropdownMenuItem>
        </RouterLink>
        <AccountMenuItems />
      </template>
    </DropdownMenu>
  </template>
  <template v-else>
    <DropdownMenu as-child :side-offset="4">
      <template #trigger>
        <button class="account-button">
          <UserIcon />
          <span class="name">{{ authStore.user.getFullName() }}</span>
        </button>
      </template>
      <template #items>
        <RouterLink :to="{ name: RouteNames.MY_ACCOUNT }">
          <RadixDropdownMenuItem class="account-info">
            <UserIcon class="account-icon" />
            <div class="account-details">
              <span class="account-name">{{ authStore.user.getFullName() }}</span>
              <!-- TODO: proper rank display -->
              <span class="account-role">{{ $t('header.role.admin') }}</span>
            </div>
          </RadixDropdownMenuItem>
        </RouterLink>
        <DropdownMenuSeparator />
        <RouterLink :to="{ name: RouteNames.MY_ACCOUNT_SETTINGS }">
          <DropdownMenuItem>
            <template #icon><SettingsIcon /></template>
            <span>{{ $t('header.settings') }}</span>
          </DropdownMenuItem>
        </RouterLink>
        <DropdownMenuItem danger @select="authStore.logout()">
          <template #icon><ExitIcon /></template>
          <span>{{ $t('header.logout') }}</span>
        </DropdownMenuItem>
        <DropdownMenuSeparator />

        <DropdownMenuGroup v-if="deptStore.isCurrentDepartmentSelected">
          <DropdownMenuLabel>{{
            $t('header.department-label', { department: deptStore.current.name })
          }}</DropdownMenuLabel>
          <RouterLink :to="{ name: RouteNames.DEPARTMENT_SELECTION }">
            <DropdownMenuItem>
              <template #icon><TransferIcon /></template>
              <span>{{ $t('header.change-department') }}</span>
            </DropdownMenuItem>
          </RouterLink>
          <RouterLink :to="{ name: RouteNames.DEPARTMENT_MANAGEMENT_GENERATION }">
            <DropdownMenuItem>
              <template #icon><ToolIcon /></template>
              <span>{{ $t('header.manage-generation') }}</span>
            </DropdownMenuItem>
          </RouterLink>
          <RouterLink :to="{ name: RouteNames.DEPARTMENT_MANAGEMENT }">
            <DropdownMenuItem>
              <template #icon><SettingsDeptIcon /></template>
              <span>{{ $t('header.manage-department') }}</span>
            </DropdownMenuItem>
          </RouterLink>

          <DropdownMenuSeparator />
        </DropdownMenuGroup>

        <RouterLink :to="{ name: RouteNames.MANAGEMENT }">
          <DropdownMenuItem>
            <template #icon><SchoolIcon /></template>
            <span>{{ $t('header.manage') }}</span>
          </DropdownMenuItem>
        </RouterLink>
        <a :href="`/${i18n.locale.value}/admin`" target="_blank">
          <DropdownMenuItem>
            <template #icon><SettingsAdminIcon /></template>
            <span>{{ $t('header.django-admin') }}</span>
            <template #right><ExternalLinkIcon /></template>
          </DropdownMenuItem>
        </a>
        <AccountMenuItems />
      </template>
    </DropdownMenu>
  </template>
</template>

<style scoped>
.account-button {
  all: unset;
  box-sizing: border-box;

  display: flex;
  flex-shrink: 0;
  gap: 0.5rem;

  cursor: pointer;
  font-weight: 600;
  border-radius: 2px;
}

.account-button:focus-visible {
  outline: 3px var(--color-outline) solid;
  outline-offset: 4px;
}

.account-button svg {
  width: 1.125em;
  height: 1.125em;
}

.account-button svg,
.account-button span {
  flex-shrink: 0;
}

.name {
  color: var(--color-text-secondary);
}

.account-info {
  display: flex;
  align-items: center;
  padding: 0.25rem;
  gap: 0.5rem;
  margin: 2px;

  cursor: pointer;
  border-radius: var(--border-radius-small);
  overflow: visible;
}

.account-info:focus {
  outline: 2px transparent solid;
  box-shadow: 0 0 0 2px var(--color-outline);
  background-color: var(--color-background-accent-light);
}

.account-icon {
  height: 2em;
  width: 2em;
}

.account-name {
  font-weight: 500;
}

.account-details {
  display: flex;
  flex-direction: column;
}

.account-role {
  font-size: 0.75rem;
  color: var(--color-text-muted);
}
</style>
