<script setup lang="ts">
import { useI18n } from 'vue-i18n'
import { changeLocale, SUPPORTED_LOCALES } from '@/i18n'
import languages from '@/i18n/languages.json'

import DropdownSubmenu from '@/components/uikit/menu/dropdown/DropdownSubmenu.vue'
import DropdownMenuCheckbox from '@/components/uikit/menu/dropdown/DropdownMenuCheckbox.vue'

import LanguageIcon from '~mingcute/map/earth_2_line.svg' // editor/translate_2_line

const { locale } = useI18n({ useScope: 'global' })

async function updateLocale(loc: string) {
  await changeLocale(loc)

  // TODO: update remote preferences if logged in
}
</script>

<template>
  <DropdownSubmenu>
    <template #icon><LanguageIcon /></template>
    <span>{{ $t('header.language') }}</span>
    <template #items>
      <DropdownMenuCheckbox
        v-for="loc in SUPPORTED_LOCALES"
        :key="loc"
        :model-value="locale === loc"
        @select="updateLocale(loc)"
      >
        {{ languages[loc as keyof typeof languages] }}
      </DropdownMenuCheckbox>
    </template>
  </DropdownSubmenu>
</template>
