<script setup lang="ts">
import { useI18n } from 'vue-i18n'
import { useDepartmentsStore } from '@/stores/departments.ts'

const dept = useDepartmentsStore()
const i18n = useI18n()
</script>

<template>
  <div class="container">
    <iframe :src="`/${i18n.locale.value}/cstmanager/${dept.current.abbrev}/manager`" />
  </div>
</template>

<style scoped>
.container {
  height: calc(100vh - 4.5rem);
  overflow: hidden;
}

iframe {
  all: unset;
  width: 100%;
  height: 100%;
}
</style>
