<script setup lang="ts">
import { ref } from 'vue'
import SimpleButton, { ButtonColor, ButtonLook } from './SimpleButton.vue'
import Loader from '@/components/uikit/Loader.vue'

import Home from '~mingcute/building/home_5_fill.svg'

function toTitle(color: string, look: string) {
  return `${color[0].toUpperCase()}${color.slice(1)} ${look[0].toUpperCase()}${look.slice(1)}`
}

const disabled = ref(false)
</script>

<template>
  <Story title="button/SimpleButton" :layout="{ type: 'grid', width: '250px' }">
    <template v-for="l in [ButtonLook.FILLED, ButtonLook.OUTLINED]" :key="l">
      <Variant
        v-for="c in [
          ButtonColor.PRIMARY,
          ButtonColor.ACCENT,
          ButtonColor.WARNING,
          ButtonColor.DANGER,
          ButtonColor.SUCCESS,
        ]"
        :key="c"
        :title="toTitle(c, l)"
      >
        <SimpleButton :disabled="disabled" :look="l" :color="c">Example button</SimpleButton>
      </Variant>
    </template>

    <Variant title="With an icon">
      <SimpleButton :disabled="disabled">
        <Home />
        <span>Example button</span>
      </SimpleButton>
    </Variant>
    <Variant title="With loader">
      <SimpleButton :disabled="disabled">
        <Loader />
        <span>Example button</span>
      </SimpleButton>
    </Variant>
    <Variant title="Icon button">
      <SimpleButton :disabled="disabled" label="Home" icon-button>
        <Home />
      </SimpleButton>
    </Variant>
    <Variant title="Link button">
      <SimpleButton :disabled="disabled" :look="ButtonLook.LINK">Example button</SimpleButton>
    </Variant>

    <template #controls>
      <HstCheckbox v-model="disabled" title="Disabled" />
    </template>
  </Story>
</template>

<docs lang="md">
A basic button. You can use icons, but be sure to wrap the text content in a span. Works like a charm when using
[SVG icons](../Icons.story.md), as shown here.

By default, the button has the `Look.FILLED` look with the `Look.PRIMARY` color.

### Link Button
The link button is used to have an element that visually looks like a link, but has the behavior of a button.
See the [WAI-ARIA 1.2 specification, 5.4. `link` role](https://www.w3.org/TR/wai-aria-1.2/#link) for more information.
</docs>
