<script lang="ts">
import type { ToggleGroupRootProps } from 'radix-vue'

export interface ToggleGroupProps extends Omit<ToggleGroupRootProps, 'modelValue'> {
  noEmptyValue?: boolean
}
</script>

<script setup lang="ts">
import { computed, provide } from 'vue'
import { ToggleGroupRoot } from 'radix-vue'
import { useForwardPropsEmitsSkip } from '@/composables/uikit/useForwardPropsEmitsSkip'

const value = defineModel<string | string[]>()
const props = defineProps<ToggleGroupProps>()
const forwarded = useForwardPropsEmitsSkip(props, null, ['noEmptyValue'])

// Copy is required, otherwise `noEmptyValue` may not work as intended (array is mutated by ToggleGroupRoot)
const valueCopied = computed(() => (Array.isArray(value.value) ? [...value.value] : value.value))

provide('flopui-toggle-value', value)

function onValueChange(val: string | string[]) {
  if (props.noEmptyValue && !val?.length) return
  value.value = val
}
</script>

<template>
  <ToggleGroupRoot
    v-bind="forwarded"
    :model-value="valueCopied"
    class="flopui-toggle-group"
    @update:model-value="onValueChange"
  >
    <slot />
  </ToggleGroupRoot>
</template>

<style>
.flopui-toggle-group {
  display: inline-flex;
  align-items: center;
  background-color: var(--color-background-primary);
  border: 1px var(--color-border-primary) solid;
  border-radius: var(--border-radius);
  padding: 0.25rem;
  gap: 0;
}

.flopui-toggle-group .flopui-button {
  border-radius: var(--border-radius-small);
  padding: 0.25rem 0.5rem;
  height: 1.25rem;
}

.flopui-toggle-group .flopui-button[data-state='off'] {
  border: 1px transparent solid;
}
</style>
