<script setup lang="ts">
import { Toggle } from 'radix-vue'
import SimpleButton, { ButtonLook, ButtonColor } from './SimpleButton.vue'

const value = defineModel<boolean>()
</script>

<template>
  <Toggle v-model:pressed="value" as-child>
    <SimpleButton :look="ButtonLook.OUTLINED" :color="value ? ButtonColor.ACCENT : ButtonColor.PRIMARY">
      <slot />
    </SimpleButton>
  </Toggle>
</template>
