<script setup lang="ts">
import { type Ref, inject, computed } from 'vue'
import { ToggleGroupItem } from 'radix-vue'
import SimpleButton, { ButtonLook, ButtonColor } from './SimpleButton.vue'

const props = defineProps<{ value: string }>()

const currentValue = inject<Ref<string | string[]>>('flopui-toggle-value')
const isSelected = computed(() =>
  currentValue && currentValue.value
    ? typeof currentValue.value === 'string'
      ? currentValue.value === props.value
      : currentValue.value.includes(props.value)
    : false
)
</script>

<template>
  <ToggleGroupItem :value="value" as-child>
    <SimpleButton :look="ButtonLook.OUTLINED" :color="isSelected ? ButtonColor.ACCENT : ButtonColor.PRIMARY">
      <slot />
    </SimpleButton>
  </ToggleGroupItem>
</template>
