<script setup lang="ts">
import ToggleGroup from '@/components/uikit/button/ToggleGroup.vue'
import ToggleGroupButton from '@/components/uikit/button/ToggleGroupButton.vue'

function initStateSingle() {
  return { value: 'val1', disabled: false, noEmptyValue: false }
}

function initStateMultiple() {
  return { value: ['val1'], disabled: false, noEmptyValue: false }
}
</script>

<template>
  <Story title="button/ToggleGroup">
    <Variant title="Basic usage" :init-state="initStateSingle">
      <template #default="{ state }">
        <ToggleGroup
          v-model="state.value"
          type="single"
          :disabled="state.disabled"
          :no-empty-value="state.noEmptyValue"
        >
          <ToggleGroupButton value="val1">First</ToggleGroupButton>
          <ToggleGroupButton value="val2">Second</ToggleGroupButton>
          <ToggleGroupButton value="val3">Third</ToggleGroupButton>
        </ToggleGroup>
      </template>
    </Variant>

    <Variant title="Multiple selection" :init-state="initStateMultiple">
      <template #default="{ state }">
        <ToggleGroup
          v-model="state.value"
          type="multiple"
          :disabled="state.disabled"
          :no-empty-value="state.noEmptyValue"
        >
          <ToggleGroupButton value="val1">First</ToggleGroupButton>
          <ToggleGroupButton value="val2">Second</ToggleGroupButton>
          <ToggleGroupButton value="val3">Third</ToggleGroupButton>
        </ToggleGroup>
      </template>
    </Variant>
  </Story>
</template>

<docs lang="md">
A group of two-state buttons. Can either accept a single or multiple buttons to be in an enabled state.

See also: https://www.radix-vue.com/components/toggle-group.html
</docs>
