<script setup lang="ts">
import ToggleButton from './ToggleButton.vue'

function initState() {
  return { checked: false, disabled: false }
}
</script>

<template>
  <Story title="button/ToggleButton">
    <Variant title="Basic usage" :init-state="initState">
      <template #default="{ state }">
        <ToggleButton v-model="state.checked" :disabled="state.disabled">
          <span>Example button</span>
        </ToggleButton>
      </template>
    </Variant>
  </Story>
</template>

<docs lang="md">
A simple two-state button.

See also: https://www.radix-vue.com/components/toggle.html
</docs>
