<script lang="ts">
import '../item.css'

import type { DropdownMenuRadioItemProps, DropdownMenuRadioItemEmits } from 'radix-vue'

export interface DropdownMenuRadioProps extends DropdownMenuRadioItemProps {}

export type DropdownMenuRadioEmits = DropdownMenuRadioItemEmits
</script>

<script setup lang="ts">
import { DropdownMenuRadioItem, DropdownMenuItemIndicator, useForwardPropsEmits } from 'radix-vue'

const props = defineProps<DropdownMenuRadioProps>()
const emits = defineEmits<DropdownMenuRadioEmits>()
const forwarded = useForwardPropsEmits(props, emits)
</script>

<template>
  <DropdownMenuRadioItem v-bind="forwarded" :value="value" class="flopui-menu-item">
    <DropdownMenuItemIndicator class="flopui-menu-item-indicator">
      <div class="flopui-menu-radio-dot" />
    </DropdownMenuItemIndicator>
    <div class="flopui-menu-item-contents">
      <slot />
    </div>
    <div class="flopui-menu-item-right">
      <slot name="right" />
    </div>
  </DropdownMenuRadioItem>
</template>
