<script setup lang="ts">
import '../item.css'

import { DropdownMenuSeparator as RadixDropdownMenuSeparator } from 'radix-vue'
</script>

<template>
  <RadixDropdownMenuSeparator class="flopui-menu-item-separator" />
</template>
