<script lang="ts">
import '../item.css'

import type { DropdownMenuCheckboxItemProps, DropdownMenuCheckboxItemEmits, CheckboxCheckedState } from 'radix-vue'

export interface DropdownMenuCheckboxProps extends Omit<DropdownMenuCheckboxItemProps, 'checked'> {}

export type DropdownMenuCheckboxEmits = Omit<DropdownMenuCheckboxItemEmits, 'update:checked'>
</script>

<script setup lang="ts">
import { DropdownMenuCheckboxItem, DropdownMenuItemIndicator } from 'radix-vue'
import { useForwardPropsEmitsSkip } from '@/composables/uikit/useForwardPropsEmitsSkip'

import CheckIcon from '~mingcute/system/check_circle_line.svg'
import MinusIcon from '~mingcute/system/minus_circle_line.svg'

const model = defineModel<CheckboxCheckedState>({ required: true })
const props = defineProps<DropdownMenuCheckboxProps>()
const emits = defineEmits<DropdownMenuCheckboxEmits>()
const forwarded = useForwardPropsEmitsSkip(props, emits)
</script>

<template>
  <DropdownMenuCheckboxItem v-bind="forwarded" v-model:checked="model" class="flopui-menu-item">
    <DropdownMenuItemIndicator class="flopui-menu-item-indicator">
      <MinusIcon v-if="model === 'indeterminate'" />
      <CheckIcon v-else />
    </DropdownMenuItemIndicator>
    <div class="flopui-menu-item-contents">
      <slot />
    </div>
    <div class="flopui-menu-item-right">
      <slot name="right" />
    </div>
  </DropdownMenuCheckboxItem>
</template>
