<script lang="ts">
import '../menu.css'
import '../item.css'

import type { DropdownMenuSubContentEmits, DropdownMenuSubContentProps } from 'radix-vue'

export interface DropdownSubmenuProps extends DropdownMenuSubContentProps {}

export type DropdownSubmenuEmits = DropdownMenuSubContentEmits
</script>

<script setup lang="ts">
import { DropdownMenuPortal, DropdownMenuSub, DropdownMenuSubContent, DropdownMenuSubTrigger } from 'radix-vue'
import { useForwardPropsEmitsSkip } from '@/composables/uikit/useForwardPropsEmitsSkip'

import ChevronRight from '~mingcute/arrow/right_line.svg'

const open = defineModel<boolean>('open')
const props = defineProps<DropdownSubmenuProps>()
const emits = defineEmits<DropdownSubmenuEmits>()
const forwarded = useForwardPropsEmitsSkip(props, emits, [], ['open'])
</script>

<template>
  <DropdownMenuSub v-model:open="open">
    <DropdownMenuSubTrigger class="flopui-menu-item">
      <div v-if="$slots.icon" class="flopui-menu-item-icon" aria-hidden="true">
        <slot name="icon" />
      </div>
      <div class="flopui-menu-item-contents">
        <slot />
      </div>
      <div class="flopui-menu-item-right">
        <slot name="right" />
        <ChevronRight aria-hidden="true" class="flopui-menu-item-more" />
      </div>
    </DropdownMenuSubTrigger>
    <DropdownMenuPortal>
      <DropdownMenuSubContent
        v-bind="forwarded"
        class="flopui-menu-submenu flopui-menu-content"
        :side-offset="2"
        :align-offset="-5"
        :collision-padding="8"
      >
        <div class="flopui-menu-viewport">
          <slot name="items" />
        </div>
      </DropdownMenuSubContent>
    </DropdownMenuPortal>
  </DropdownMenuSub>
</template>
