<script setup lang="ts">
import { DropdownMenuRadioGroup as RadixDropdownMenuRadioGroup } from 'radix-vue'
</script>

<template>
  <RadixDropdownMenuRadioGroup>
    <slot />
  </RadixDropdownMenuRadioGroup>
</template>
