<script lang="ts">
import '../item.css'

import type {
  DropdownMenuItemProps as RadixDropdownMenuItemProps,
  DropdownMenuItemEmits as RadixDropdownMenuItemEmits,
} from 'radix-vue'

export interface DropdownMenuItemProps extends RadixDropdownMenuItemProps {
  danger?: boolean
}

export type DropdownMenuItemEmits = RadixDropdownMenuItemEmits
</script>

<script setup lang="ts">
import { DropdownMenuItem as RadixDropdownMenuItem } from 'radix-vue'
import { useForwardPropsEmitsSkip } from '@/composables/uikit/useForwardPropsEmitsSkip'

const props = defineProps<DropdownMenuItemProps>()
const emits = defineEmits<DropdownMenuItemEmits>()
const forwarded = useForwardPropsEmitsSkip(props, emits, ['danger'])
</script>

<template>
  <RadixDropdownMenuItem v-bind="forwarded" class="flopui-menu-item" :class="{ danger }">
    <div v-if="$slots.icon" class="flopui-menu-item-icon" aria-hidden="true">
      <slot name="icon" />
    </div>
    <div class="flopui-menu-item-contents">
      <slot />
    </div>
    <div class="flopui-menu-item-right">
      <slot name="right" />
    </div>
  </RadixDropdownMenuItem>
</template>
