<script setup lang="ts">
import '../item.css'

import { DropdownMenuLabel as RadixDropdownMenuLabel } from 'radix-vue'
</script>

<template>
  <RadixDropdownMenuLabel class="flopui-menu-item-label">
    <slot />
  </RadixDropdownMenuLabel>
</template>
