<script setup lang="ts">
import '../picker-calendar.css'

import { type DateValue, DateFormatter } from '@internationalized/date'
import { toDate } from 'radix-vue/date'

import { CalendarGridHead, CalendarGridRow, CalendarHeadCell } from 'radix-vue'
import Tooltip from '@/components/uikit/Tooltip.vue'
import { computed } from 'vue'

const props = defineProps<{ weekDays: string[]; displayLocale: string; start: DateValue }>()

const format = computed(() => new DateFormatter(props.displayLocale, { weekday: 'long' }))
const weekdaysLong = computed(() =>
  Array(7)
    .fill(null)
    .map((_, i) => format.value.format(toDate(props.start.add({ days: i }))))
)
</script>

<template>
  <CalendarGridHead class="flopui-calendar-picker-head">
    <CalendarGridRow class="flopui-calendar-picker-row">
      <Tooltip :content="$t('uikit.calendar.week-header.long')">
        <CalendarHeadCell as="td" class="flopui-calendar-picker-weekday">
          {{ $t('uikit.calendar.week-header.short') }}
        </CalendarHeadCell>
      </Tooltip>
      <template v-for="(day, i) in weekDays" :key="i">
        <Tooltip :content="weekdaysLong[i]">
          <CalendarHeadCell class="flopui-calendar-picker-weekday">
            {{ day }}
          </CalendarHeadCell>
        </Tooltip>
      </template>
    </CalendarGridRow>
  </CalendarGridHead>
</template>
