<script setup lang="ts">
import '../picker-calendar.css'
import { computed } from 'vue'
import { CalendarGridBody, CalendarGridRow } from 'radix-vue'

import { type Grid, isBetweenInclusive } from 'radix-vue/date'
import { type DateValue, isSameYear, startOfMonth, startOfWeek, startOfYear } from '@internationalized/date'

const props = defineProps<{ gridMonth: Grid<DateValue>; locale: string; compact?: boolean }>()

const rows = computed(() => {
  if (!props.compact) return props.gridMonth.rows
  return props.gridMonth.rows.filter((row) => {
    const start = row[0]
    const end = row[row.length - 1]
    return isBetweenInclusive(props.gridMonth.value, start, end)
  })
})

// Weeks always have 7 days, regardless of used calendar.
const startingWeekNumber = computed(() => {
  const firstDayOfMonth = startOfMonth(props.gridMonth.value)
  const firstDayOfGrid = startOfWeek(rows.value[0][0], props.locale)

  const isYearBoundary = !isSameYear(firstDayOfMonth, firstDayOfGrid)

  return Array(props.compact ? 1 : 7)
    .fill(null)
    .map((_, idx) => {
      // This handles cases where there are incomplete weeks in the end of a year.
      // Otherwise, when seeing the first month of the next year the first week will not be properly labelled.
      const firstDayOfWeek = firstDayOfGrid.add({ weeks: idx })
      if (isYearBoundary && !isSameYear(firstDayOfWeek, firstDayOfMonth)) return 1

      const firstDayOfYear = startOfWeek(startOfYear(firstDayOfWeek), props.locale)
      return firstDayOfWeek.compare(firstDayOfYear) / 7 + 1
    })
})
</script>

<template>
  <CalendarGridBody class="flopui-calendar-picker-body">
    <CalendarGridRow v-for="(days, idx) in rows" :key="days[0].toString()" class="flopui-calendar-picker-row">
      <th scope="row" class="flopui-calendar-picker-weeknum" aria-hidden="true">
        {{ startingWeekNumber[idx].toLocaleString(locale) }}
      </th>

      <slot v-for="day in days" :key="day.toString()" :day="day" :month="gridMonth.value" />
    </CalendarGridRow>
  </CalendarGridBody>
</template>
