<script setup lang="ts">
import { useRoute } from 'vue-router'
import { useDepartmentsStore } from '@/stores/departments.ts'
import { RouteNames } from '@/router/routes.ts'

import Logo from '@/components/Logo.vue'
import UndoRedoControls from '@/components/header/undoredo/UndoRedoControls.vue'
import Account from '@/components/header/account/Account.vue'

import CalendarIcon from '~mingcute/business/calendar_month_line.svg'
import BookIcon from '~mingcute/education/book_6_line.svg'
import CouponIcon from '~mingcute/business/coupon_line.svg'

const route = useRoute()
const deptStore = useDepartmentsStore()
</script>

<template>
  <header>
    <div class="logo">
      <RouterLink :to="{ name: RouteNames.HOME }" :title="$t('header.homepage')">
        <Logo />
      </RouterLink>
    </div>

    <nav>
      <RouterLink
        v-if="deptStore.isCurrentDepartmentSelected"
        :to="{ name: RouteNames.DEPARTMENT_SCHEDULE }"
        exact-active-class="active"
        class="nav-item"
      >
        <CalendarIcon />
        <span>{{ $t('header.nav.schedule') }}</span>
      </RouterLink>
      <RouterLink
        v-if="deptStore.isCurrentDepartmentSelected"
        :to="{ name: RouteNames.DEPARTMENT_MANAGEMENT_COURSES }"
        exact-active-class="active"
        class="nav-item"
      >
        <BookIcon />
        <span>{{ $t('header.nav.course-management') }}</span>
      </RouterLink>
      <RouterLink
        v-if="deptStore.isCurrentDepartmentSelected"
        :to="{ name: RouteNames.DEPARTMENT_ROOM_RESERVATION }"
        exact-active-class="active"
        class="nav-item"
      >
        <CouponIcon />
        <span>{{ $t('header.nav.reservation') }}</span>
      </RouterLink>
    </nav>

    <div class="right">
      <!-- TODO: Ribbon button -->
      <UndoRedoControls v-if="!route.meta.undoredoEnabled" />
      <Account />
    </div>
  </header>
</template>

<style scoped>
header,
nav,
.right {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

header {
  height: 3rem;
  margin: 0.75rem;
}

.logo {
  height: 100%;
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  color: var(--color-text-secondary);
  text-decoration: none;
  font-weight: 600;
}

.nav-item svg {
  height: 1.125em;
  width: 1.125em;
}

.nav-item svg,
.nav-item span {
  flex-shrink: 0;
}

.nav-item.active {
  color: var(--color-text-accent);
}

.right {
  margin-left: auto;
}
</style>
