/* Note: this is mostly a draft */
.theme-dark {
  --color-text-primary: #fff;
  --color-text-secondary: rgba(255, 255, 255, 0.7);
  --color-text-muted: rgba(255, 255, 255, 0.45);
  --color-text-inverted: #000;

  --color-text-accent: #4747B2;
  --color-text-accent-contrast: var(--color-text-primary);

  --color-text-warning: #F4B42A;
  --color-text-warning-contrast: var(--color-text-inverted);

  --color-text-danger: #E25141;
  --color-text-danger-contrast: var(--color-text-primary);

  --color-text-success: #7BB872;
  --color-text-success-contrast: var(--color-text-inverted);

  --color-background-primary: #252525;
  --color-background-secondary: #3f3f3f;
  --color-background-tertiary: #505050;
  --color-background-gray: #8a8a8a;

  --color-background-accent: #4747B2;
  --color-background-accent-light: #E5E5FF;

  --color-background-warning: #F6BF4C;
  --color-background-warning-light: rgba(246, 191, 76, 0.3);

  --color-background-danger: #E25141;
  --color-background-danger-light: rgba(226, 81, 65, 0.3);

  --color-background-success: #7BB872;
  --color-background-success-light: rgba(123, 184, 114, 0.3);

  --color-border-primary: rgba(255, 255, 255, 0.08);
  --color-border-accent: #4747B2;
  --color-border-warning: #F6BF4C;
  --color-border-danger: #E25141;
  --color-border-success: #7BB872;

  --color-separator: rgba(255, 255, 255, 0.25);
  --color-outline: var(--color-background-accent);

  --hue-delta: calc(360 / 12);
  --hue-sat: 40%;
  --hue-lum: 55%;
  --color-courses-1: hsl(calc(0 * var(--hue-delta)), var(--hue-sat), var(--hue-lum));
  --color-courses-2: hsl(calc(1 * var(--hue-delta)), var(--hue-sat), var(--hue-lum));
  --color-courses-3: hsl(calc(2 * var(--hue-delta)), var(--hue-sat), var(--hue-lum));
  --color-courses-4: hsl(calc(3 * var(--hue-delta)), var(--hue-sat), var(--hue-lum));
  --color-courses-5: hsl(calc(4 * var(--hue-delta)), var(--hue-sat), var(--hue-lum));
  --color-courses-6: hsl(calc(5 * var(--hue-delta)), var(--hue-sat), var(--hue-lum));
  --color-courses-7: hsl(calc(6 * var(--hue-delta)), var(--hue-sat), var(--hue-lum));
  --color-courses-8: hsl(calc(7 * var(--hue-delta)), var(--hue-sat), var(--hue-lum));
  --color-courses-9: hsl(calc(8 * var(--hue-delta)), var(--hue-sat), var(--hue-lum));
  --color-courses-10: hsl(calc(9 * var(--hue-delta)), var(--hue-sat), var(--hue-lum));
  --color-courses-11: hsl(calc(10 * var(--hue-delta)), var(--hue-sat), var(--hue-lum));
  --color-courses-12: hsl(calc(11 * var(--hue-delta)), var(--hue-sat), var(--hue-lum));

  --border-radius: 10px;
  --border-radius-small: 6px;

  --shadow-strong: 0px 3px 6px 0px rgba(0, 0, 0, 0.25);
  --shadow-light: 0px 6px 12px 0px rgba(0, 0, 0, 0.15);
}
