:root {
  --color-text-primary: #000;
  --color-text-secondary: rgba(0, 0, 0, 0.7);
  --color-text-muted: rgba(0, 0, 0, 0.45);
  --color-text-inverted: #FFF;

  --color-text-accent: #4747B2;
  --color-text-accent-contrast: var(--color-text-inverted);

  --color-text-warning: #F4B42A;
  --color-text-warning-contrast: var(--color-text-primary);

  /* Note on Red/Black: https://accessibility.psu.edu/color/colorvisiondetails/ */
  /* Despite not being compliant with WCAG 2.x, white is better for red. APCA accurately measures this. */
  --color-text-danger: #E25141;
  --color-text-danger-contrast: var(--color-text-inverted);

  --color-text-success: #7BB872;
  --color-text-success-contrast: var(--color-text-primary);

  --color-background-primary: #FFF;
  --color-background-secondary: #F2F2F2;
  --color-background-tertiary: #E8E7E7;
  --color-background-gray: #D9D9D9;

  --color-background-accent: #4747B2;
  --color-background-accent-light: #E5E5FF;

  --color-background-block: rgba(102, 122, 255, 0.12);

  --color-background-warning: #F6BF4C;
  --color-background-warning-light: rgba(246, 191, 76, 0.3);

  --color-background-danger: #E25141;
  --color-background-danger-light: rgba(226, 81, 65, 0.3);

  --color-background-success: #7BB872;
  --color-background-success-light: rgba(123, 184, 114, 0.3);

  --color-border-primary: rgba(0, 0, 0, 0.08);
  --color-border-accent: #4747B2;
  --color-border-warning: #F6BF4C;
  --color-border-danger: #E25141;
  --color-border-success: #7BB872;

  --color-separator: rgba(0, 0, 0, 0.25);

  /* W3C WCAG 2.0 SC 2.7.4 */
  --color-outline: var(--color-background-accent);

  --color-courses-1: #F29D9D;
  --color-courses-2: #F2C89D;
  --color-courses-3: #F2F29D;
  --color-courses-4: #C8F29D;
  --color-courses-5: #9DF29D;
  --color-courses-6: #9DF2C8;
  --color-courses-7: #9DF2F2;
  --color-courses-8: #9DC8F2;
  --color-courses-9: #9D9DF2;
  --color-courses-10: #C89DF2;
  --color-courses-11: #F29DF2;
  --color-courses-12: #F29DC8;

  --border-radius: 10px;
  --border-radius-small: 6px;

  --shadow-strong: 0 3px 6px rgba(0, 0, 0, 0.25);
  --shadow-light: 0 6px 12px rgba(0, 0, 0, 0.15);
}
