<script setup lang="ts">
import { CheckboxCheckedState, useId } from 'radix-vue'
import ContextMenu from './ContextMenu.vue'
import ContextMenuItem from '@/components/uikit/menu/context/ContextMenuItem.vue'
import ContextMenuLabel from '@/components/uikit/menu/context/ContextMenuLabel.vue'
import ContextMenuSeparator from '@/components/uikit/menu/context/ContextMenuSeparator.vue'
import ContextMenuCheckbox from '@/components/uikit/menu/context/ContextMenuCheckbox.vue'
import ContextMenuRadioGroup from '@/components/uikit/menu/context/ContextMenuRadioGroup.vue'
import ContextMenuRadio from '@/components/uikit/menu/context/ContextMenuRadio.vue'
import ContextSubmenu from '@/components/uikit/menu/context/ContextSubmenu.vue'

import SparklesIcon from '~mingcute/weather/sparkles_2_line.svg'

const id = useId()

function initState() {
  return {
    showBookmarks: false as CheckboxCheckedState,
    showFullUrls: false as CheckboxCheckedState,
    people: 'john',
  }
}
</script>

<template>
  <Story title="menu/ContextMenu">
    <Variant title="Basic usage" :init-state="initState">
      <template #default="{ state }">
        <ContextMenu>
          <template #trigger>
            <div class="trigger-area">Right click here</div>
          </template>
          <template #items>
            <ContextMenuItem>
              New Tab
              <template #right>Ctrl+T</template>
            </ContextMenuItem>
            <ContextSubmenu>
              More Tools
              <template #items>
                <ContextMenuItem>
                  Save Page As…
                  <template #right>Ctrl+S</template>
                </ContextMenuItem>
                <ContextMenuItem>Create Shortcut…</ContextMenuItem>
                <ContextMenuItem>Name Window…</ContextMenuItem>
                <ContextMenuSeparator />
                <ContextMenuItem>Developer Tools</ContextMenuItem>
              </template>
            </ContextSubmenu>
            <ContextMenuItem>
              New Window
              <template #right>Ctrl+N</template>
            </ContextMenuItem>
            <ContextMenuItem disabled>
              New Private Window
              <template #right>Shift+Ctrl+N</template>
            </ContextMenuItem>
            <ContextSubmenu>
              More Tools
              <template #items>
                <ContextMenuItem>
                  Save Page As…
                  <template #right>Ctrl+S</template>
                </ContextMenuItem>
                <ContextMenuItem>Create Shortcut…</ContextMenuItem>
                <ContextMenuItem>Name Window…</ContextMenuItem>
                <ContextMenuSeparator />
                <ContextMenuItem>Developer Tools</ContextMenuItem>
                <ContextSubmenu>
                  Even More Tools
                  <template #items>
                    <ContextMenuItem>
                      Save Page As…
                      <template #right>Ctrl+S</template>
                    </ContextMenuItem>
                    <ContextMenuItem>Create Shortcut…</ContextMenuItem>
                    <ContextMenuItem>Name Window…</ContextMenuItem>
                    <ContextMenuSeparator />
                    <ContextMenuItem>Developer Tools</ContextMenuItem>
                    <ContextSubmenu>
                      EVEN MORE TOOLS!!!
                      <template #items>
                        <ContextMenuItem>
                          Save Page As…
                          <template #right>Ctrl+S</template>
                        </ContextMenuItem>
                        <ContextMenuItem>Create Shortcut…</ContextMenuItem>
                        <ContextMenuItem>Name Window…</ContextMenuItem>
                        <ContextMenuSeparator />
                        <ContextMenuItem>Developer Tools</ContextMenuItem>
                      </template>
                    </ContextSubmenu>
                  </template>
                </ContextSubmenu>
              </template>
            </ContextSubmenu>
            <ContextMenuSeparator class="h-[1px] bg-green6 m-[5px]" />
            <ContextMenuCheckbox v-model="state.showBookmarks">
              Show Bookmarks
              <template #right>Ctrl+B</template>
            </ContextMenuCheckbox>
            <ContextMenuCheckbox v-model="state.showFullUrls">Show Full URLs</ContextMenuCheckbox>
            <ContextMenuItem @select.prevent="state.showBookmarks = 'indeterminate'">
              Make Bookmarks Indeterminate
            </ContextMenuItem>
            <ContextMenuSeparator />

            <ContextMenuRadioGroup v-model="state.people" :aria-labelledby="id">
              <ContextMenuLabel :id="id">People</ContextMenuLabel>
              <ContextMenuRadio value="john">John Doe</ContextMenuRadio>
              <ContextMenuRadio value="jane">Jane Doe</ContextMenuRadio>
            </ContextMenuRadioGroup>

            <ContextMenuSeparator />
            <ContextMenuItem>
              Oh look, icons!
              <template #icon>
                <SparklesIcon />
              </template>
            </ContextMenuItem>
            <ContextMenuItem danger>Beware, I'm dangerous!</ContextMenuItem>
          </template>
        </ContextMenu>
      </template>
    </Variant>
    <Variant title="With lots of options" icon="carbon:chemistry">
      <template #default>
        <ContextMenu>
          <template #trigger>
            <div class="trigger-area">Right click here</div>
          </template>
          <template #items>
            <ContextSubmenu>
              Submenu
              <template #items>
                <ContextMenuItem v-for="i in 100" :key="i">Item {{ i }}</ContextMenuItem>
              </template>
            </ContextSubmenu>
            <ContextMenuItem v-for="i in 100" :key="i">Item {{ i }}</ContextMenuItem>
          </template>
        </ContextMenu>
      </template>
    </Variant>
  </Story>
</template>

<style scoped>
.trigger-area {
  display: flex;
  width: 50vw;
  height: 8rem;
  align-items: center;
  justify-content: center;
  border: 2px currentColor dashed;
  border-radius: 8px;
  font-weight: 500;
  align-self: center;
  justify-self: center;
  margin: 10vh auto 0 auto;
}
</style>

<docs lang="md">
Displays a menu located at the pointer, triggered by a right-click or a long-press on touch devices.

### Trigger
It is not possible to control the context menu using an imperative-like API or a ref, and every element with a context
menu must be wrapped as a trigger of a `ContextMenu`.

The context menu itself does not have an effect on the DOM (no wrapper element).

### ContextMenuItem
Import path: `@/uikit/components/menu/context/ContextMenuItem.vue`

A basic menu item. Emits `@select` when selected. The item can be `disabled`, and/or marked as dangerous using
`danger`. Note that the latter is purely aesthetic, meaning the nuance will not be picked up by screen readers.
You should use it in combination of a confirm prompt.

Supports adding a text on the right. Generally, this place is used to mention keyboard shortcuts but it can be used
for anything that may be relevant.

To prevent the menu from closing when the item is selected, use `@select.prevent`.

### ContextMenuGroup
Import path: `@/uikit/components/menu/context/ContextMenuGroup.vue`

Groups a bunch of items together. Creates an element with WAI-ARIA `role=group`. The underlying implementation does
not make any assumption about the presence of a label within the group, however it's always a good idea to put a
`ContextMenuLabel` and link it to the group using `aria-labelledby` and [`useId`](https://www.radix-vue.com/utilities/use-id.html).

It is possible to nest groups, but this is generally not recommended as it complexifies the layout.

See also: [WCAG 2.0 technique ARIA17](https://www.w3.org/TR/WCAG20-TECHS/ARIA17)

### ContextMenuLabel
Import path: `@/uikit/components/menu/context/ContextMenuLabel.vue`

A simple text label. Does not come with any outstanding semantics.

### ContextMenuSeparator
Import path: `@/uikit/components/menu/context/ContextMenuSeparator.vue`

Horizontal separator to divide the menu in multiple sections. Does not carry any semantic value for assistive
technologies; use `ContextMenuGroup`s to divide the menu semantically in groups.

### ContextMenuCheckbox
Import path: `@/uikit/components/menu/context/ContextMenuCheckbox.vue`

Behaves similarly to `ContextMenuItem`, except it takes a boolean model value and selecting this item will toggle it.
Said value can be `'indeterminate'` to put the checkbox in an indeterminate state.

Expected to be used with [`v-model`](https://vuejs.org/guide/essentials/forms.html) for bidirectional data-binding of
the checkbox value.

### ContextMenuRadioGroup
Import path: `@/uikit/components/menu/context/ContextMenuRadioGroup.vue`

Groups multiple radio controls (`ContextMenuRadio`s) together and controls the value of the radio group.
The underlying implementation does not make any assumption about the presence of a label within the group, however it's
always a good idea to put a `ContextMenuLabel` and link it to the group using `aria-labelledby` and [`useId`](https://www.radix-vue.com/utilities/use-id.html).

Expected to be used with [`v-model`](https://vuejs.org/guide/essentials/forms.html) for bidirectional data-binding of
the checkbox value.

#### ContextMenuRadio
Item import path: `@/uikit/components/menu/context/ContextMenuRadio.vue`

Behaves similarly to `ContextMenuItem`. Requires a string value to be specified.

### ContextSubmenu
Import path: `@/uikit/components/menu/context/ContextSubmenu.vue`

Shows a submenu when the item is hovered. Submenus can be nested infinitely deep. For the most part, its usage is
similar to the one of `ContextMenu` itself.

---
See also: https://www.radix-vue.com/components/context-menu.html
</docs>
