<script lang="ts">
import './menu.css'

import type { ContextMenuRootEmits, ContextMenuContentEmits, ContextMenuContentProps } from 'radix-vue'

export interface ContextMenuProps extends ContextMenuContentProps {}

export type ContextMenuEmits = ContextMenuContentEmits & Pick<ContextMenuRootEmits, 'update:open'>
</script>

<script setup lang="ts">
import {
  ContextMenuContent,
  ContextMenuPortal,
  ContextMenuRoot,
  ContextMenuTrigger,
  useForwardPropsEmits,
} from 'radix-vue'

const props = defineProps<ContextMenuProps>()
const emits = defineEmits<ContextMenuEmits>()
const forwarded = useForwardPropsEmits(props, emits)
</script>

<template>
  <ContextMenuRoot @update:open="emits('update:open', $event)">
    <ContextMenuTrigger v-if="$slots.trigger" as-child>
      <slot name="trigger" />
    </ContextMenuTrigger>

    <ContextMenuPortal>
      <ContextMenuContent v-bind="forwarded" class="flopui-menu-content" :collision-padding="8">
        <div class="flopui-menu-viewport">
          <slot name="items" />
        </div>
      </ContextMenuContent>
    </ContextMenuPortal>
  </ContextMenuRoot>
</template>
