<script setup lang="ts">
import { CheckboxCheckedState, useId } from 'radix-vue'
import DropdownMenu from './DropdownMenu.vue'
import DropdownMenuItem from '@/components/uikit/menu/dropdown/DropdownMenuItem.vue'
import DropdownMenuLabel from '@/components/uikit/menu/dropdown/DropdownMenuLabel.vue'
import DropdownMenuSeparator from '@/components/uikit/menu/dropdown/DropdownMenuSeparator.vue'
import DropdownMenuCheckbox from '@/components/uikit/menu/dropdown/DropdownMenuCheckbox.vue'
import DropdownMenuRadioGroup from '@/components/uikit/menu/dropdown/DropdownMenuRadioGroup.vue'
import DropdownMenuRadio from '@/components/uikit/menu/dropdown/DropdownMenuRadio.vue'
import DropdownSubmenu from '@/components/uikit/menu/dropdown/DropdownSubmenu.vue'
import SparklesIcon from '~mingcute/weather/sparkles_2_line.svg'

const id = useId()

function initState() {
  return {
    showBookmarks: false as CheckboxCheckedState,
    showFullUrls: false,
    people: 'john',
  }
}
</script>

<template>
  <Story title="menu/DropdownMenu">
    <Variant title="Basic usage" :init-state="initState">
      <template #default="{ state }">
        <DropdownMenu>
          <template #trigger>Click me</template>
          <template #items>
            <DropdownMenuItem>
              New Tab
              <template #right>Ctrl+T</template>
            </DropdownMenuItem>
            <DropdownSubmenu>
              More Tools
              <template #items>
                <DropdownMenuItem>
                  Save Page As…
                  <template #right>Ctrl+S</template>
                </DropdownMenuItem>
                <DropdownMenuItem>Create Shortcut…</DropdownMenuItem>
                <DropdownMenuItem>Name Window…</DropdownMenuItem>
                <DropdownMenuSeparator />
                <DropdownMenuItem>Developer Tools</DropdownMenuItem>
              </template>
            </DropdownSubmenu>
            <DropdownMenuItem>
              New Window
              <template #right>Ctrl+N</template>
            </DropdownMenuItem>
            <DropdownMenuItem disabled>
              New Private Window
              <template #right>Shift+Ctrl+N</template>
            </DropdownMenuItem>
            <DropdownSubmenu>
              More Tools
              <template #items>
                <DropdownMenuItem>
                  Save Page As…
                  <template #right>Ctrl+S</template>
                </DropdownMenuItem>
                <DropdownMenuItem>Create Shortcut…</DropdownMenuItem>
                <DropdownMenuItem>Name Window…</DropdownMenuItem>
                <DropdownMenuSeparator />
                <DropdownMenuItem>Developer Tools</DropdownMenuItem>
                <DropdownSubmenu>
                  Even More Tools
                  <template #items>
                    <DropdownMenuItem>
                      Save Page As…
                      <template #right>Ctrl+S</template>
                    </DropdownMenuItem>
                    <DropdownMenuItem>Create Shortcut…</DropdownMenuItem>
                    <DropdownMenuItem>Name Window…</DropdownMenuItem>
                    <DropdownMenuSeparator />
                    <DropdownMenuItem>Developer Tools</DropdownMenuItem>
                    <DropdownSubmenu>
                      EVEN MORE TOOLS!!!
                      <template #items>
                        <DropdownMenuItem>
                          Save Page As…
                          <template #right>Ctrl+S</template>
                        </DropdownMenuItem>
                        <DropdownMenuItem>Create Shortcut…</DropdownMenuItem>
                        <DropdownMenuItem>Name Window…</DropdownMenuItem>
                        <DropdownMenuSeparator />
                        <DropdownMenuItem>Developer Tools</DropdownMenuItem>
                      </template>
                    </DropdownSubmenu>
                  </template>
                </DropdownSubmenu>
              </template>
            </DropdownSubmenu>
            <DropdownMenuSeparator class="h-[1px] bg-green6 m-[5px]" />
            <DropdownMenuCheckbox v-model="state.showBookmarks">
              Show Bookmarks
              <template #right>Ctrl+B</template>
            </DropdownMenuCheckbox>
            <DropdownMenuCheckbox v-model="state.showFullUrls">Show Full URLs</DropdownMenuCheckbox>
            <DropdownMenuItem @select.prevent="state.showBookmarks = 'indeterminate'">
              Make Bookmarks Indeterminate
            </DropdownMenuItem>
            <DropdownMenuSeparator />

            <DropdownMenuRadioGroup v-model="state.people" :aria-labelledby="id">
              <DropdownMenuLabel :id="id">People</DropdownMenuLabel>
              <DropdownMenuRadio value="john">John Doe</DropdownMenuRadio>
              <DropdownMenuRadio value="jane">Jane Doe</DropdownMenuRadio>
            </DropdownMenuRadioGroup>

            <DropdownMenuSeparator />
            <DropdownMenuItem>
              Oh look, icons!
              <template #icon>
                <SparklesIcon />
              </template>
            </DropdownMenuItem>
            <DropdownMenuItem danger>Beware, I'm dangerous!</DropdownMenuItem>
          </template>
        </DropdownMenu>
      </template>
    </Variant>
    <Variant title="On the side" :init-state="initState">
      <template #default="{ state }">
        <DropdownMenu side="right">
          <template #trigger>Click me</template>
          <template #items>
            <DropdownMenuItem>
              New Tab
              <template #right>Ctrl+T</template>
            </DropdownMenuItem>
            <DropdownSubmenu>
              More Tools
              <template #items>
                <DropdownMenuItem>
                  Save Page As…
                  <template #right>Ctrl+S</template>
                </DropdownMenuItem>
                <DropdownMenuItem>Create Shortcut…</DropdownMenuItem>
                <DropdownMenuItem>Name Window…</DropdownMenuItem>
                <DropdownMenuSeparator />
                <DropdownMenuItem>Developer Tools</DropdownMenuItem>
              </template>
            </DropdownSubmenu>
            <DropdownMenuItem>
              New Window
              <template #right>Ctrl+N</template>
            </DropdownMenuItem>
            <DropdownMenuItem disabled>
              New Private Window
              <template #right>Shift+Ctrl+N</template>
            </DropdownMenuItem>
            <DropdownSubmenu>
              More Tools
              <template #items>
                <DropdownMenuItem>
                  Save Page As…
                  <template #right>Ctrl+S</template>
                </DropdownMenuItem>
                <DropdownMenuItem>Create Shortcut…</DropdownMenuItem>
                <DropdownMenuItem>Name Window…</DropdownMenuItem>
                <DropdownMenuSeparator />
                <DropdownMenuItem>Developer Tools</DropdownMenuItem>
                <DropdownSubmenu>
                  Even More Tools
                  <template #items>
                    <DropdownMenuItem>
                      Save Page As…
                      <template #right>Ctrl+S</template>
                    </DropdownMenuItem>
                    <DropdownMenuItem>Create Shortcut…</DropdownMenuItem>
                    <DropdownMenuItem>Name Window…</DropdownMenuItem>
                    <DropdownMenuSeparator />
                    <DropdownMenuItem>Developer Tools</DropdownMenuItem>
                    <DropdownSubmenu>
                      EVEN MORE TOOLS!!!
                      <template #items>
                        <DropdownMenuItem>
                          Save Page As…
                          <template #right>Ctrl+S</template>
                        </DropdownMenuItem>
                        <DropdownMenuItem>Create Shortcut…</DropdownMenuItem>
                        <DropdownMenuItem>Name Window…</DropdownMenuItem>
                        <DropdownMenuSeparator />
                        <DropdownMenuItem>Developer Tools</DropdownMenuItem>
                      </template>
                    </DropdownSubmenu>
                  </template>
                </DropdownSubmenu>
              </template>
            </DropdownSubmenu>
            <DropdownMenuSeparator class="h-[1px] bg-green6 m-[5px]" />
            <DropdownMenuCheckbox v-model="state.showBookmarks">
              Show Bookmarks
              <template #right>Ctrl+B</template>
            </DropdownMenuCheckbox>
            <DropdownMenuCheckbox v-model="state.showFullUrls">Show Full URLs</DropdownMenuCheckbox>
            <DropdownMenuItem @select.prevent="state.showBookmarks = 'indeterminate'">
              Make Bookmarks Indeterminate
            </DropdownMenuItem>
            <DropdownMenuSeparator />

            <DropdownMenuRadioGroup v-model="state.people" :aria-labelledby="id">
              <DropdownMenuLabel :id="id">People</DropdownMenuLabel>
              <DropdownMenuRadio value="john">John Doe</DropdownMenuRadio>
              <DropdownMenuRadio value="jane">Jane Smith</DropdownMenuRadio>
            </DropdownMenuRadioGroup>

            <DropdownMenuSeparator />
            <DropdownMenuItem>
              Oh look, icons!
              <template #icon>
                <SparklesIcon />
              </template>
            </DropdownMenuItem>
            <DropdownMenuItem danger>Beware, I'm dangerous!</DropdownMenuItem>
          </template>
        </DropdownMenu>
      </template>
    </Variant>
    <Variant title="With lots of options" icon="carbon:chemistry">
      <template #default>
        <DropdownMenu>
          <template #trigger>Click me</template>
          <template #items>
            <DropdownSubmenu>
              Submenu
              <template #items>
                <DropdownMenuItem v-for="i in 100" :key="i">Item {{ i }}</DropdownMenuItem>
              </template>
            </DropdownSubmenu>
            <DropdownMenuItem v-for="i in 100" :key="i">Item {{ i }}</DropdownMenuItem>
          </template>
        </DropdownMenu>
      </template>
    </Variant>
  </Story>
</template>

<docs lang="md">
Displays a menu to the user—such as a set of actions or functions—triggered by a button.

### Trigger
By default the trigger is a [SimpleButton](../button/SimpleButton.story.vue), however you can change that by using
`as-child`. Refer to [Radix Vue's Composition documentation](https://www.radix-vue.com/guides/composition.html) for
more details.

Be careful, when using `as-child` you **must** make sure you are using an element that is accessible and responds
to all the requirements of a button.

### DropdownMenuItem
Import path: `@/uikit/components/menu/dropdown/DropdownMenuItem.vue`

A basic menu item. Emits `@select` when selected. The item can be `disabled`, and/or marked as dangerous using
`danger`. Note that the latter is purely aesthetic, meaning the nuance will not be picked up by screen readers.
You should use it in combination of a confirm prompt.

Supports adding a text on the right. Generally, this place is used to mention keyboard shortcuts but it can be used
for anything that may be relevant.

To prevent the menu from closing when the item is selected, use `@select.prevent`.

### DropdownMenuGroup
Import path: `@/uikit/components/menu/dropdown/DropdownMenuGroup.vue`

Groups a bunch of items together. Creates an element with WAI-ARIA `role=group`. The underlying implementation does
not make any assumption about the presence of a label within the group, however it's always a good idea to put a
`DropdownMenuLabel` and link it to the group using `aria-labelledby` and [`useId`](https://www.radix-vue.com/utilities/use-id.html).

It is possible to nest groups, but this is generally not recommended as it complexifies the layout.

See also: [WCAG 2.0 technique ARIA17](https://www.w3.org/TR/WCAG20-TECHS/ARIA17)

### DropdownMenuLabel
Import path: `@/uikit/components/menu/dropdown/DropdownMenuLabel.vue`

A simple text label. Does not come with any outstanding semantics.

### DropdownMenuSeparator
Import path: `@/uikit/components/menu/dropdown/DropdownMenuSeparator.vue`

Horizontal separator to divide the menu in multiple sections. Does not carry any semantic value for assistive
technologies; use `DropdownMenuGroup`s to divide the menu semantically in groups.

### DropdownMenuCheckbox
Import path: `@/uikit/components/menu/dropdown/DropdownMenuCheckbox.vue`

Behaves similarly to `DropdownMenuItem`, except it takes a boolean model value and selecting this item will toggle it.
Said value can be `'indeterminate'` to put the checkbox in an indeterminate state.

Expected to be used with [`v-model`](https://vuejs.org/guide/essentials/forms.html) for bidirectional data-binding of
the checkbox value.

### DropdownMenuRadioGroup
Import path: `@/uikit/components/menu/dropdown/DropdownMenuRadioGroup.vue`

Groups multiple radio controls (`DropdownMenuRadio`s) together and controls the value of the radio group.
The underlying implementation does not make any assumption about the presence of a label within the group, however it's
always a good idea to put a `DropdownMenuLabel` and link it to the group using `aria-labelledby` and [`useId`](https://www.radix-vue.com/utilities/use-id.html).

Expected to be used with [`v-model`](https://vuejs.org/guide/essentials/forms.html) for bidirectional data-binding of
the checkbox value.

#### DropdownMenuRadio
Item import path: `@/uikit/components/menu/dropdown/DropdownMenuRadio.vue`

Behaves similarly to `DropdownMenuItem`. Requires a string value to be specified.

### DropdownSubmenu
Import path: `@/uikit/components/menu/dropdown/DropdownSubmenu.vue`

Shows a submenu when the item is hovered. Submenus can be nested infinitely deep. For the most part, its usage is
similar to the one of `DropdownMenu` itself.

---
See also: https://www.radix-vue.com/components/dropdown-menu.html
</docs>
