.flopui-menu-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: var(--border-radius-small);
  font-size: 0.85rem;
  height: 1.625rem;
  position: relative;
  padding: 0 0.5rem 0 1.75rem;
  user-select: none;
  gap: 0.5rem;
}

[dir='rtl'] .flopui-menu-item {
  padding: 0 1.75rem 0 0.5rem;
}

.flopui-menu-item-contents {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.flopui-menu-item:focus {
  outline: 2px transparent solid;
}

.flopui-menu-item[data-disabled] {
  color: var(--color-text-muted);
  pointer-events: none;
}

.flopui-menu-item[data-state='open'] {
  background-color: var(--color-background-accent-light);
}

.flopui-menu-item[data-highlighted] {
  background-color: var(--color-background-accent);
  color: var(--color-text-accent-contrast);
}

.flopui-menu-item[data-highlighted] .flopui-menu-item-right,
.flopui-menu-item[data-highlighted] .flopui-menu-item-indicator {
  color: inherit;
}

.flopui-menu-item.danger {
  color: var(--color-text-danger);
}

.flopui-menu-item.danger[data-state='open'] {
  background-color: var(--color-background-danger-light);
}

.flopui-menu-item.danger[data-highlighted] {
  background-color: var(--color-background-danger);
  color: var(--color-text-danger-contrast);
}

.flopui-menu-item.danger[data-highlighted] .flopui-menu-item-right,
.flopui-menu-item.danger[data-highlighted] .flopui-menu-item-indicator {
  color: inherit;
}

.flopui-menu-item-right {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  margin-left: 1rem;
  gap: 0.25rem;
  color: var(--color-text-muted);
}

[dir='rtl'] .flopui-menu-item-right {
  margin-left: 0;
  margin-right: 1rem;
}

[dir='rtl'] .flopui-menu-item-more {
  transform: rotate(180deg);
}

.flopui-menu-item svg {
  width: 1rem;
  height: 1rem;
  fill: currentColor;
}

.flopui-menu-item-label {
  padding: 0 0.5rem 0 1.75rem;
  font-size: 0.75rem;
  line-height: 1.5rem;
  color: var(--color-text-muted);
}

[dir='rtl'] .flopui-menu-item-label {
  padding: 0 1.75rem 0 0.5rem;
}

.flopui-menu-item-separator {
  height: 1px;
  margin: 0.35rem -0.25rem;
  background-color: var(--color-separator);
}

.flopui-menu-item-icon,
.flopui-menu-item-indicator {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: inherit;

  position: absolute;
  left: 0.375rem;

  width: 1rem;
  height: 1rem;
}

[dir='rtl'] .flopui-menu-item-icon,
[dir='rtl'] .flopui-menu-item-indicator {
  left: unset;
  right: 0.375rem;
}

.flopui-menu-item-indicator {
  width: 1rem;
  height: 1rem;
}

.flopui-menu-item-indicator-small {
  padding: 0.5rem;
}

.flopui-menu-radio-dot {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 2px currentColor solid;
  transform: scale(0.8);
}

.flopui-menu-radio-dot::before {
  content: '';
  display: block;
  width: 0.25rem;
  height: 0.25rem;
  border-radius: 50%;
  background-color: currentColor;
}
