.flopui-menu-content {
  display: flex;
  flex-direction: row;
  position: relative;
  min-width: 220px;
  background-color: var(--color-background-primary);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-strong);
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  user-select: none;
  cursor: default;
  padding: 0.25rem;

  max-height: var(--radix-popper-available-height);
}

.flopui-menu-viewport {
  flex: 1;
  overflow-y: auto;
  overflow-x: visible;
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}

.flopui-menu-viewport::-webkit-scrollbar {
  display: none;
}

.flopui-menu-submenu  {
  max-height: calc(100vh - 32px);
}

@media (prefers-reduced-motion: no-preference) {
  .flopui-menu-content {
    will-change: transform, opacity;
  }

  .flopui-menu-content[data-side='top'] {
    animation-name: flopui-slide-down-and-fade-in;
  }

  .flopui-menu-content[data-side='right'] {
    animation-name: flopui-slide-left-and-fade-in;
  }

  .flopui-menu-content[data-side='bottom'] {
    animation-name: flopui-slide-up-and-fade-in;
  }

  .flopui-menu-content[data-side='left'] {
    animation-name: flopui-slide-right-and-fade-in;
  }
}

.flopui-menu-arrow {
  fill: var(--color-background-primary);
  filter: drop-shadow(var(--shadow-strong));
}

/* Neutralize link */
.flopui-menu-content a,
.flopui-menu-content a:hover {
  all: unset;
  box-sizing: border-box;

  color: inherit;
  user-select: none;
}
