<script lang="ts">
import type { RadioGroupItemProps } from 'radix-vue'

export enum RadioColor {
  PRIMARY = 'primary',
  WARNING = 'warning',
  DANGER = 'danger',
  SUCCESS = 'success',
}

export interface CheckboxInputProps extends RadioGroupItemProps {
  color?: RadioColor
}
</script>

<script setup lang="ts">
import { computed } from 'vue'
import { RadioGroupIndicator, RadioGroupItem, useId } from 'radix-vue'
import { useForwardPropsEmitsSkip } from '@/composables/uikit/useForwardPropsEmitsSkip'

import InputLabel from '@/components/uikit/form/base/InputLabel.vue'

const props = withDefaults(defineProps<CheckboxInputProps>(), { color: RadioColor.PRIMARY })
const forwarded = useForwardPropsEmitsSkip(props, null, ['color', 'id'])

const internalId = useId()
const id = computed(() => props.id || internalId)
</script>

<template>
  <div class="flopui-radio-item">
    <RadioGroupItem v-bind="forwarded" :id="id" :class="['flopui-radio', `flopui-radio__color-${color}`]">
      <RadioGroupIndicator class="flopui-radio-indicator" />
    </RadioGroupItem>
    <InputLabel :for="id">
      <slot />
    </InputLabel>
  </div>
</template>

<!--suppress CssUnusedSymbol -->
<style>
.flopui-radio-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.flopui-radio {
  all: unset;
  box-sizing: border-box;

  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--color-background-primary);
  border: 1px var(--color-border-primary) solid;
  border-radius: 50%;
  cursor: pointer;

  transition:
    background-color 0.1s,
    border-color 0.1s;
}

.flopui-radio[disabled] {
  background-color: var(--color-background-secondary);
  opacity: 0.7;
  cursor: not-allowed;
}

.flopui-radio-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.flopui-radio-indicator::after {
  content: '';
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
}

.flopui-radio:not([disabled]):hover.flopui-radio__color-primary,
.flopui-radio[data-state='checked'].flopui-radio__color-primary {
  border-color: var(--color-border-accent);
}

.flopui-radio:not([disabled]):hover.flopui-radio__color-primary {
  background-color: var(--color-background-accent-light);
}

.flopui-radio__color-primary .flopui-radio-indicator::after {
  background-color: var(--color-background-accent);
}

.flopui-radio:not([disabled]):hover.flopui-radio__color-warning,
.flopui-radio[data-state='checked'].flopui-radio__color-warning {
  border-color: var(--color-border-warning);
}

.flopui-radio:not([disabled]):hover.flopui-radio__color-warning {
  background-color: var(--color-background-warning-light);
}

.flopui-radio__color-warning .flopui-radio-indicator::after {
  background-color: var(--color-background-warning);
}

.flopui-radio:not([disabled]):hover.flopui-radio__color-danger,
.flopui-radio[data-state='checked'].flopui-radio__color-danger {
  border-color: var(--color-border-danger);
}

.flopui-radio:not([disabled]):hover.flopui-radio__color-danger {
  background-color: var(--color-background-danger-light);
}

.flopui-radio__color-danger .flopui-radio-indicator::after {
  background-color: var(--color-background-danger);
}

.flopui-radio:not([disabled]):hover.flopui-radio__color-success,
.flopui-radio[data-state='checked'].flopui-radio__color-success {
  border-color: var(--color-background-success);
}

.flopui-radio:not([disabled]):hover.flopui-radio__color-success {
  background-color: var(--color-background-success-light);
}

.flopui-radio__color-success .flopui-radio-indicator::after {
  background-color: var(--color-background-success);
}

.flopui-radio:focus {
  outline: var(--color-outline) solid 3px;
  outline-offset: -1px;
}
</style>
