<template>
  <div class="container">
    <iframe src="/fr/flopeditor" />
  </div>
</template>

<style scoped>
.container {
  height: calc(100vh - 4.5rem);
  overflow: hidden;
}

iframe {
  all: unset;
  width: 100%;
  height: 100%;
}
</style>
